[2021-11-26 15:28] djdameln opened #6 "anomaly scores computed by patchcore model not used"
The patchcore anomaly map generator computes the image-level anomaly scores, but we don't seem to use them: https://github.com/openvinotoolkit/anomalib/blob/development/anomalib/models/patchcore/model.py#L319

I think we should either use the scores and assign them to batch["pred_scores"], or not compute them at all.

[2021-12-04 19:49] ashwinvaidya17 opened #15 "CUDA out of Memory when training `STFPM`"
Got this error when training STFPM on `pill` category.
Occurred when training from the benchmarking script.

# Error
[code]

# Relevant Config
- Image size = 256

[2021-12-07 11:43] ashwinvaidya17 opened #16 "Switch to CSV Logger"
The repo implements csv logging as a custom callback. Since Pytorch Lightning already has a logger for this, the callback should be replaced with the logger.

[2021-12-09 07:51] ashwinvaidya17 opened #18 "Refactor benchmarking script"
- Add grid search instead of nested for loops
- Run gpu and cpu training in parallel as they don't share resources.

[2021-12-09 10:23] samet-akcay opened #19 "OpenVINO and NNCF compression callbacks cannot be configured from `config.yaml`."
Current CLI refactor cannot configure openvino and nncf callbacks from the config.yaml file.

[2021-12-09 10:29] samet-akcay opened #20 "Fix NNCF Issues."
[OpenvinoCallback](https://github.com/openvinotoolkit/anomalib/blob/development/anomalib/core/callbacks/compress.py) and [NNCFCallback](https://github.com/openvinotoolkit/anomalib/blob/development/anomalib/core/callbacks/nncf_callback.py) implementations are quite similar. They only differ in terms of type of the quantization.

# Tasks
- [ ] Refactor Compression and NNCF callbacks could be merged

[2021-12-10 08:10] samet-akcay opened #21 "Refactor Anomalib CLI"
Current anomalib CLI implements `before_instantiate_classes` method. However, the implementation is not clean and needs refactoring.

# Tasks
- [ ] Use console scripts to replace python tools/train.py

[2021-12-14 05:37] samet-akcay opened #26 "Upload the library to PYPI"
This is to upload `anomalib` to pypi so that the library could be installed via pip.

We would have two options.

1. Basic install that doesn't have openvino. `pip install anomalib`
2. Full option with openvino. This would be something like `pip install anomalib["full"]` or something similar.

Whether to install openvino within the basic version is still a question, and needs further discussion.

[2021-12-14 05:45] samet-akcay opened #27 "Use console scripts to replace `python tools/train.py`"
To run training or evaluation, we call a python script such as `python tools/train.py --model padim`. With console scripts, it would be possible to run the same code via `anomalib fit --model padim`. To achieve this we need to modify setup.py. For more information, see [this](https://github.com/openvinotoolkit/training_extensions/blob/develop/ote_cli/setup.py )

[2021-12-14 07:13] samet-akcay opened #28 "Setup codecov with github actions."

[2021-12-14 07:13] ashwinvaidya17 opened #29 "Add `codecov` to CI"

[2021-12-15 19:22] samet-akcay opened #33 "Docs fail in Actions"
CI build passes but docs fail. Would be good to check.

[2021-12-17 08:09] djdameln opened #34 "Get rid of task_type parameter"
The `task_type` parameter currently dictates which types of ground truth data is passed to the model. When the `task_type` parameter is set to `segmentation`, the ground truth pixel masks are passed in addition to the image-level labels. This might no longer be needed. Instead we can just pass whatever ground truth information is available, and let the PL module handle the evaluation based on what

[2021-12-17 10:24] samet-akcay opened #36 "version is hard-coded in `setup.py`. This should be read from either `VERSION.txt` file or in `anomalib.__init__.py`"

[2021-12-21 06:45] samet-akcay opened #40 "PatchCore only support 224x224 input, and 28x28 feature maps."

[2021-12-30 05:32] samet-akcay opened #54 "Add proper logging and remove `print` statements with `logger` via `logger = logging.getLogger("pytorch_lightning")`"
**Describe the bug**
- Currently `print` statements are used to log to console. Instead, `logger` should be used.
- Polish out pl loggings.

**Expected behavior**
- Modules should get access to the pytorch lightning logger via `logger = logging.getLogger("pytorch_lightning")` and log to the console.

**Hardware and Software Configuration**
- OS: [Ubuntu, OD] - any
- NVIDIA Driver Version [470.57.0

[2022-01-04 14:38] marvision-ai opened #56 "Inference Bug - Too many variables to unpack"
Hello, thank you for the great repo!

**Describe the bug**
I cannot run inference.

**To Reproduce**
Steps to reproduce the behavior:
` conda install openvino-ie4py-ubuntu20 -c intel`
` conda install pytorch==1.8.0 torchvision==0.9.0 torchaudio==0.8.0 cudatoolkit=11.1 -c pytorch -c conda-forge`

[code]
- If applicable, add screenshots to help explain your problem.

[code]

**Hardware and Software

[2022-01-04 18:04] samet-akcay commented on #56
Thanks for spotting this @marvision-ai! There have been some changes in the `OpenVinoInferencer`. These changes should also be applied to `TorchInferencer` in `post_process` method. Any thoughts @djdameln, @ashwinvaidya17?

[2022-01-05 06:53] ashwinvaidya17 commented on #56
@samet-akcay I have fixed this in PR https://github.com/openvinotoolkit/anomalib/pull/17
https://github.com/openvinotoolkit/anomalib/blob/feature/ashwin/benchmarking_tools/anomalib/core/model/inference.py#L185

[2022-01-05 14:15] samet-akcay opened #57 "Rename normalization to cdf"
When we created this normalisation, we thought this would be the only method we would use. However, we implemented more methods such as min-max, due to which we need to explicitly rename this method to cdf normalisation

[2022-01-05 18:11] xxl007 commented on #56
Thanks for the great repo. Reporting the same issue.

[2022-01-05 20:37] #57 closed

[2022-01-06 14:42] samet-akcay opened #59 "Implement predict_dataloader in MVTecDataModule"

[2022-01-06 18:45] martin-inpel commented on #56
Thannk you @samet-akcay  and @ashwinvaidya17  for very fast turn around time!

Is there a reason why when I want to load and infer with a `ckpt` file it still needs to import openvino? The documentation states that purely for Pytorch.

[2022-01-06 18:50] marvision-ai commented on #56
Thank you @samet-akcay  and @ashwinvaidya17  for very fast turn around time!

Is there a reason why when I want to load and infer with a `ckpt` file it still needs to import openvino? The documentation states that purely for Pytorch.

`If the specified weight path points to a PyTorch Lightning checkpoint file (.ckpt), inference will run in PyTorch. If the path points to an ONNX graph (.onnx) or Op

[2022-01-06 19:00] samet-akcay commented on #15
Look like the issue that @blakshma is having with the CFlow implementation is quite similar to this if not the same. @djdameln is trying to move the metric computation to the cpu, which would hopefully resolve the issue.

[2022-01-06 20:15] samet-akcay commented on #26
It's now available with the changes in [setup.py](https://github.com/openvinotoolkit/anomalib/blob/development/setup.py#L83)

[2022-01-06 20:15] #26 closed

[2022-01-06 20:17] samet-akcay commented on #33
It's has been sorted, closing.

[2022-01-06 20:17] #33 closed

[2022-01-06 20:40] samet-akcay commented on #29
Closing this due to duplication with #28

[2022-01-06 20:40] #29 closed

[2022-01-07 13:18] samet-akcay opened #61 "Create CONTRIBUTING guidelines."
the repo is missing the contributing guidelines. It should show how contribution to the repo could be made.

It should also note that feature extraction-based methods now need to avoid performing validation before collecting the features from the entire training set.

[2022-01-07 13:38] samet-akcay opened #62 "Check whether `best_model` or `latest_model` is used for `validate` and `test` methods in `tools/train.py`"
**Describe the bug**
- POTENTIAL BUG
- We need to check which model weights are used for `validation` and `test` in `tools/train.py`. Is it the best model or the latest model?

**To Reproduce**
Steps to reproduce the behavior:
1. Debug `python tools/train.py` by monitoring `ModelCheckpoint` callback.

**Expected behavior**
- Best model should be used for `validate` and `test` methods.

[2022-01-07 15:37] djdameln opened #63 "Verify that best (not latest) model is used for testing after early stopping"
In `train.py`, we call `trainer.test` right after the model has been trained with `trainer.train`. It is unclear if this leads to correct behaviour when early stopping is applied. Since we do not explicitly load the best model before calling `trainer.test`, it could be the case that we simply use the latest model. This should be investigated.

[2022-01-09 17:24] blakshma commented on #15
Should we limit number of samples used to calculate pixel level threshold? This might be a bigger problem if users are uploading 1000's of images.

[2022-01-09 17:47] samet-akcay commented on #15
yeah, this is on our agenda. For now this [PR](https://github.com/openvinotoolkit/anomalib/pull/64) will move the computation to cpu.

[2022-01-10 07:45] ashwinvaidya17 opened #65 "Refactor: Modify all callbacks to return `AnomalyModule` instead of `pl_module`"
Ensure that all callbacks return `AnomalyModule` instead of `pl_module`. Otherwise we have to use `cast` statements. Eg-
`compress.py` uses `pl_module = cast(AnomalyModule, pl_module)` to placate mypy. This should be changed to ensure that we always pass `AnomalyModule`.

[2022-01-10 07:47] samet-akcay commented on #65
I think this issue could be more generic to address all the callbacks, which should `AnomalyModule` instead of `pl_module`

[2022-01-10 09:23] #56 closed

[2022-01-10 10:52] sequoiagrove opened #67 "1 epoch"
Is it meant to be only one epoch in training?
Your config files state 1 epoch, is that just as quick example?
I tried to train PADIM for 10 on mvtec leather and wood and the metrics stay the same anyway, so it seems nothing as gained by training more.
Lightning module also warn that there is no optimizer so I guess train only finds the correct thresholds and that takes 1 epoch.

[2022-01-10 11:19] samet-akcay commented on #67
Hi @sequoiagrove, PADIM algorithm doesn't require any CNN-based learning. It rather uses the CNN to extract the features of the training set, which is then used to fit a multivariate gaussian model. We therefore use 1 epoch to go through the entire training set and extract the features.

[2022-01-10 11:21] samet-akcay commented on #67
For the warning that there is no optimiser is also related to the above statement. Since we use the CNN only to extract the features, there is no optimiser set for the CNN training.

[2022-01-10 12:15] sequoiagrove commented on #67
that's what I thought.
to make the infrence work I had to  copy paste some code snippets from your differnt branches to get a displayable heatmap that makes sense.
One issue is that there is not "stats" and thresholds in meta_data, only the image size, so I changed it to return the anomaly map unaltered :  output ,score= inference.predict(image=args.image_path, superimpose=False)
and the inference

[2022-01-10 12:30] samet-akcay commented on #67
and the inference.py takes anomaly_map, image_score . then I normalize it myself i = (i-min) / (max-min) . Looking good.
I tried training my own example with only good samples. It highlighted most my flaws, except some very small subtle changes.

This is a PR we just merged this morning, and haven't thoroughly tested yet. Maybe @ashwinvaidya17 could provide a better insight here.

The models don't

[2022-01-10 12:54] sequoiagrove commented on #67
ah ok , I checked out this friday. Now I re-checked out and now I get good maps out of the box, as long I reverted lightning back to 1.3.6 , put number of workers down to a reasonable amount, and add cv2.waitKey() after imshow.

[2022-01-10 13:05] samet-akcay commented on #67
Yeah, there is a [PR](https://github.com/openvinotoolkit/anomalib/pull/55) that bumps up the lightning version to 1.6.0dev, but there are some breaking changes, and might take some time to merge this.

Good catch for `cv2.waitKey()`, we'll add it asap

[2022-01-10 13:45] sequoiagrove commented on #67
Also found that line 149 in torch.py (inferencer) has to be 👍
            _**anomaly_map = anomaly_map.detach().numpy()**_
in order to run stfpm models.

and patchcore cannot train at the moment due to datatypes:

  | Name                  | Type                     | Params
-------------------------------------------------------------------
0 | image_threshold       | AdaptiveThreshold        | 0

[2022-01-10 13:47] samet-akcay commented on #67
Thanks for reporting these!

[2022-01-10 14:55] sequoiagrove commented on #67
could it be confudsion between torch install that happened when I struggled to enable my GPU?
form conda list:

pytorch                   1.10.1          py3.8_cuda11.3_cudnn8_0    pytorch
pytorch-lightning         1.3.6                    pypi_0    pypi
torch                     1.8.1                    pypi_0    pypi
torch-metrics             1.1.7                    pypi_0    pypi
torchaudio

[2022-01-11 07:21] sequoiagrove commented on #67
fixed it:
in patchcore/utils/random projections.py line 79-83:
                c_idx = torch.tensor(
                    sample_without_replacement(
                        n_population=n_features, n_samples=nnz_idx, random_state=self.random_state
                    )**_,dtype=torch.long_**
                )

[2022-01-11 07:24] sequoiagrove commented on #67
patchcore inference:
  File "d:\projects\anomalib\anomalib\utils\normalization\min_max.py", line 31, in normalize
    normalized = ((targets - threshold) / (max_val - min_val)) + 0.5
TypeError: unsupported operand type(s) for -: 'numpy.ndarray' and 'Tensor'

mixed datatypes.

[2022-01-11 07:50] sequoiagrove commented on #67
Found the issue. I prnted the data types trough out the inference. in model.py score and map is tensor all the way, it is in the deploy/torch.py you ask "isinstance(map, tensor)" . andboth of them are, but it is false because it is two tensors, not just one. and the code for false is to convert pred_score to numpy. but anomaly_map is assumed to be numpy already. the metadata is still tensors so I

[2022-01-11 07:56] sequoiagrove commented on #67
this works for all three models I trained padim, patchcore and stfpm:

        if isinstance(predictions, Tensor):
            anomaly_map = predictions
            pred_score = anomaly_map.reshape(-1).max()
        else:
            if isinstance(predictions[1],( Tensor)):
                anomaly_map, pred_score = predictions
                pred_score = pred_score.detach()
            else:

[2022-01-11 15:28] ashwinvaidya17 commented on #67
@sequoiagrove It is possible that some metrics might have diverged from when we collected the results. There is a plan to re-evaluate all the algorithms. Also, a benchmarking script is in PR state which will help gather results but merging this is pushed back before a refactor we are planning. Here is a tip, if you want to log anomaly images, you can modify `log_images` to `log_images_to: [local]`

[2022-01-11 15:44] sequoiagrove commented on #67
diverged metrics: dropping from 0.99 to 0.44 and 0.03 is rather critical?
log images: nice :)
Also padim dropped in performance, but not as crazy.
Here's a patchcore result of "good" parts:
![008](https://user-images.githubusercontent.com/30144796/148973398-5e317afa-b682-4c44-9131-448fb19a64f2.png)

this is padim:
DATALOADER:0 TEST RESULTS
{'image_AUROC': 0.7589669823646545,
 'image_F1': 0.8787878

[2022-01-11 16:36] sequoiagrove commented on #67
I tried this other patchcore repo  [ https://github.com/hcw-00/PatchCore_anomaly_detection ]on mvtec/screws and it gives me:

{'img_auc': 0.5911047345767575, 'pixel_auc': 0.9048583939897462}

and rather random anomaly maps as well..

[2022-01-12 05:07] samet-akcay commented on #67
Thanks for reporting this discrepancy @sequoiagrove. We'll investigate the benchmarks

[2022-01-14 07:47] VinhLoiIT opened #72 "Support python 3.7"
**Is your feature request related to a problem? Please describe.**
I mainly use `anomalib` on Google Colab but it only supports python=3.7 at the moment. There is an error when running the training command:
`python -m tools.train --model_config_path path/to/config.yaml`

The error was:
[code]

**Suggestion**
AFAIK, `SupportsIndex` is used for type-hint of classes that have `__item__` method, but t

[2022-01-14 08:04] samet-akcay commented on #72
Hi @VinhLoiIT, thank you for your suggestion! We'll try to test the 3.7 support

[2022-01-17 05:22] samet-akcay opened #74 "Diverged metrics in PatchCore: dropping from 0.99 to 0.44 and 0.03 is rather critical?"
diverged metrics: dropping from 0.99 to 0.44 and 0.03 is rather critical?
log images: nice :)
Also padim dropped in performance, but not as crazy.
Here's a patchcore result of "good" parts:
![008](https://user-images.githubusercontent.com/30144796/148973398-5e317afa-b682-4c44-9131-448fb19a64f2.png)

this is padim:
DATALOADER:0 TEST RESULTS
{'image_AUROC': 0.7589669823646545,
 'image_F1': 0.8787878

[2022-01-17 05:56] samet-akcay commented on #74
@sequoiagrove, @blakshma worked on the patchcore results, where he managed to improve the performance to the following:

[code]

To reproduce the numbers you could use [this branch](https://github.com/openvinotoolkit/anomalib/tree/fix/barath/patchcore), to be merged to development soon after [this PR](https://github.com/openvinotoolkit/anomalib/pull/73).

Here are the qualitative results for the o

[2022-01-17 09:20] sequoiagrove commented on #74
I get those numbers too now. but I wonder of the computation of the numbers is also wrong, because when I look through the results images, it only detects about 1/4 to 1/2 of the defects in the different categories. The pixel F1 = 0.35 seems to decribe best the actual performance. but I know that it is low due to correctly detected defects dont have to overlap perfectly to still be a good result.

[2022-01-18 05:01] blakshma opened #75 "On Test Model load callback does not load recently created model"
**Model is loading default model from config file**
- While training model multiple times, new model file version gets created however the old model gets loaded for testing and results are evaluated with the old model. Any change in data or code does not get reflected in the results.

**To Reproduce**
Steps to reproduce the behavior:
1. Train a model with subset of images
2. Retrain with complete

[2022-01-18 05:14] samet-akcay commented on #75
@blakshma can you also provide the cli-commands to produce this

[2022-01-18 05:26] blakshma commented on #75
@samet-akcay it can be any model training. For instance,
python tools/train.py --model patchcore

[2022-01-18 08:16] #74 closed

[2022-01-18 08:50] sequoiagrove commented on #74
pixel auroc of 0.97 sound like it is good performance, but looking at the masks it is really not useful in a real system, and the auc is a bad metric for quantifying performance.
So I guess I should always look at pixel F1. Think thats about the same as dice, right? I use dice in segmentation tasks.
Too bad this list shows only the unrealistically positive auroc numbers:
https://paperswithcode.com

[2022-01-18 09:55] samet-akcay commented on #74
yeah, AUC is widely used in academia, but usually not a good metric for industrial applications since it could be misleading. Finding the best threshold from the AUC is not so easy even though we implemented adaptive thresholding mechanism. This is the reason why we also added f1 score to our evaluations.

Regarding always looking at the pixel f1 score for evaluation, there is room there for impro

[2022-01-18 12:28] rvorias opened #78 "Code attribution"
Hi,

Your implementation of PatchCore coreset selection:
https://github.com/openvinotoolkit/anomalib/blob/3613a6e79a692762ed5d65683ad340f691925a0b/anomalib/models/patchcore/model.py#L212

is VERY similar to my implementation, which I have designed and coded from scratch:
https://github.com/rvorias/ind_knn_ad/blob/57de628b334f9dd62316ac7770db6e963b71ee8e/indad/utils.py#L36

Please elaborate on this

[2022-01-18 12:33] samet-akcay commented on #78
Hi @rvorias, thank you for notifying us. This was a [PR](https://github.com/openvinotoolkit/anomalib/pull/73) that was merged 4 hours ago. I agree that this should have been scanned before merging. I'll revert this PR right now. Apologies.

[2022-01-18 12:35] rvorias commented on #78
I wish to let the open-source community prosper, but I demand attribution.

[2022-01-18 12:38] samet-akcay commented on #78
Can't agree more! As I said, we perform scans before we merge, which we didn't do this time, and this happened. This has now been reverted. Apologies again!

[2022-01-18 12:42] #78 closed

[2022-01-18 19:07] #72 closed

[2022-01-18 19:09] samet-akcay commented on #72
@VinhLoiIT your proposed changes have been added the development branch. I'm therefore closing this.

[2022-01-20 07:22] QQR1 opened #83 "Resize bug in inference"
- When input the width and height of the image are not equal, sizes of input arguments that do not match will occur

Line 152 in  ./anomalib/deploy/inferencers/torch.py should be `anomaly_map = cv2.resize(anomaly_map, (meta_data["image_shape"][1], meta_data["image_shape"][0]))`

meta_data["image_shape"] is (image_width, image_height)
-# cv2.resize(img, (image_height，image_width ),interpolation=cv2

[2022-01-20 07:46] samet-akcay commented on #83
Thanks @QQR1! Good catch!

[2022-01-24 21:56] #6 closed

[2022-01-24 21:56] #15 closed

[2022-01-25 11:39] alexriedel1 opened #85 "Heavy Augmentations + More Epochs"
Hello!
I'm wondering if anyone has experimented with heavy augmentations and therefore increasing the number of training epochs.
If so, did you get any performance gains and/or information about conflicting augmentations?

Thanks!

[2022-01-27 11:13] #67 closed

[2022-01-27 23:40] danielsoy opened #89 "Switch to hard permutation."
Hey There!

Who can help me to modify : all_in_one_block.py script
to avoid this warning, to happen:

C:\Users\libro\AppData\Local\Programs\Python\Python38\lib\site-packages\FrEIA\modules\all_in_one_block.py:123: UserWarning: Soft permutation will take a very long time to initialize with 2048 feature channels. Consider using hard permutation instead.
  warnings.warn(("Soft permutation will take a

[2022-01-28 13:22] alexriedel1 commented on #89
It's defined in the CFlow Backbone https://github.com/openvinotoolkit/anomalib/blob/f1c8a6b553b82a8974ccc9fd27aa5f9b939d5917/anomalib/models/cflow/backbone.py#L98

[2022-01-28 13:32] samet-akcay commented on #89
We could maybe set this as a configurable parameter [here](https://github.com/openvinotoolkit/anomalib/blob/f1c8a6b553b82a8974ccc9fd27aa5f9b939d5917/anomalib/models/cflow/model.py#L143). @blakshma can you comment on this?

[2022-01-28 13:37] samet-akcay commented on #85
@alexriedel1, increasing number of epochs would help for cflow and stfpm. You might want to either remove early stopping, or increase the patience in early stopping.

Other algorithms don't require CNN training and only performs feature extraction. That's why the number of epochs are set to 1.

For the augmentations, I remember that @blakshma performed some experiments to see how augmentations imp

[2022-01-28 13:50] alexriedel1 commented on #85
@samet-akcay
Thanks for your insights! Yes you can totally move this to discussion.

For the feature extracting methods I think artificially increasing the dataloader with augmented samples will have the same effect as multiple epoch learning

[2022-01-28 15:36] danielsoy commented on #89
It worked! Thanks again.

[2022-01-28 16:30] blakshma commented on #85
@alexriedel1 we did experiment some experiments with augmentation. For the MVTec AD dataset, augmentation policies needs to be carefully crafted for each category. For example, rotation deteriorates performance for transistor category but improves it for hazel_nut category.

Overall, the performance improvement that we get heavy augmentation is very small for MVTec case. However, given a more comp

[2022-01-28 16:59] djdameln opened #92 "Always reorder auc inputs after upgrading to pytorch 1.9.x"
In the [AUROC](https://github.com/openvinotoolkit/anomalib/blob/development/anomalib/core/metrics/auroc.py) metric computation, we should ideally always reorder the inputs. Currently the [lack of support](https://github.com/pytorch/pytorch/issues/28871) for [stable](https://en.wikipedia.org/wiki/Sorting_algorithm#Stability) sorting in pytorch 1.8.1 prevents us from doing so (more detailed explanat

[2022-01-28 20:31] soad89 commented on #40
Hello, can you please guide me a bit what needs to be modified to allow higher input resolutions?
Thanks

[2022-02-02 08:07] ashwinvaidya17 opened #93 "Add GANomaly metrics to READMEs"
PR https://github.com/openvinotoolkit/anomalib/pull/70 does not add GANomaly metrics to the readmes.
It will be more convenient to add it after PR https://github.com/openvinotoolkit/anomalib/pull/17 is merged.

The READMEs should follow a similar structure as DFM and DFKDE

# Tasks
- [ ] GANomaly readme
- [ ] Repository readme

[2022-02-02 08:39] ashwinvaidya17 opened #94 "🧪 Increase test coverage for Pre-Merge and Nightly"
PR https://github.com/openvinotoolkit/anomalib/pull/66 splits the tests to nightly and pre-merge. The coverage threshold has been reduced to `71%` and `88%` for nightly and pre-merge jobs, respectively. It should be brought the coverage back to `90%+`.

[2022-02-02 08:52] ashwinvaidya17 opened #95 "🧪 Refactor nightly/pre-merge tests to follow the new refactor design"
Restructure tests to follow the same folder structure as the repo.

# Depends on
- PR https://github.com/openvinotoolkit/anomalib/pull/66
- https://github.com/openvinotoolkit/anomalib/pull/87

[2022-02-07 11:46] erencaglarrr opened #97 "Ganomaly inference.py error"
AttributeError: 'GanomalyLightning' object has no attribute 'model'

[2022-02-07 19:24] ashwinvaidya17 opened #98 "Update README Badges"
Due to refactor in workflows, the coverage badge in README is broken. Add badges for nightly and pre-merge

[2022-02-08 21:51] marvision-ai opened #99 "Inference with OpenCV"
Hello,
Thank you for providing such a fantastic repo!

I was curious if you could show a tutorial on how to use a custom trained model on a live stream webcam with OpenCV. Perhaps with torch and with openvino?

[code]
Thank you in advance :smiley:

[2022-02-09 09:35] #18 closed

[2022-02-14 05:16] samet-akcay commented on #59
Implemented in development branch now.

[2022-02-14 05:16] #59 closed

[2022-02-17 13:56] daMichaelB commented on #97
same here

[2022-02-21 00:08] opassos opened #109 "How to train in a custom dataset?"
I am having a bit of trouble training on a custom dataset. I reproduced the MVTec structure but I still get some errors like:

`IndexError: too many indices for tensor of dimension 0`

[2022-02-21 00:37] #109 closed

[2022-02-21 13:16] opassos opened #110 "patchcore torch.pairwise_distance OOM on larger datasets"
I get CUDA memory blowing when doing larger datasets

[code]

Is there anything that could be done here? like moving this computation to CPU?

[2022-02-22 19:12] alexriedel1 opened #111 "IndexError: tensors used as indices must be long, byte or bool tensors"
**Describe the bug**
When training PatchCore, I'm getting the following error:
`IndexError: tensors used as indices must be long, byte or bool tensors`
caused by the line https://github.com/openvinotoolkit/anomalib/blob/c33d25a19f1b622a3dd354e81976257d9bac6d7f/anomalib/models/components/dimensionality_reduction/random_projection.py#L85

**To Reproduce**
Steps to reproduce the behavior:
Run the Pat

[2022-02-23 09:32] innat opened #112 "Match up with the latest torch version"
**Is your feature request related to a problem? Please describe.**
Currently, it supports `torch==1.8.1`.  Due to some compatibility issue, I couldn't use this library locally conveniently with the other latest versions locally. So, I think it would be better to support `torch>=1.8.1`

https://github.com/openvinotoolkit/anomalib/blob/development/requirements/base.txt

[2022-02-23 10:14] innat commented on #111
@samet-akcay
Could you please take a look into this issue? I've encountered this as well. I tried also PADIM, it worked but PatchCore failed with the above-mentioned error. Also please re-check other architecture.

[2022-02-23 10:16] innat commented on #110
@opassos Have you faced this patchcore issue https://github.com/openvinotoolkit/anomalib/issues/111?

[2022-02-23 11:59] samet-akcay commented on #111
Hi @alexriedel1 and @innat . Thanks for spotting this. @alexriedel1 if you prefer, feel free to create a PR for this to become a contributor! If not, we'll try to immediately add a fix

[2022-02-23 12:00] samet-akcay commented on #111
Have you guys seen this issue when you train patchcore on GPU

[2022-02-23 12:03] samet-akcay commented on #110
Hi @opassos, yeah, as you said, we could make device type optional in the components. Currently almost all of them (ie., model, anomaly-map generators, metric computation) are on GPU, which may not be always efficient.

[2022-02-23 12:07] samet-akcay commented on #112
@innat, we haven't fully tested the repo with `>1.8.1`, which is why we have it like this at the moment. We do want to support `>1.8.1`, for sure, which will be quite shortly.

[2022-02-23 12:07] alexriedel1 commented on #111
I did a PR request. I haven't tried to reproduce the issue on GPU

[2022-02-23 17:23] innat opened #114 "Add FastFlow, a new Anomaly Detector"
**Is your feature request related to a problem? Please describe.**

  - New sota: https://paperswithcode.com/sota/anomaly-detection-on-mvtec-ad
  - paper: https://arxiv.org/pdf/2111.07677v2.pdf

[2022-02-23 20:46] daMichaelB commented on #110
I guess i have the same problem. I opened up this discussion https://github.com/openvinotoolkit/anomalib/discussions/115 as i was not aware of this issue

[2022-02-24 08:07] Youskrpig opened #116 "About model convert"
Is there any supplement about .ckpt converted to .onnx, .bin or .xml?

[2022-02-24 08:46] ashwinvaidya17 opened #117 "Update Pre-commit Documentation"
- Pre-commit documentation refers to the old `requirements_dev.txt` format. This needs to be updated to reflect `requirements/dev.txt`
- Also, command for running it on all files should be added for reference.

[2022-02-24 08:50] samet-akcay commented on #116
Hi @Youskrpig, can you please elaborate?

[2022-02-24 09:35] Youskrpig commented on #116
Ummm. when i finishing training and testing, I get .ckpt of model. How can i  convert it to other format such as .onnx,.bin or .xml? Is there any instruction?

[2022-02-24 09:46] #111 closed

[2022-02-24 10:22] bmabir17-asj commented on #114
- unofficial implementation (WIP) : https://github.com/AlessioGalluccio/FastFlow

[2022-02-25 09:25] Youskrpig opened #121 "A few questions"
Hi，there are some codes which make me confused, hope to get your answer.
1.  In padim/config.yaml, what does nncf(belongs to optimization) mean? and what does function update_nncf_config mean?
2.  If i want to use multiple gpus to train, how should i set? and there are many parameters in trainer section which i wanna figure out each is used for and be clear which can be tuned or not.

[2022-02-26 15:59] samet-akcay commented on #109
Hi @cvramanan, can you elaborate what sort of issues you are having with a custom dataset?

[2022-02-27 15:25] luliuzee opened #124 "PatchCore: Training only on good images and then inference on good and bad images"
First of all, great work! I found this work very interesting! I have a question related to PatchCore implementation.

When there is both training, and testing dataset (images and ground truth) available, then the PatchCore works good and I think during the validation step, it is using the testing data (GT and images) to calculate coreset subsampling.

But imagine a realworld scenario when only goo

[2022-02-28 03:41] hqxiao opened #125 "ModuleNotFoundError: No module named 'anomalib.utils.callbacks'"
**Describe the bug**
-anomalib package install error, seems the package released do not include all function of utils file

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://pypi.org/project/anomalib/0.2.4/#files download the file anomalib-0.2.4-py3-none-any.whl
2. pip install anomalib-0.2.4-py3-none-any.whl
3. cd anomalib
4. python tools/train.py
5. See error ModuleNotFoundError:

[2022-02-28 05:12] samet-akcay commented on #125
Hi @hqxiao, thanks for reporting this. We are aware of this. This is in fact, due to some on-going internal integration efforts. We'll be fixing this shortly. Meanwhile you could install the library via editable pip install as shown below:

[code]

[2022-03-01 10:09] ashwinvaidya17 opened #128 "🧪 Refactor nightly thresholds."
# Current Behaviour
Nightly job checks whether the tests produce results above a particular threshold. This might not be the best way to handle the tests.

# Proposed Behaviour
Run the tests multiple times and report mean and standard deviation. These values should be compared for the nightly job.

[2022-03-01 11:33] ashwinvaidya17 opened #129 "Refactor DFKDE NormalityModel to contain the feature extractor"
Refactor according to comments on PR https://github.com/openvinotoolkit/anomalib/pull/122

_Reference to comment: https://github.com/openvinotoolkit/anomalib/pull/122#r815630006_

[2022-03-01 22:36] birdortyedi commented on #109
I had the exactly same issue, any solution?

[2022-03-02 06:11] samet-akcay commented on #109
@birdortyedi would you be able to share the full error logs from your terminal so that we could reproduce it?

[2022-03-02 06:21] samet-akcay commented on #114
We already have a [branch](https://github.com/openvinotoolkit/anomalib/tree/feature/fastflow) to implement it, but it's still in WiP.

We welcome contributions to the branch. Those who would like to contribute could create a new branch from `feature/fastflow` and create a pull request to this branch.

[code]

Thanks!

[2022-03-02 10:18] birdortyedi commented on #109
I have found that if your test data is not ready in the correct format, the Adaptive threshold part yields the same error.  Solved for me.

anomalib/utils/metrics/adaptive_threshold.py  line 40

[2022-03-03 02:30] innat commented on #114
@samet-akcay Thanks for this information. We're currently working on fastflow, would love to contribute when it's ready.

[2022-03-03 17:40] samet-akcay commented on #121
Hi @Youskrpig, [NNCF](https://github.com/openvinotoolkit/nncf) is a framework for inference optimization. If fast inference is not your concern, you could then ignore this setting.

Regarding multiple gpus to train there is `gpus` flags in trainer settings. For more details, you could refer to this PyTorch Lightning Trainer [documentation](https://pytorch-lightning.readthedocs.io/en/stable/common/

[2022-03-04 13:30] innat opened #130 "Support Kaggle and Colab Environments"
**Is your feature request related to a problem? Please describe.**
  - Kaggle and Colab are free and great resources to do quick experiments. Currently, I've found that it's not possible to run `anomalib` on these environments. I guess, when the [PIP](https://github.com/openvinotoolkit/anomalib#pypi-install) packages get ready, it would be possible.  Supporting these environments would be a great

[2022-03-06 18:14] alexriedel1 commented on #130
Whats exactly your problem on Colab?
I've had no problem using anomalib

[2022-03-07 06:03] innat commented on #130
I actually tried on kaggle, couldn't install it with pip. Maybe due to some torch / Cuda version issue. Have you checked on kaggle env?

[2022-03-07 07:11] mjack3 opened #133 "FastFlow improvement"
**Describe the bug**
FastFlow does not need  Fm.PermuteRandom module

**Screenshots**
![image](https://user-images.githubusercontent.com/37028633/156984008-d4ee339d-ae65-45c3-bfe9-d1393c1a9116.png)

Paper applies random channel permutation. If we read what Freia.AllInOneBlock says:

![image](https://user-images.githubusercontent.com/37028633/156984552-49638ecf-490d-4c24-b834-880bb576cc56.png)

So

[2022-03-07 08:38] alexriedel1 commented on #130
I can only guess if you're not posting the actual error. But my guess is, that Kaggle and Colab are running python 3.7 so you have to change this line in anomalib https://github.com/openvinotoolkit/anomalib/blob/aa49b7d81458832df23a3f58bfa3a38531e8bfef/setup.py#L97

[2022-03-07 09:35] alexriedel1 commented on #130
After moving to the anomalib dir, run the following, then install via pip
[code]

[2022-03-07 10:33] raviv commented on #83
@QQR1  Did you manage to train when width and height of the image are not equal?
I'm getting an error in `anomaly_module.validation_epoch_end()`

[2022-03-07 13:56] raviv commented on #83
@samet-akcay No, I'm getting an error while training, not inference.
You can easily reproduce by setting image size in config.yaml to something like below and trying to train

  image_size:
    - 512
    - 256

[2022-03-07 13:57] samet-akcay commented on #83
which algorithm is this? Patchcore?

[2022-03-07 14:03] raviv commented on #83
@samet-akcay PADIM

[2022-03-07 14:14] samet-akcay commented on #83
Thanks, we'll reproduce the issue, and give you an update here.

[2022-03-08 08:12] kilimi commented on #133
I also get performance boost when remove Fm.PermuteRandom.
But still on another dataset then mvtec, performace of this fastflow implementation is much worse then padim.

[2022-03-08 11:39] samet-akcay commented on #133
Thanks for reporting this @mjack3 and @kilimi. Please note that fastflow is still work in progress, and not ready yet. If you would like to contribute to the project, we welcome and appreciate any contributions.

[2022-03-08 16:09] djdameln opened #136 "GANomaly breaks when changing image size"
**Describe the bug**
- GANomaly training fails when changing the image size in the config.

**To Reproduce**
Steps to reproduce the behavior:
1. Change the `image_size` parameter in the Patchcore config, to for example `[256, 234]`
2. Run training.
3. Training will fail with a runtime error.

**Expected behavior**
- Training should succeed, or notify the user that the specified image size is inval

[2022-03-08 16:13] djdameln commented on #83
@raviv https://github.com/openvinotoolkit/anomalib/pull/135 should solve the `image_size` problems for both training and inference for most models. Patchcore and GANomaly still do not allow changing the image size, but this will be addressed separately, see https://github.com/openvinotoolkit/anomalib/issues/136 and https://github.com/openvinotoolkit/anomalib/issues/40.

[2022-03-08 19:00] alexriedel1 opened #137 "OpenVINO vs Torch Inference"
Hello,
considering using a GPU for inferencing, will the inference using a openvino IR outperform the torch cuda inferencing in terms of speed?

Thanks, Alex

[2022-03-09 07:47] #83 closed

[2022-03-09 08:41] #121 closed

[2022-03-09 09:00] djdameln commented on #63
Can confirm that the latest model is used. This needs to be fixed.

[2022-03-09 09:40] raviv commented on #83
@djdameln got latest dev branch and the fix @QQR1 suggested is not there.
Training works but inference fails on the original bug in this thread (resizing anonmaly map)

[2022-03-09 10:05] lorenzomammana opened #138 "VisualizerCallback not showing properly predicted masks on fully defected images"
**Describe the bug**
When using the visualizer callback I was constantly getting empty masks on completely defected images i.e images in which the anomaly score is greater than the given threshold for each pixel.

If this happens the imshow function called at line 64 of the visualizer.py
`self.axis[index].imshow(image, color_map)`

Will have vmin=255 and vmax=255 resulting in an empty image which

[2022-03-09 10:49] samet-akcay commented on #137
Hi @alexriedel1, depends on the model. The use of GPU is advantageous in many cases.
OpenVINO accelerates the CPU inference, though.

Here is an example that I ran some time ago using NVIDIA 3090 GPU and i9-10980XE CPU. Please note that these stats are not official and experimental only.
<img width="373" alt="image" src="https://user-images.githubusercontent.com/17574420/157426571-f7bad8ca-c005-4f

[2022-03-09 10:54] alexriedel1 commented on #137
Thanks @samet-akcay !
Though these stats are only experimental, I'd be highly interested to see more of these 😄

[2022-03-09 10:58] samet-akcay commented on #137
We plan to add some jupyter notebooks to show this sort of experimentation

[2022-03-09 11:11] lorenzomammana opened #139 "Threshold values are ignored when using non adaptive threshold"
**Describe the bug**
If in the config file I disable the adaptive threshold to use my custom threshold that gives a better tradeoff compared to the adaptive one, the values that I specify are ignored and the default threshold of 0.5 if used (even if I'm not using minmax or cdf).

Looking at the code the values of my custom threshold are used only to initialize the AdaptiveThreshold object
[code]

[2022-03-09 11:15] djdameln commented on #83
@raviv Sorry, I misinterpreted the original post and thought the problem was for non-square `image_size` parameter in the `config.yaml`. I implemented the fix suggested by @QQR1 in a new PR https://github.com/openvinotoolkit/anomalib/pull/140.

[2022-03-09 11:25] samet-akcay commented on #137
Meanwhile, you could use the following benchmarking script to reproduce the throughput results for gpu and cpu
https://github.com/openvinotoolkit/anomalib/blob/development/tools/benchmarking/benchmark.py

[2022-03-09 12:52] samet-akcay commented on #83
@raviv PR #140 has now been merged, and the issue should be fixed. Feel free to re-open it if you think there is still an issue

[2022-03-09 14:27] archg2021 commented on #109
@birdortyedi  can you please share what exactly did you need to change to get the custom data into "correct format". Facing the same error and unable to find what needs to be fixed..

[2022-03-10 13:15] samet-akcay commented on #138
Similar to #139, we'll try to have a look at and address the issue at our earliest convenience.

[2022-03-11 14:20] kilimi opened #143 "Padim, inference on image with different size fails"
**Describe the bug**
superimposed_map = cv2.addWeighted(anomaly_map, alpha, image, (1 - alpha), gamma)
cv2.error: OpenCV(4.2.0) /io/opencv/modules/core/src/arithm.cpp:669: error: (-209:Sizes of input arguments do not match) The operation is neither 'array op array' (where arrays have the same size and the same number of channels), nor 'array op scalar', nor 'scalar op array' in function 'arithm_op

[2022-03-11 14:23] #143 closed

[2022-03-11 14:30] samet-akcay commented on #143
@kilimi, I assume you pulled the latest commit to avoid this issue, right? I'm asking for future reference.

[2022-03-11 19:21] Lucas-Steinmann commented on #40
Hi,
I solved this problem by inferring the largest feature map size from the given feature layer names and the input/tiling size.
I assumed

 * the layer names to be of the same format as ResNet ("layer1", "layer2", ...) and
 * the sub-sampling ratios are the same as in ResNet, i.e. `2**(1+layer_num)`

I know this is kind of hard-coded, but if that is general enough for the maintainers of anomalib

[2022-03-11 19:30] samet-akcay commented on #40
Hi @Lucas-Steinmann, thanks for looking at the issue and proposing a solution. Would be good if you could create the PR. It would also be great if you could document/comment the code based on what you described above so that future enhancements could be built on top of this.

[2022-03-13 05:32] innat commented on #130
@alexriedel1 (cc. @samet-akcay )
I just tried your tips, but unfortunately couldn't make it run. Could you please take a look at this [FILE ](https://www.kaggle.com/ipythonx/anomaly-xyz-temporary/notebook)for reference? I surely have missed something.

[2022-03-13 08:47] alexriedel1 commented on #130
you need the correct torchtext version for pytorch 1.8.1, which is 0.9.1 (`pip install torchtext==0.9.1`)
On Kaggle, you'll run into a openvino import error (as openvino is not installed). You can patch this by not importing openvino in the respective init files.

[2022-03-14 13:35] samet-akcay commented on #109
@archg2021 what's the error you're getting? Same as above?
[code]

And can you show the image filenames? Especially the ground-truth? Ground-truth filenames must end with `..._mask.png`

We're working on a CustomDataset class that handles custom datasets. We aim to merge it this week

[2022-03-14 14:07] archg2021 commented on #109
@samet-akcay First of all thanks a lot for the amazing work. Yes I get the same error.
The image file names are in the date-time format. Ground truth masks also contain the _mask.png` suffix. The dataset folder structure looks as follows:

├── ground_truth
│   ├── broken_large
│   │   ├── 20211124-1251-31_mask.png
│   │   ├── .
│   │   ├── .
│   │   └── 20211124-1625-21_mask.png
│   └── broken_sma

[2022-03-15 08:30] kilimi commented on #143
Yes, I was too slow to write the issue, it was already fixed :D Next time will double check before posting

[2022-03-16 09:46] GuillaumeAnoufa opened #147 "Support training with custom MVTec like dataset but without masks (ground truths)"
Hello,

I would like to be able to train on custom datasets without the need to have ground truth masks since most anomaly detection methods do not use ground truth for training. The format would be the same as any MVTec dataset just without the ground_truth directory.

Edit: I changed data/mvtec.py:253  `if label_index == 0 or not Path(mask_path).exists():
                    mask = np.zeros(shap

[2022-03-16 10:20] archg2021 commented on #109
@samet-akcay Can you help me solve this error.

[2022-03-16 11:07] samet-akcay commented on #147
Thanks @GuillaumeAnoufa for the update! We're working on CustomDataset support and aim to merge it by the end of the week

[2022-03-16 11:11] samet-akcay commented on #109
@archg2021, I unfortunately couldn't reproduce it here. What I would do is to debug it [here](https://github.com/openvinotoolkit/anomalib/blob/development/anomalib/data/mvtec.py#L213). Samples should follow the following format as shown in the [example](https://github.com/openvinotoolkit/anomalib/blob/development/anomalib/data/mvtec.py#L213)

We aim to add the custom dataset support by the end of

[2022-03-17 10:06] mjack3 commented on #133
@samet-akcay sure, I'm working on a solution in my personal github. You can check it

[2022-03-17 10:12] samet-akcay commented on #133
@mjack3 , great thanks! Always open to collaborate!

[2022-03-20 21:17] dreaquil opened #150 "Requirements incompatible with M1 Mac"
**Describe the bug**

Currently when installing the requirements on an M1 Mac, there are certain packages (e.g. torch, numpy, scikit-learn) for which the current version cannot be found or does not work.

**To Reproduce**
Steps to reproduce the behavior:
1. `pip install requirements/base.txt`

**Expected behavior**
- A clear and concise description of what you expected to happen.

**Screenshots**

[2022-03-21 05:44] samet-akcay commented on #150
Hi @dreaquil, can you paste the exact error you're facing so we could reproduce the problem? Thanks!

[2022-03-21 05:45] samet-akcay commented on #139
@djdameln, will you be able to look at this issue?

[2022-03-21 08:58] dreaquil commented on #150
Hi @samet-akcay, there's a few different errors that one needs to work through before getting a functional install. I have started a branch which has the changes I needed to make [here](https://github.com/dreaquil/anomalib/tree/150-m1-mac).
https://github.com/openvinotoolkit/anomalib/pull/151
So far I have found issues in the versions specified of:
- torch (fixed with upgrade)
- torchvision (fixed

[2022-03-21 20:51] dreaquil commented on #150
hi @samet-akcay, just a follow up on this morning's reply. I think the two main issues are nncf and openvino for the M1 mac. The problem is that their dependencies are pinned to exact versions. A lot of packages (like numpy) have only started working on the M1 mac over the past 6 months. This means that I need to upgrade numpy to make it work but this causes a dependency conflict with nncf. Any th

[2022-03-22 07:23] samet-akcay commented on #109
hi @archg2021, there is a PR #154  that adds custom dataset support. If you want to test it out before it's merged you could test it from its [feature branch](https://github.com/openvinotoolkit/anomalib/tree/feature/data/custom-dataset).

[2022-03-22 07:51] james77777778 opened #155 "How to use data augmentation during training process (especially PatchCore)?"
**Is your feature request related to a problem? Please describe.**
I successfully trained PatchCore with custom dataset, but I find that the threshold is too sensitive and the model is hard to generalize. Maybe some extra data augmentation (like color jittering, rotation, etc.) will help the generalization?

https://github.com/openvinotoolkit/anomalib/discussions/119#discussioncomment-2242825

**D

[2022-03-22 10:15] samet-akcay commented on #155
Hi @james77777778, you could use albumentations to[ serialize an augmentation pipeline](https://albumentations.ai/docs/examples/serialization/) into a yaml file. I've created a PR #156 that reads this augmentation yaml file and applies these custom augmentations to the input images. Following this, you don't need to hardcode anything.

[2022-03-22 16:55] #139 closed

[2022-03-22 20:18] mjack3 commented on #114
Did you any progress? I opened my fastflow implementation in my github (wip). The paper is very obscure

[2022-03-22 21:00] dreaquil commented on #150
Hi @samet-akcay,

yes this is possible with the addition of commenting a particular import. I have added this temporary fix in this PR for anyone that needs it. Any idea on rough estimates for nncf and openvino? Our use case is to develop on Mac and to run on intel x86 linux so we would still like the capabilities afforded by openvino.

[2022-03-23 10:05] james77777778 commented on #155
Thanks for the quick response!

But I have a question. Since PatchCore extracts features only once, how the augmentation pipeline works in this scenario?
It makes random augmentation for each image only once (if epoch=1)? It is recommended to set more epochs?

Thanks!

[2022-03-23 10:29] samet-akcay commented on #155
There is already an ongoing discussion here in #119 you could refer to. Maybe we could continue from there?

[2022-03-23 10:37] samet-akcay commented on #150
Hard to tell an estimate for nncf and openvino. I guess it would be better to create in issue in [nncf](https://github.com/openvinotoolkit/nncf) and [openvino](https://github.com/openvinotoolkit/openvino) repos.

[2022-03-23 12:14] samet-akcay commented on #114
Not yet. Unfortunately, we've been packed with other tasks that we couldn't find time to work on this

[2022-03-23 14:07] #155 closed

[2022-03-23 20:03] samet-akcay commented on #40
Since PR #148 addressed this, I'm closing the issue.

[2022-03-23 20:03] #40 closed

[2022-03-23 21:27] alexriedel1 opened #160 "Separate train and test augmentation"
Hello,
in some settings it might be useful to use other image augmentation methods for training than for testing. E.g. in order to make a model rotational invariant, rotating during training might be useful, whereas at test time it might not be necessary.

If you find this a useful contribution for the main branch, i'll create a PR dealing with this issue.

[2022-03-24 10:44] #147 closed

[2022-03-24 13:30] alexriedel1 commented on #130
Hello,
this notebook contains all the necessary steps to get anomalib running on Google Colab
https://colab.research.google.com/drive/1yFtIJP7OkE4-zF8S3kg9lQnqS53Nh95H?usp=sharing

[2022-03-24 14:06] samet-akcay commented on #160
Hi @alexriedel1, yes, that would be really useful in certain usecases!

[2022-03-24 14:07] samet-akcay commented on #160
should I assign this issue to you then?

[2022-03-24 14:09] alexriedel1 commented on #160
yes, thats fine

[2022-03-25 14:22] #130 closed

[2022-03-25 14:28] samet-akcay commented on #130
Hi all, we've recently merged #163. You could have a look and let us know if you encounter any issues.

[2022-03-25 19:19] innat commented on #130
@samet-akcay Thanks.
Could you please add `torchtext==0.9.1` in the set up / requirement file. It's the only issue to run anomalib in colab and kaggle.

[2022-03-28 08:07] patzaa opened #166 "Inference on remote host"
## Could not connect to display

Hey guys I am trying to run the inference example remote on a ubuntu 18.04 server.

and I am getting the following error

[code]

Is there a way how I can save the results or port forward the display?

[2022-03-28 15:03] LukasBommes commented on #166
I ran into the same issue when trying to run `tools/train.py` on Ubuntu 20.04 Desktop with anomalib installed in a conda virtual environment as stated in the readme.

[2022-03-28 15:03] marco-rudolph opened #169 "Improper Normalization for CFlow-AD"
Hi!
I would like to point out that the aggregation of the feature maps for CFlow-AD appears to be improper, since the relative weighting of the individual maps depends on the test set. Here is a reference issue:
https://github.com/gudovskiy/cflow-ad/issues/24
The described problem occurs at this point:
https://github.com/openvinotoolkit/anomalib/blob/8c1a04fc7fbd95fae1dac6cb0641a7381ec8e5d4/anomal

[2022-03-28 17:49] innat opened #170 "Add VT-ADL: a new Anomaly Detector"
**Is your feature request related to a problem? Please describe.**
  - [VT-ADL: A Vision Transformer Network for Image Anomaly Detection and Localization](https://arxiv.org/pdf/2104.10036.pdf)

![image](https://user-images.githubusercontent.com/17668390/160456734-727073b3-00f0-44db-9cf1-eaee8c2138ed.png)

**Describe the solution you'd like**
  - [Official Code](https://github.com/pankajmishra000/V

[2022-03-28 18:05] samet-akcay commented on #130
Done:)

[2022-03-29 04:26] samet-akcay commented on #166
Hi @patzaa and @LukasBommes, sounds like this is more related to opencv and qt installation. Perhaps you could refer to the [issue](https://github.com/opencv/opencv-python/issues/447) created in opencv. [This comment](https://github.com/opencv/opencv-python/issues/447#issuecomment-779847130) seems to address it.

[2022-03-29 08:05] LukasBommes commented on #166
Thanks for your reply! I have PyQt installed, so that could indeed be the issue. I will run anomlib in a Docker container to circumvent this issue.

[2022-03-29 09:16] LukasBommes opened #171 "Dockerfile improvements"
The provided Dockerfile does not work as expected. I had to change it as follows:

[code]
I.e. setup of proxies is not needed for end users and the line `ENV PATH "/opt/conda/bin:${PATH}" && conda install python=3.8` in the Dockerfile lead to a corrupted path.

A further suggestion: You could download the dataset to the host in the entrypoint script, and then map that local dataset into the contai

[2022-03-29 09:32] samet-akcay commented on #171
Thanks @LukasBommes for spotting it. Indeed, it has not been in use for a while, and a lot has been changed since then.

Would you like to create a PR for this to become a conributor?

[2022-03-29 13:56] LukasBommes opened #173 "Issues with heatmap scaling when training without masks"
I ran into an issue when training on a dataset (subset of MVTec), where I set all ground truth masks to zero (to simulate training on a dataset for which I have no ground truth masks). When training with the actual ground truth masks, the model produces heatmaps as expected as in the first image below (produced with `tools/inference.py`). However, when training with the zero masks, the heatmaps se

[2022-03-29 14:25] innat commented on #173
What's your folder structure? In MVTec, it's

[code]

[2022-03-29 14:37] LukasBommes commented on #173
Thanks for your reply!

To rule out the folder dataset as the error source, I reproduced the same issue using the MVTec dataset and default model configs. Once, I train on the provided ground truth masks and once on zero masks. Again, when training on the zero mask, the heatmap is scaled differently.

Should the output heatmap not be independent of the ground truth mask? From my understanding, it

[2022-03-29 15:21] innat commented on #173
[relevant issue.](https://github.com/openvinotoolkit/anomalib/issues/124)
[relevant issue](https://github.com/openvinotoolkit/anomalib/issues/147)

I'm wondering how zero maks can play a role here.

---

@samet-akcay

I'm trying to understand the workflow of the anomaly detection task. If I understand, we only need good samples for training And in testing time, there are good and bad samples with

[2022-03-29 15:38] alexriedel1 commented on #173
At test time, the model normalizes both the anomaly map and the score https://github.com/openvinotoolkit/anomalib/blob/8c1a04fc7fbd95fae1dac6cb0641a7381ec8e5d4/anomalib/deploy/inferencers/torch.py#L154

The values used for this normalization are obtained during validation, but can also be provided by you in the meta data
https://github.com/openvinotoolkit/anomalib/blob/8c1a04fc7fbd95fae1dac6cb0641

[2022-03-29 15:40] samet-akcay commented on #173
Hi @LukasBommes and @innat, it's because you guys set the adaptive threshold to `True`. It calculates the threshold based on the best f1 score based on the prediction and annotations. When you provide zero masks, the model assumes that this is a segmentation task and computes the threshold based on the zero-masks and get confused. That's why you see wrong heatmap as the output.

If you want to use

[2022-03-29 15:52] samet-akcay commented on #173
@innat, if you don't have the mask annotations, you could set the `mask` path to `null`. Something like the following:

[code]

Since there is no mask annotations, the task would become `classification`. It's currently set manually, but we'll be automatically adjusting this

[2022-03-29 16:08] innat commented on #173
@samet-akcay Thank you. My current dataset is kind of a mess (some have ground truth and some don't). I need to sort them out properly.

Could you please inform me how should I update the config with the following folder structure? It's like mv-tec, good samples for training. And, good + defected samples for testing/evaluation. It has the ground truth binary mask.

[code]

I mostly confuse the fol

[2022-03-29 16:25] samet-akcay commented on #173
I would place `defected_type_1` and `defected_type_2` directories into `defect` folder. Otherwise, the folder dataset may not find both of the directories. Something like

[code]

[code]

I'm not 100% sure though, I need to double check this.

Another alternative to folder dataset parameters would be to remove `path` and only have `normal_path`, `abnormal_path` and `mask_path`. This needs some dis

[2022-03-29 16:50] samet-akcay commented on #173
argh, just noticed it now. `folder` format assumes that the dataset doesn't have train/test splits. Your dataset, however, already split into train/test. In this case, `folder` may not be the best option. You might want to use `mvtec` format.

[2022-03-29 16:54] samet-akcay commented on #173
Examples in the docstring might be helpful to understand how `FolderDataset` works
https://github.com/openvinotoolkit/anomalib/blob/development/anomalib/data/folder.py#L316

[2022-03-29 16:55] LukasBommes commented on #173
Thanks for all your inputs on this and good to know that the issue with the heatmap is expected behaviour. I am also looking forward to your new method for setting the threshold in an unsupervised manner.

@samet-akcay: I tried a custom folder dataset and set `task: classification` and `mask: null`. But this also gives me the `KeyError: label` reported [here](https://github.com/openvinotoolkit/ano

[2022-03-30 06:51] LukasBommes commented on #173
Thanks for fixing this. I'll give it a try in the afternoon.

[2022-03-30 10:55] kilimi opened #176 "Add ignore regions"
**Is your feature request related to a problem? Please describe.**
  - It is common in real project to have some regions that there is no need to find anomaly, for example, those could be serial number on the part.
- We can set anomaly map to 0 in regions of interests, but would it make sense to not even include those region in feature extraction and so on (to speed up?) ?

[2022-03-30 11:04] #173 closed

[2022-03-30 21:30] alexriedel1 commented on #176
Considering the variety of different methods that can be used for anomaly detection, I believe it wouldn't make sense to include these cut out regions in the algorithms.

One easy way for you would be to write a dataloader that takes care of this by zeroing some regions in your training data.

[2022-03-31 10:22] MhdKAT opened #180 "Are masks needed if we use classification models like dfm ?"
I tried to run dfm to classify my images as anomalous/non anomalous. I made my dataset in MVTec hierarchy but I get an error when i run the train script with the error being that the trainer can't access segmentation masks. Are they mandatory when the task is to classify? Below is a the error I get.
File "C:\Users\hp\anomalib\env\lib\site-packages\torch\utils\data\_utils\fetch.py", line 44, in <li

[2022-03-31 13:34] samet-akcay commented on #180
@MhdKAT, it's the same issue that was found in `folder` dataset. Need to propose the same fixes to address the issue.
@LukasBommes, yes that's on our todo list, but didn't have a chance to work on it this week unfortunately.

[2022-03-31 14:07] MhdKAT commented on #180
I see ! Thanks for the clarification @LukasBommes,  @samet-akcay.

[2022-03-31 14:36] samet-akcay commented on #169
Hi @marco-rudolph, thanks for spotting this! We'll also have a look at it from our side. Cheers!

[2022-03-31 18:55] LukasBommes opened #182 "Inference on a directory of images"
It would be handy if the inference script could handle not only a single image, but an entire folder of images. Since looking at only a single example does not provide a complete picture of the algorithm's performance.

I know, this could be achieved with a bash script. But it is easier for newcomers to have this functionality built into the inference script.

I would automatically disable graphic

[2022-03-31 20:44] dreaquil opened #183 "Add ROC metric to AnomalyModule"
**Is your feature request related to a problem? Please describe.**
Currently only AUROC and F1 for image and pixel are measured. I think it would be useful to (optionally) include the full ROC.

**Describe the solution you'd like**
 It would be useful to have the ROC metric included as standard or optional.

**Note**
ROC is a bit problematic as a metric because it is currently not possible to simp

[2022-03-31 22:09] mathephysicist opened #184 "Padim object has not attribute 'results'"
**Describe the bug**
If you modify padim/config.yaml save_to_csv to True you get an error

  File "tools/train.py", line 66, in <module>
    train()
  File "tools/train.py", line 62, in train
    trainer.test(model=model, datamodule=datamodule)
  File "/opt/conda/lib/python3.8/site-packages/pytorch_lightning/trainer/trainer.py", line 911, in test
    return self._call_and_handle_interrupt(self._te

[2022-04-01 08:59] brm738 opened #185 "Error while running benchmark.py on GPU"
Running benchmark.py on Nvidia A100 SXM4  produces an error:

Exception: Error occurred while computing benchmark on device File "tools/benchmarking/benchmark.py", line 177, in distribute
    raise Exception(f"Error occurred while computing benchmark on device {job}") from exception
Exception: Error occurred while computing benchmark on device <Future at 0x7f05c18ac310 state=finished raised Except

[2022-04-01 09:06] samet-akcay commented on #184
@mathephysicist, it's probably because `save_to_csv` callback has not been maintained for a while. PadimLightning model had `results` attributes previously, but was then replaced. The callback needs to be updated accordingly to support the new design.

[2022-04-01 10:24] #183 closed, assigned to nobody

[2022-04-01 10:30] samet-akcay commented on #182
[](url)@LukasBommes, yeah this could be possible.

It's also possible to look at the results of the test set without running the inference script. So when you set `log_images_to: ["local"]` in `project` section of the config file, `tools/train.py` saves the results of the entire test set to `./results/<model>/<dataset>/<category>/images/...

Here is an example
![000](https://user-images.githubuser

[2022-04-01 10:40] samet-akcay commented on #176
I'm moving this to the `Feature Request` section in the `Discussion` channel. We could continue the discussion there.

[2022-04-01 10:49] samet-akcay commented on #166
hi @patzaa and @LukasBommes, as you pointed out this is more like an issue with opencv not anomalib. I'm closing this issue for now. Feel free to reopen it if you still have issues regarding anomalib.

[2022-04-01 10:49] #166 closed

[2022-04-01 11:00] #114 closed, assigned to nobody

[2022-04-01 11:36] samet-akcay commented on #62
Duplicate of #63

[2022-04-01 11:36] #62 closed

[2022-04-04 09:30] samet-akcay opened #191 "Fix the pytorch_lightning env vars vulnerability"
**Describe the bug**
the current version of pytorch_lightning library has vulnerability to code injection – code read from environment variables started with PL_ could be evaluated.

See the function parse_env_variables in the file pytorch_lightning/utilities/argparse.py and the decorator _defaults_from_env_vars from the file pytorch_lightning/trainer/connectors/env_vars_connector.py in pytorch li

[2022-04-04 10:48] ashwinvaidya17 commented on #184
Similar to #16

[2022-04-04 11:17] ashwinvaidya17 commented on #75
Duplicate of #63

[2022-04-04 11:17] #75 closed

[2022-04-05 11:04] #63 closed

[2022-04-05 18:50] #171 closed

[2022-04-05 19:04] alexriedel1 opened #199 "Metric for robustness in real-world scenarios"
Hey all,
in real-world scenarios a useful metric for a classifier would be the anomaly-score-distance between all normal and anormal predictions in a test set. This would help to choose classifiers that are more confident in their predictions.

Do you know if a metric exists that implements this in 2-class classification problems?

[2022-04-05 19:09] #138 closed

[2022-04-05 19:27] samet-akcay commented on #27
Converted to a task in #21

[2022-04-05 19:27] #27 closed

[2022-04-05 19:28] #16 closed

[2022-04-06 04:48] alexriedel1 commented on #199
Thats actually the mean (squared) error, also  referred to as brier score In this scenario 🙄

[2022-04-06 07:07] lorenzomammana commented on #138
Thank you for your work!

[2022-04-06 13:16] #160 closed

[2022-04-06 14:08] #89 closed

[2022-04-06 14:27] samet-akcay opened #202 "Use `move_metrics_to_cpu` from `Trainer` to move metric computation to CPU"
**Is your feature request related to a problem? Please describe.**
  - Moving metric computation to cpu is currently not working properly.

**Describe the solution you'd like**
  - We could instead use `move_metrics_to_cpu` in `Trainer` in `config.yaml` file. This way, PL would handle all the device assignments.

[code]
- Might impact #110

[2022-04-07 08:58] cyj95 opened #203 "CUDA out of memory. when python tools/train.py"
python tools/train.py --model_config_path anomalib/models/patchcore/config_cloth.yaml --model patchcore

RuntimeError: CUDA out of memory. Tried to allocate 20.00 MiB (GPU 0; 7.79 GiB total capacity; 5.42 GiB already allocated; 23.50 MiB free; 5.43 GiB reserved in total by PyTorch)
Epoch 0:  62%|██████▏   | 878/1417 [00:15<00:09, 56.28it/s]

[2022-04-07 10:18] alexriedel1 commented on #203
try: `coreset_sampling_ratio: 0.01` in your config file

[2022-04-07 11:49] #180 closed

[2022-04-07 11:51] #125 closed

[2022-04-07 12:12] ashwinvaidya17 commented on #185
Can you share the entire log?

[2022-04-07 12:40] samet-akcay commented on #19
Similar to #20. Closing this.

[2022-04-07 12:40] #19 closed

[2022-04-07 12:58] brm738 commented on #185
Traceback (most recent call last):
  File "/usr/lib/python3.8/concurrent/futures/process.py", line 239, in _process_worker
    r = call_item.fn(*call_item.args, **call_item.kwargs)
  File "/data/home/epi/anomalib/tools/benchmarking/benchmark.py", line 137, in compute_on_gpu
    model_metrics = sweep(run_config, device, seed)
  File "/data/home/epi/anomalib/tools/benchmarking/benchmark.py", line 23

[2022-04-07 20:22] FranLucchini commented on #185
I have the same issue while running on collab pro using a GPU

[2022-04-08 02:52] cyj95 commented on #203
still not solved

[2022-04-08 05:39] alexriedel1 commented on #203
`limit_train_batches: 0.5` then might solve it.

[2022-04-08 07:12] ashwinvaidya17 commented on #95
Closing this issue as this seems to have been addressed already.

[2022-04-08 07:12] #95 closed

[2022-04-08 09:35] brm738 opened #209 "Throughput/Inference Throughput issue in benchmark.py"
When running benchmark.py values of throughput printed in the terminal during program execution does not correspond to inference throughput saved in the result file <model_name>_<device>.csv (example patchcore_gpu.csv or patchcore_cpu.csv).
Values printed in the terminal seems to be OK. Values saved in the file however differs quite significantly from them, especially when running testing/inferenc

[2022-04-08 10:55] samet-akcay commented on #199
@alexriedel1, do you think this is something we should be adding to the repo? If yes, would you be able to provide more detail regarding the use-case?

[2022-04-08 12:06] samet-akcay opened #211 "refactor models to split `torch_model`, `lightning_model` and `anomaly_map`."
**Is your feature request related to a problem? Please describe.**
  - Currently all of the class implementations are stored in a single module called `model.py`. It would be better to split the implementations.

**Describe the solution you'd like**
  - Ideally an algorithm would have `torch_model.py`, `lightning_model.py` and `anomaly_map.py` to store the corresponding implementations.

[2022-04-08 18:26] mvidela31 opened #214 "PathCore: Unable to reproduce the pixel-wise reported performance"
Hi everybody,

I tried to use the **PathCore** model on the MVTec dataset (bottle class), but the pixel-wise performance was well bellow the [reported](https://github.com/openvinotoolkit/anomalib/tree/development/anomalib/models/patchcore). I used the [default config file](https://github.com/openvinotoolkit/anomalib/blob/development/anomalib/models/patchcore/config.yaml) (setting the seed to 42):

[2022-04-08 19:12] #191 closed

[2022-04-08 19:25] samet-akcay commented on #214
Hi @mvidela31, this must be related to one of our recent PRs. We'll investigate this.

[2022-04-09 12:18] alexriedel1 commented on #214
What I can say is, that for some reason the feature map shape of the wide_resnet50_2 now is 32,32 (was 28,28 some time ago) on 224x224 images

[2022-04-09 13:46] alexriedel1 commented on #214
https://github.com/openvinotoolkit/anomalib/commit/2dfa0a7a6b97ffd0557c562b4beae06ff755c1e7
This was when `apply_tiling `was set `True` on default for patchcore. It's the reason why the pixel wise F1 drops signifacantly.

[2022-04-09 17:11] samet-akcay commented on #214
thanks @alexriedel1, nice find! It was probably set to True by mistake. Our nightly tests would have picked this, but unfortunately it's broken now.

@mvidela31, as suggested by @alexriedel1, you could set `apply_tiling: false` in `dataset` section of the  `anomalib/models/patchcore/config.yaml` file.

[2022-04-11 09:30] #65 closed

[2022-04-11 09:31] #117 closed

[2022-04-11 10:11] ashwinvaidya17 commented on #209
@brm738 thanks for noticing this discrepancy! The models use a callback to calculate inference time and throughput. That's what gets printed on the terminal. The benchmarking script computes time taken without using the callback. Also, The models report batch throughput while the benchmarking reports throughput on sequential images. This is because currently the torch and openvino inferencers are

[2022-04-11 11:02] ashwinvaidya17 opened #218 "Show segmentation mask during inference"
Inference should show segmentation mask as well as heatmap.
![Screenshot from 2022-04-11 12-37-36](https://user-images.githubusercontent.com/26067904/162723555-2b84aeca-b41f-4a23-83c6-6101f15377ac.png)

[2022-04-11 11:05] LukasBommes opened #219 "AttributeError: 'NoneType' object has no attribute 'train'"
Currently, I encounter the following error when running `tools/train.py` with a custom folder dataset and `transform_config: null` set in the config.

[code]

The config is as follows:
[code]
Where the rest corresponds to the default Padim config.

[2022-04-11 12:43] alexriedel1 commented on #219
you have to update your config.yaml :)

[2022-04-11 14:22] #182 closed

[2022-04-11 14:22] LukasBommes commented on #219
Ah, I see. Thanks a lot for clarifying this.

[2022-04-11 14:22] #219 closed

[2022-04-11 15:47] #150 closed

[2022-04-11 22:49] dreaquil commented on #112
@samet-akcay, I believe this has already been merge in #158

[2022-04-12 06:35] samet-akcay commented on #199
@alexriedel1, thanks for clarifying this. This would indeed be useful in certain usecases. We could definitely add this metric to the repo.

Our priority at the moment, however, is to make the metrics optional to the user. Metrics are currently hardcoded and computed for each run. Idealy, the user should be able to choose which metric they want to see. They could of course choose to see all of the

[2022-04-12 11:15] #136 closed

[2022-04-12 11:39] #93 closed

[2022-04-12 11:57] alexriedel1 commented on #199
Should I write a PR addressing this?

[2022-04-12 12:29] ashwinvaidya17 commented on #185
I think I linked the wrong issue. I haven't addressed this one yet. I am reopening it.

[2022-04-12 12:30] ashwinvaidya17 commented on #209
Closing as it is addressed in PR #221

[2022-04-12 12:30] #209 closed

[2022-04-12 14:07] djdameln opened #226 "Optional performance metrics"
Anomalib currently supports F1 score and AUROC as performance metrics. Several users have requested that other metrics such as ROC (https://github.com/openvinotoolkit/anomalib/discussions/186) and Brier score (https://github.com/openvinotoolkit/anomalib/issues/199) are added.

The computation of some of these metrics can have high computational cost, especially for threshold-independent metrics su

[2022-04-12 14:09] samet-akcay commented on #199
Thanks @alexriedel1. @djdameln is already working on a design for this. Meanwhile you could maybe add the Brier score implementation if that's alright with you?

[2022-04-12 14:18] ashwinvaidya17 commented on #185
Can you tell me which version of torch and onnx do you have on colab? Also, how did you install anomalib? By cloning the repo?

[2022-04-12 19:43] alexriedel1 commented on #199
@samet-akcay @djdameln
it would be great, if that implementation works in a way, where the torchmetric metrics can be defined in the config.yaml and are computed respectively. This would be an easy way to add custom metrics that are already part of torchmetrics (like MSE).

In kind of pseudecode it would look like:

`config.yaml`
[code]

`anomaly_module.py`
[code]

I hope this makes my intention a

[2022-04-13 06:30] samet-akcay opened #227 "Create a section for Logging and HPO in `README.md` file."
**Is your feature request related to a problem? Please describe.**
  - Currently `README.md` file lacks the instructions of how to run tensorboard and wandb logging as well as HPO runs.

**Describe the solution you'd like**
  - Adding the CLI commands to run these and screenshot for each would be really useful for the newcomers.

[2022-04-13 07:24] luweishuang opened #228 "Does patchcore's model size proportional to the number of training images?"
I notice in patchcore model,  memory_bank size == [coreset_size, 1536], and  coreset_size is proportional to the number of training images, So its model size is proportional to the number of training images too? Is this normal?

[2022-04-13 12:15] #36 closed

[2022-04-13 17:23] samet-akcay commented on #199
@alexriedel1, thanks, it is clear. You could perhaps have a look at WiP PR #230.

[2022-04-14 11:25] Muhammad-Kazim opened #231 "CUDA support unavailable"
There seems to be no CUDA support.

Running Patchcore on a custom dataset. Works fine with cpu but takes forever to train. gpus set to 1 and auto_select_gpus set to True in config file.

My machine has NVIDIA GeForce RTX 3060. However, with the env activated, torch.cuda.is_available() is False.

Made the installations as follows:

conda create -n anomalib_env python=3.8
conda activate anomalib_env

[2022-04-14 11:32] samet-akcay commented on #231
@Muhammad-Kazim, I think this could be related to RTX30*0 series. See [this](https://discuss.pytorch.org/t/nvidia-geforce-rtx-3090-with-cuda-capability-sm-86-is-not-compatible-with-the-current-pytorch-installation/141940), for instance. If you manually install torch with right cuda, it should be able to work

[2022-04-14 11:36] alevangel opened #232 "GPU available but not used"
Executing CFLOW model on Colab, PyTorch returns this

[code]

Even if i'm setting gpus=1 on the config.yml of cflow.

**To Reproduce**
`train.py --model cflow
`

**GPU Model**
GPU 0: Tesla T4

**Versions**
[code]

[2022-04-14 11:38] samet-akcay commented on #232
Hi @alevangel, Which GPU model do you have?

[2022-04-14 11:41] samet-akcay commented on #231
We will double check this though. Looks like this issue is similar to #232

[2022-04-14 11:41] alevangel commented on #232
GPU 0: Tesla T4 (edited)

[2022-04-14 11:42] ashwinvaidya17 commented on #232
@alevangel Can you share your torch version?

[2022-04-14 11:44] alevangel commented on #232
[code]

[2022-04-14 11:54] alevangel commented on #232
I solved rolling back at version of pytorch-lightning==1.5.9

[2022-04-14 12:00] andriy-onufriyenko commented on #232
I have the same problem with CFLOW model on my local machine.
[code]

`python tools/train.py --model cflow
`

GPU:
NVIDIA GeForce GTX 1650 Ti

`pytorch-lightning             1.6.1`

[2022-04-14 12:01] alevangel commented on #232
@andriy-onufriyenko use pytorch-lightning==1.5.9

[2022-04-14 12:19] andriy-onufriyenko commented on #232
Install pytorch-lightning==1.5.9 and have another problem now:

`ModuleNotFoundError: No module named 'torchtext.legacy'`

[2022-04-14 12:23] samet-akcay commented on #231
Closing this as the discussion continues in #232

[2022-04-14 12:23] #231 closed

[2022-04-14 12:26] samet-akcay commented on #232
@andriy-onufriyenko, can you add `torch>=1.8.1` above [this](https://github.com/openvinotoolkit/anomalib/blob/development/requirements/base.txt#L8) line, and do `pip install -e` again?

[2022-04-14 12:47] andriy-onufriyenko commented on #232
@samet-akcay

[code]
It's working but without GPU

[code]
Trying edit `config.yaml` :
[code]
and got

`ValueError: Unsupported accelerator found: gpu. Should be one of [null, ddp]`

[2022-04-14 20:07] samet-akcay commented on #232
I found the problem. PyTorch Lightning deprecated and / or modified some of the `Trainer` configs after `v1.6.0`, which is the reason for not using the GPU despite being available.

The issue has been fixed in PR #234

[2022-04-15 01:46] #228 closed

[2022-04-15 07:42] andriy-onufriyenko commented on #232
@samet-akcay

I checked it works for me:

[code]
Just replace all 11 files from PR [234](https://github.com/openvinotoolkit/anomalib/pull/234) in to my project.

[2022-04-17 10:25] innat opened #236 "Issue in Patch-Core"
## Background

I have tried to run `anomalib` on the kaggle environment (also preparing a tutorial to contribute here for newcomers to get started with `anomalib` 😉).  However, with the `patch-core` model, I'm facing an issue.

## Describe the Behaviour

When I run the script with patch-core, it kinda stuck in the following stage. And I've noticed that the coreset is processing on CPU (usages were

[2022-04-17 10:44] innat commented on #236
Okay, here is a possible solution, will try.  https://github.com/openvinotoolkit/anomalib/issues/232#issuecomment-1099580054

[2022-04-17 14:15] samet-akcay commented on #236
Thanks @innat, that'd be lovely!

Do you want to explicitly use CPU? If yes, then it is indeed an issue that sampling takes lots of time. We want to optimize the code for CPU computation. If you want to use GPU, then, yes #232 is the solution.

We'll be working on the issue #54, which would potentially address this. For the time being you could manually configure the [console logging](https://pyto

[2022-04-17 19:15] innat commented on #236
@samet-akcay No, I don't want that for now. It takes a lot of time.

That PR is not still merged. I will try to run code from `fix/sa/configs` branch.

[2022-04-17 19:58] innat commented on #236
@samet-akcay running from `fix/sa/configs` branch fix the issue. Thanks. 😄

[code]

[2022-04-17 19:58] #236 closed

[2022-04-19 10:05] alevangel opened #237 "AttributeError: 'Trainer' object has no attribute 'loggers'"
**Describe the bug**

When running the testing phase, it returns this error:

[code]

**To Reproduce**
`!python test.py --model cflow`

**Hardware Configuration**
- GPU 0: Tesla T4

**Packages Versions**
[code]

[2022-04-19 13:19] djdameln commented on #202
The `move_metrics_to_cpu` argument is used to move the loss computation to CPU, so this is unrelated to the performance metric computation.

The only problem with the current approach for moving the performance metric computation to CPU, is that we have to explicitly move each tensor to the CPU before passing it to the metric collection, which somewhat clutters the code. Functionally, it works fin

[2022-04-19 13:19] #202 closed

[2022-04-19 19:43] innat opened #240 "`log_graph = True` for tensorboard logger doesn't show model graph."
**Describe the bug**
I wanted to show the computational graph of the `patchcore` model and for that I enable `project.logger: tensorboard` and set `log_graph = True`

[code]

Now, when I finished training, I run the tensorboard and under the `GRAPHS` tag, it showed nothing.

![image](https://user-images.githubusercontent.com/17668390/164081646-1f8d32d4-13d4-4636-a2e0-57ab9fd91eb2.png)

**To Reprod

[2022-04-20 15:08] innat commented on #240
@samet-akcay could you please take a look at this issue?
I tried this [fix](https://github.com/openvinotoolkit/anomalib/pull/233) but ended up with this [issue](https://github.com/openvinotoolkit/anomalib/issues/237).

[2022-04-20 15:35] andriy-onufriyenko opened #243 "TypeError: unsupported operand type(s) for /: 'NoneType' and 'float'"
I want to train CFLOW model on custom dataset.

`config.yaml`
[code]
My dataset have the same structure like MVTec
![image](https://user-images.githubusercontent.com/103642699/164267180-6ffd544c-78c5-452d-a034-ab3f60237869.png)

**To Reproduce**
`python3 tools/train.py --model_config_path anomalib/models/cflow/config.yaml
`

When I start the training, I get an error:

[code]

[2022-04-20 15:55] innat commented on #240
FYI, also added `self.example_input_array` to `PatchcoreModel` inside the `patchcore/torch_model.py`.

Any pointer?

[2022-04-20 17:05] innat opened #244 "Support Tensorboard logging (`add_graph`, `add_image`, `add_histogram`)"
**Is your feature request related to a problem? Please describe.**
  - Not directly. For example, a model which takes 1 epoch, doesn't produce much information in the tensorboard. So, I think it would be intuitive to have an insightful logging feature in Tensorboard.

**Describe the solution you'd like**
  - Ref. https://learnopencv.com/tensorboard-with-pytorch-lightning/

**Describe alternatives

[2022-04-20 18:11] ashwinvaidya17 commented on #237
In the newer pytorch lightning version logger object is part of trainer rather than the lightning module. We are waiting for a few PRs to be merge which will solve the compatibility issue with pytorch lightning >=1.6.0. `trainer.loggers` should work with anomalib out of the box after those PRs have been merged. Till it is fixed you can refer to this comment https://github.com/openvinotoolkit/anoma

[2022-04-20 18:17] ashwinvaidya17 commented on #240
@innat The part about logging images is not documented well. To log images to tensorboard, you need to set `log_images_to: ["tensorboard"]` and `logger: tensorboard`, in the config file of the model.
For the second point, unless I am missing something you should ideally be able add anything to the tensorboard logger using the `logger` object.

[2022-04-20 18:52] innat commented on #240
@ashwinvaidya17 thanks for the info. I've missed the `log_images_to` param in the config file, thought setting to `logger:tensorboard` is enough. I will try and report.

Regarding the model graph, can you please point out what's wrong with the above approach?

[2022-04-20 19:49] #226 closed

[2022-04-20 20:45] #244 closed

[2022-04-20 20:46] innat commented on #240
@ashwinvaidya17 I tested with `log_images_to`, and it worked. It showed the model prediction. I think it's better to at least comment on the possible option. Like

[code]

And I think it would be nice if we can show models layers activation maps. For example: in patch core, the backbone is wide-resnet with layers 2 and 3. How about showcasing their activation maps.

[2022-04-20 20:51] samet-akcay commented on #240
@innat, it will be addressed with #227 .

We could discuss this. Perhaps this could be optional, so the user would be able to access when needed.

[2022-04-20 21:05] innat commented on #240
@ashwinvaidya17

Sorry, I've limited experience in pytorch. In keras, we can use [keras.callbacks.TensorBoard](https://keras.io/api/callbacks/tensorboard/) this convenient callback handles most of the cases, like plot graphs, histograms, images, etc. Could u please share any references where I can find examples regarding tensorboard logging in pytorch-lighting? I found [this](https://learnopencv.c

[2022-04-20 21:20] #232 closed

[2022-04-21 08:12] julien-blanchon commented on #243
`cv2.imread(mask_path, flags=0)` may return None. Try using only absolute path in your config file (and in particular for mask path)

[2022-04-21 12:23] andriy-onufriyenko commented on #243
Got:
[code]

[2022-04-21 13:02] djdameln commented on #243
@andriy-onufriyenko Did you specify the image extension correctly? I can replicate your error by passing `extensions: '.jpg'` in the config and having `.png` images in the dataset folder.

[2022-04-21 13:26] djdameln commented on #199
Solved with https://github.com/openvinotoolkit/anomalib/pull/230. The desired metric can be included by adding `MeanSquaredError` to the list of metrics.

[2022-04-21 13:26] #199 closed

[2022-04-21 20:55] samet-akcay commented on #243
@andriy-onufriyenko, I've created a PR #249 to address your issue. You could use [this branch](https://github.com/openvinotoolkit/anomalib/tree/hotfix/sa/mask_filenames_in_folder_dataset) to test it for now.

I've used the following configuration, and successfully trained the model.

[code]

[2022-04-22 03:15] haobo827 commented on #243
The same problem with you.
Did you solved it?
About:
TypeError: unsupported operand type(s) for /: 'NoneType' and 'float'

[2022-04-22 03:15] haobo827 commented on #243
The same problem with you.
Did you solved it?
About:
TypeError: unsupported operand type(s) for /: 'NoneType' and 'float'

[2022-04-22 04:34] ABoLei opened #250 "Broken link for MVTec AD dataset"
**Describe the bug**
- A clear and concise description of what the bug is.

For users first time download the MVTec AD dataset from `mvtec.py`, it shows `<urlopen error ftp error: error_perm('530 Login incorrect.')>`

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure there is no MVTec under the dataset folder.
2. Run tools/train.py with MVTec AD dataset set up within the `config.yaml`

[2022-04-22 04:36] ABoLei commented on #250
Since the error 503 is server unavailable, if the download link can change to `https://www.mydrive.ch/shares/38536/3830184030e49fe74747669442f0f282/download/420938113-1629952094/mvtec_anomaly_detection.tar.xz`

This problem will resolved

[2022-04-22 07:10] samet-akcay commented on #243
@haobo827 if you use the above branch until it's merged, it should work.

[2022-04-22 09:12] andriy-onufriyenko commented on #243
@samet-akcay

[code]

[2022-04-22 11:13] djdameln opened #253 "Check hash of downloaded MVTec and BTech datasets"
Check the hash of the downloaded datasets

[2022-04-22 11:19] djdameln opened #254 "Add documentation about google colab"
Add a page about google colab to the documentation.
Add badge to readme.

[2022-04-22 11:46] djdameln opened #255 "Describe all aspects of end-to-end training to inference functionality in documentation"
- [ ] Model preparation
- [ ] Model evaluation
- [ ] Inference
- [ ] Export/optimization
- [ ] Logging (tb/wandb)
- [ ] HPO/benchmarking

[2022-04-22 11:54] ashwinvaidya17 opened #256 "Dataset preparation"

[2022-04-22 11:57] #256 closed

[2022-04-22 11:58] djdameln opened #257 "Improve documentation"
- [ ] Add documentation for dataset preparation/model preparation/model evaluation
- [ ] Add documentation for inference/export/optimization
- [ ] Add documentation for logging (tb/wandb)/HPO/benchmarking

[2022-04-22 11:58] djdameln opened #258 "Add documentation for dataset preparation/model preparation/model evaluation"

[2022-04-22 11:58] djdameln opened #259 "Add documentation for inference/export/optimization"

[2022-04-22 11:58] djdameln opened #260 "Add documentation for logging (tb/wandb)/HPO/benchmarking"

[2022-04-22 11:58] #255 closed

[2022-04-22 12:02] samet-akcay opened #261 "Add FastFlow Model"
### Discussed in https://github.com/openvinotoolkit/anomalib/discussions/189

<div type='discussions-op-text'>

<sup>Originally posted by **innat** February 23, 2022</sup>
**Is your feature request related to a problem? Please describe.**

  - New sota: https://paperswithcode.com/sota/anomaly-detection-on-mvtec-ad
  - paper: https://arxiv.org/pdf/2111.07677v2.pdf
</div>

[2022-04-22 12:05] djdameln opened #262 "Add CS-Flow"
Add implementation of the CS-Flow algorithm.
See https://paperswithcode.com/paper/fully-convolutional-cross-scale-flows-for

[2022-04-22 12:05] samet-akcay opened #263 "Add Reverse Distillation Model"
**Is your feature request related to a problem? Please describe.**
  - Add Reverse Distillation Model

**Paper**
 - [Link](https://paperswithcode.com/paper/fully-convolutional-cross-scale-flows-for) to the paper

**Code**
 - [Link](https://github.com/hq-deng/RD4AD) to the original code.

[2022-04-22 12:36] innat commented on #257
@samet-akcay In the discussion tabe, the user can't create a new topic, the [`Net Discussion`](https://github.com/openvinotoolkit/anomalib/discussions) button is not showing.

[2022-04-22 12:52] samet-akcay commented on #34
Closing this issue due to DX

[2022-04-22 12:52] #34 closed

[2022-04-22 14:09] #54 closed

[2022-04-22 14:10] #218 closed

[2022-04-22 14:17] samet-akcay commented on #257
@innat, looks like this is a setting in organizational level. I can't change it myself. Until we sort it out, you could create an issue and label as Discussion. I could then convert it to a discussion

[2022-04-22 14:21] samet-akcay commented on #243
@andriy-onufriyenko, unfortunately, I'm unable to reproduce this issue. Could you perhaps try the mvtec format?

Anyone else having this issue? Any tips to reproduce?

[2022-04-22 14:40] innat opened #265 "An `anomalib` Starter for Newcomers in Kaggle environment."
# 📢  Starter Notebook

We've made a starter notebook for newcomers about how to use `anomalib` library in a kaggle environment. It's a minimal starter notebook, hope newcomers find it useful.

- [MVTec-AD: Anomaly Detection with Anomalib Library](https://www.kaggle.com/code/ipythonx/mvtec-ad-anomaly-detection-with-anomalib-library)

![image](https://user-images.githubusercontent.com/17668390/16473

[2022-04-22 14:41] innat commented on #265
cc. @samet-akcay

[2022-04-22 15:28] samet-akcay commented on #265
@innat this is awesome! Thanks a lot for your contribution!

[2022-04-22 17:38] dreaquil opened #267 "Refactor to use new F1Score over F1"
**Describe the bug**
Torchmetrics has deprecated the use of F1. They now specify to import F1Score. This is a breaking change with the current requirements has broken Anomalib.

**To Reproduce**
Steps to reproduce the behavior:
- Install fresh anomalib
- Run any anomalymodule

**Expected behavior**
- A clear and concise description of what you expected to happen.

**Screenshots**
- If applicable,

[2022-04-22 17:41] dreaquil commented on #267
This seems to have already been fixed in development.

[2022-04-22 17:41] #267 closed

[2022-04-22 17:50] dreaquil commented on #267
@samet-akcay In relation to the above, would it make sense to separate and fix requirements in setup.py? At the moment 0.2.6 is not usable.

[2022-04-22 19:26] samet-akcay commented on #267
@dreaquil, there will be a new release, v0.3.0, before 24th of April.

[2022-04-22 19:51] #250 closed

[2022-04-23 04:51] haobo827 opened #268 "ValueError: Either `preds` and `target` both should have the (same) shape (N, ...), or `target` should be (N, ...) and `preds` should be (N, C, ...)"
I have another problem after dealing with #243
That is:
ValueError: Either `preds` and `target` both should have the (same) shape (N, ...), or `target` should be (N, ...) and `preds` should be (N, C, ...).
Epoch 0: 100%|██████████| 34/34 [09:17<00:00, 16.39s/it, loss=nan]

From:
File "/home/devadmin/haobo/anomalib_venv/lib/python3.8/site-packages/torchmetrics/utilities/checks.py", line 269, in _ch

[2022-04-23 07:09] haobo827 commented on #268
should I set test_batch_size=1？

[2022-04-23 07:15] samet-akcay commented on #268
Can you share the tree structure of your dataset please?

[2022-04-23 07:45] haobo827 commented on #268
data
-wafer_line
--ground_truth
---Positive
--test
---Positive
---Negative
--train
---Negative

And I find too much time for "corest sampling"
beacuse:  it's calculating minimum distance using cpu, it's about one and half hour on my cpu, and
lower coreset_sampling_ratio will reduce computation time, but it also reduce performance? right?

I want to know if there is a good way to solve this cpu cal

[2022-04-23 08:09] samet-akcay commented on #268
Can you set `accelerator: "gpu" # <"cpu", "gpu", "tpu", "ipu", "hpu", "auto">` to `auto`? It shouldn't train on CPU. If it does, there is something wrong

[2022-04-23 11:37] samet-akcay commented on #268
Yes, if you set `test_batch_size: 1`, it would work. We'll investigate why it doesn't work for multiple batch sizes.

[2022-04-23 11:40] samet-akcay commented on #243
@andriy-onufriyenko, I'm closing this issue since `[TypeError: unsupported operand type(s) for /: 'NoneType' and 'float'](https://github.com/openvinotoolkit/anomalib/issues/243#)` has been fixed.

The issue you're having now is due to setting `test_batch_size: 8`. For some reason, multiple test batch size is not supported. If you set it to `test_batch_size: 1`, it would work. You could refer to #2

[2022-04-23 11:40] #243 closed

[2022-04-24 00:55] haobo827 commented on #268
You are right. Much appreciate!

[2022-04-24 14:33] haobo827 opened #269 "PaDiM with wide_resnet50_2"
Only resnet18 in
model:
  name: padim
  backbone: resnet18
  layers:
    - layer1
    - layer2
    - layer3
  normalization_method: min_max # options: [none, min_max, cdf]
  threshold:
    image_default: 3
    pixel_default: 3
    adaptive: true

If I want to use wide_resnet50_2 as net, how can I write the config.yaml?

[2022-04-24 14:36] samet-akcay commented on #269
You need to set `backbone: wide_resnet50_2`

[2022-04-24 14:38] haobo827 commented on #269
Do other parameters need to be changed?

[2022-04-24 14:39] haobo827 commented on #269
Do other parameters in [model] need to be changed?

[2022-04-24 14:41] samet-akcay commented on #269
It depends on what you want, but if you just want to choose `wide_resnet50_2` as the backbone and extract the first three layers, you don't need to change anything.

[2022-04-24 14:44] haobo827 commented on #269
That's what I'm thinking at the moment, how nice of you

[2022-04-24 22:36] haobo827 opened #270 "enforce fail at CPUAllocator.cpp:71"
And it's easy for me that:
Epoch 10:  74%|███████████████2022-04-25 01:08:22,439 - anomalib.models.padim.lightning_model - INFO - Aggregating the embedding extracted from the training set.ation: 0it [00:00, ?it/s]
2022-04-25 01:09:31,280 - anomalib.models.padim.lightning_model - INFO - Fitting a Gaussian to the embedding collected from the training set.
Epoch 11:  74%|███████████████

Then:
Runtim

[2022-04-24 22:38] haobo827 commented on #270
/home/devadmin/haobo/anomalib_env/lib/python3.8/site-packages/torchmetrics/utilities/prints.py:36: UserWarning: Metric `PrecisionRecallCurve` will save all targets and predictions in buffer. For large datasets this may lead to large memory footprint.
  warnings.warn(*args, **kwargs)
/home/devadmin/haobo/anomalib_env/lib/python3.8/site-packages/torchmetrics/utilities/prints.py:36: UserWarning: Metr

[2022-04-24 22:39] haobo827 commented on #270
Thank you for your help and patience

[2022-04-25 04:54] ifarady commented on #243
Hi, i 'm dealing with the same error after i change `test_batch_size: 8` to `test_batch_size: 1`. Did i miss something here?

 dataset:
  name: abn
  format: folder
  path: ./datasets/abn/cable
  normal_dir: 'train/good' # name of the folder containing normal images.
  abnormal_dir: 'test/bent_wire' # name of the folder containing abnormal images.
  normal_test_dir: 'test/good'
  task: segmentatio

[2022-04-25 07:06] samet-akcay commented on #243
@ifarady,

data = [self.dataset[idx] for idx in possibly_batched_index]
File "/media/lin70935/Data/pypro/anomalib/anomalib/data/folder.py", line 283, in getitem
mask = cv2.imread(mask_path, flags=0) / 255.0
TypeError: unsupported operand type(s) for /: 'NoneType' and 'float'

This error occurs when the masks cannot be read properly. Make sure you provided the right paths for the mask.

[2022-04-25 11:47] julien-blanchon opened #273 "Test anomalib with unsupervised dataset"
I'm trying to adapt the current pipeline for some ad hoc dataset (ie EuroSAT) in order to test anomalib and make it more robust. For using the `FolderDataset` for unsupervised segmentation task.

So I'm using the EuroSAT RGB Dataset (https://madm.dfki.de/files/sentinel/EuroSAT.zip), Residential as normal and Industrial as abnormal, and of course no mask/groundtruth.

As everything is fine now on d

[2022-04-25 11:51] julien-blanchon commented on #273
You can find an updated version here: https://github.com/julien-blanchon/anomalib
And download eurosat from here: https://github.com/phelber/EuroSAT

[2022-04-25 11:54] samet-akcay commented on #273
@julien-blanchon, thanks for the update.

Regarding the following error:
[code]

Patchcore currently doesn't support multiple test batch_size. See #268. If you set it to `test_batch_size: 1` it will work. We'll add a hotfix in the next release.

[2022-04-25 12:00] samet-akcay commented on #273
For the early stopping issue,

It's because you set the `task: segmentation` but haven't provided mask `mask: null`. In this case the folder dataset converts the task to `classification`. Maybe we should add some warning messages for this case.

[2022-04-25 12:45] julien-blanchon commented on #273
Why did the folder dataset convert my `task: segmentation` into a `classification` if I don't provide any mask. Anomaly Detection is rarely supervised, most case mask aren't provide

[2022-04-25 12:54] julien-blanchon opened #275 "Add Gradio Support"
Gradio App is an open source machine learning interface running on top of Python : https://gradio.app/

It's quite easy to implement and very hackable.
It's also compatible with Hugging Face Space (https://huggingface.co, https://huggingface.co/spaces).

I may help user and researcher to:

- Quickly debug their model (infer without any line of code, provide web drawing tool ...)
- Showcase their w

[2022-04-25 12:55] julien-blanchon commented on #275
I've implemented a quick example with my EuroSat Dataset here: https://github.com/julien-blanchon/anomalib/tree/gradio
It may for now only work with `segmentation`

[2022-04-25 12:57] ashwinvaidya17 commented on #275
Great stuff! It was on our todo list.

[2022-04-25 13:08] samet-akcay commented on #273
segmentation task means that there are ground-truth masks in the dataset so pixel-level performance computed. If there is no ground-truth mask in the dataset, which is quite common as you said, the task simply becomes a classification task, where the metrics are computed based on the normal/abnormal test labels.

[2022-04-25 13:16] julien-blanchon commented on #273
I think I misunderstood something, most of the current segmentation model did not use the mask information for training (only for validation/visualization purpose). So why enforce the need for a ground truth map (for example here in order to make Padim work I've had to bypass the mask dependency but then everything work fine). Classification task only give a binary output as result, so we don't ge

[2022-04-25 13:39] julien-blanchon commented on #273
I'm very confused, everything seems to work just fine with `task: classification`.
So if I understand well the vocabulary, 'task' only define the evaluation metrics.
-> task classification = image wide normal/abnormal (binary) prediction for evaluation (f1, auroc)
-> task segmentation = pixel wide normal/abnormal (binary) prediction for evaluation (also  f1, auroc)

But it didn't change the inner

[2022-04-25 13:47] samet-akcay commented on #273
Exactly, as you said, task ensures the right performance evaluation and saving the images.

-> task classification = image wide normal/abnormal (binary) prediction for evaluation (f1, auroc)
-> task segmentation = pixel wide normal/abnormal (binary) prediction for evaluation (also f1, auroc)

In addition to this, tasks saves the images accordingly
![supported-tasks](https://user-images.githubuserc

[2022-04-25 13:52] julien-blanchon commented on #273
Thanks you very much, I was struggling on that for a long time now it's crystal clear !

[2022-04-25 13:56] #273 closed

[2022-04-25 14:59] djdameln opened #277 "Support training with only normal images (no evaluation)"
Some users would like to train models with only normal images available, see https://github.com/openvinotoolkit/anomalib/discussions/192 for example. Our current data classes do not support this and always expect a folder of anomalous images to be provided for evaluation purposes. I feel it would be good to add support for training without evaluation.

[2022-04-25 18:19] innat commented on #240
@ashwinvaidya17 Thanks a lot, it's really helpful. I'm currently out of my workplace, will check soon.

[2022-04-26 02:48] wangk98 opened #278 "If I want to use my own dataset, the format needs to be consistent with Mvtec, because I didn't find the relevant dataloader"
**Describe the bug**
- A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
- A clear and concise description of what you expected to happen.

**Screenshots**
- If applicable, add screenshots to help explain your problem.

**Hardware and Software Configur

[2022-04-26 06:02] samet-akcay commented on #278
@wangk98, you could use the [folder dataset](https://github.com/openvinotoolkit/anomalib/blob/development/anomalib/data/folder.py#L304), for which you could use the following as a [sample config](https://github.com/openvinotoolkit/anomalib#custom-dataset)

[2022-04-26 07:33] Nayan-sse-tggs opened #281 "Get segmentation result from inference.py"
If I run `inference.py`, I get a predicted heat map of original image as output. How do I get "**Segmentation Result**" as output (original image anomalies with boundaries) from `inference.py` script? Just like training output result where we get 6 figures which are "Image", "Ground Truth", "Predicted Heat Map", "Predicted Mask", "**Segmentation Result**" and "Classified Image".
Thanks in advance

[2022-04-26 07:57] julien-blanchon commented on #275
I don't have the right to create a new branch here, I don't feel comfortable enough to request a merge with current project branch https://github.com/julien-blanchon/anomalib/tree/gradio

[2022-04-26 07:57] BirdFrozen opened #282 "Get stucked when train patchcore"
**Describe the bug**

change train_batch_size and test_batch_size to 4 in anomalib\models\padim\config.yaml

`python tools/train.py --model patchcore`
shows
`Epoch 0:   0%|                                                                                                                         | 0/292 [00:00<?, ?it/s]C:\ProgramData\Anaconda3\envs\anomalib_env\lib\site-packages\pytorch_lightning\loop

[2022-04-26 08:00] ashwinvaidya17 commented on #275
@julien-blanchon feel free to create a PR from your fork. We squash commits before merging in case that's what you are concerned about. We can always polish the rest in the PR review.

[2022-04-26 08:39] alexriedel1 commented on #282
Depending on your dataset size and your computing ressources, the core-set subsampling can take quite a while. Also you shouldn't increase the test batch size as this will break the torchmetrics metric calculations.

[2022-04-26 10:54] BirdFrozen commented on #282
Thanks a lot,I think it is very slow because anomalib install cpu version of pytorch,so I install a gpu version pytorch and it is very fast now.

[2022-04-26 13:40] ZeynepRuveyda commented on #281
Also you need to change 'category' name inside of the config.yaml file. You can find this in the patchcore folder.

[2022-04-26 14:00] ZeynepRuveyda opened #285 "Improving the result for custom dataset"
Hi,
I am able to running the code but when I am working on the custom dataset, the code did not achive to detect the defect. I tried change the threshold values ,epoch numbers etc.. Do you have any advice for getting good result on my custom dataset?
Thanks,

[2022-04-26 14:22] ZeynepRuveyda commented on #285
My pixel_AUROC , pixel_F1Score  values are always getting me 0. I don't understand where is the problem.

[2022-04-26 14:34] samet-akcay commented on #285
Hi @ZeynepRuveyda, can you share your `config.yaml` file here so we could reproduce?

[2022-04-26 14:37] ZeynepRuveyda commented on #285
dataset:
  name: mvtec #options: [mvtec, btech, folder]
  format: mvtec
  path: ./datasets/MVTec
  category: BACK
  task: segmentation
  image_size: 256
  train_batch_size: 32
  test_batch_size: 32
  num_workers: 36
  transform_config:
    train: null
    val: null
  create_validation_set: false
  tiling:
    apply: false
    tile_size: null
    stride: null
    remove_border_count: 0
    use_rand

[2022-04-26 14:37] ZeynepRuveyda commented on #285
Hi @samet-akcay , here is my config file.

[2022-04-26 14:44] ZeynepRuveyda commented on #285
My custom images looks like metal_nut images which in MVTech dataset.

[2022-04-26 14:45] ZeynepRuveyda commented on #285
My custom images looks like metal_nut images which in MVTech dataset.

[2022-04-27 06:38] alexriedel1 commented on #285
Can you show you folder structure for the training and testing data? Sounds like your ground truth pixel masks aren't in place if you're getting 0 scores only for the pixel metrics. what are your image-wise metric results?

[2022-04-27 07:33] samet-akcay commented on #285
+1 for this. @ZeynepRuveyda, did you also try other models? If so, did you get 0 for those as well?

[2022-04-27 09:43] ZeynepRuveyda commented on #285
Hi @alexriedel1 ,

───────────────────────────────────
       image_AUROC          0.9785714149475098
      image_F1Score         0.9523809552192688
       pixel_AUROC                  0.0
      pixel_F1Score                 0.0

.../zeynep/anomalib/datasets/MVTec/BACK/test/bad/000065.png
.../zeynep/anomalib/datasets/MVTec/BACK/train/good/000088.png
...zeynep/anomalib/datasets/MVTec/BACK/ground_tr

[2022-04-27 09:46] ZeynepRuveyda commented on #285
Yes,I tried the patchcore model too but I got the same result.

[2022-04-27 09:59] StefanoSamele-PoliMi opened #286 "Is the PatchCore image-level anomaly score correctly calculated?"
We have found a significant difference between the implementation proposed and the one described in the paper, for the PatchCore image-level anomaly score calculation.

For a test image <img src="https://render.githubusercontent.com/render/math?math=x_{test}">, they first calculate the maximum distance score <img src="https://render.githubusercontent.com/render/math?math=s^{*}"> as:

![Screenshot

[2022-04-27 10:02] samet-akcay commented on #286
Thanks @StefanoSamele-PoliMi! We'll check it out

[2022-04-27 10:03] samet-akcay commented on #282
@BirdFrozen, now that you've fixed the issue, I'm closing this.

[2022-04-27 12:18] alexriedel1 commented on #285
Unfortunately I cannot say if the ground truth masks are named according to your anomaly samples.
If your bad samples are in `MVTec/BACK/test/bad` your masks need to be in  `MVTec/BACK/ground_truth/bad`. The masks have to have the same names as the bad samples.

[2022-04-27 12:20] alexriedel1 commented on #285
@samet-akcay maybe the dataloaders need a warning (or info) if no ground truth masks are found..

[2022-04-27 12:51] ZeynepRuveyda commented on #285
I think i missed the file in the directory. I exactly the same directory for ground_truth what you said.
.../zeynep/anomalib/datasets/MVTec/BACK/ground_truth/bad/000065_mask.png

[2022-04-27 12:52] ZeynepRuveyda commented on #285
I think i missed the file in the directory. I exactly the same directory for ground_truth what you said.
.../zeynep/anomalib/datasets/MVTec/BACK/ground_truth/bad/000065_mask.png

[2022-04-27 13:03] alexriedel1 commented on #285
Can you post an image of the test inference from  `./results/MVTec` ?

[2022-04-27 17:42] RahaviSelvarajan opened #288 "Getting NaN loss values while training PatchCore model on custom dataset"
**Describe the bug**
- I am training the patchcore model on a custom dataset. During training, loss value in the progress bar is shown as NaN. Why would this happen?

**Screenshots**
Epoch 0:   2%|█▋              Aggregating the embedding extracted from the training set.5/218 [00:06<04:30,  1.27s/it, loss=nan]
Creating CoreSet Sampler via k-Center Greedy
Getting the coreset from the main embedding

[2022-04-27 21:18] alexriedel1 commented on #288
This is because you do not update any weights during the "training" of patchcore but only save features while inferencing your training data (https://arxiv.org/pdf/2106.08265.pdf). Doing this for multiple epochs will not improve the model unless you apply random image augmentations in each epoch (which is why the default number of training epochs is 1 and you shouldn't change this parameter unless

[2022-04-28 01:08] ABoLei opened #289 "add_label in inference.py cannot put text on small image"
**Describe the bug**

Function `add_label` in `inference.py` cannot put text on small image(height=18, width=43, jpeg image)

**To Reproduce**
Steps to reproduce the behavior:
1. Prepare small height and width of image(s), e.g. height=18, width=43, jpeg image
2. Specify `--image_path` to the image from step1
3. Run `inference.py`
4. See error

**Expected behavior**
Put inferenced result on a image

[2022-04-28 06:23] samet-akcay commented on #288
@RahaviSelvarajan, as @alexriedel1 pointed out, the reason is because the CNN is only used for feature extraction, which doesn't produce a loss value. If this looks confusing, we could consider removing it.

[2022-04-28 06:29] samet-akcay commented on #285
@ZeynepRuveyda, can you share the full training logs printed on the terminal? If there is any peculiarity in the masks, there could be some warnings there.

In addition, I'd also look at the visualized outputs, specifically to the anomaly heatmap. If it is correctly produced, this means the model should be able to successfully perform the segmentation.

[2022-04-28 07:26] innat opened #290 "Possible bug in Inference part."
**Describe the bug**
- Training and Validation work fine. But running inference.py gives a noisy heatmap. Tried only with patchcore, not tested rest.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.kaggle.com/code/ipythonx/mvtec-ad-anomaly-detection-with-anomalib-library?scriptVersionId=94212905
2. Open it to run.
3. In the last cell (inference part), uncomment the code.
4.

[2022-04-28 07:54] samet-akcay commented on #281
@Nayan-sse-tggs, just to understand the question,

`inference.py` currently outputs the images based on the following format:
![image](https://user-images.githubusercontent.com/17574420/165704413-ae099ec6-3c87-49e8-b2b5-957cac295d84.png)

You would prefer to have the following format
![image](https://user-images.githubusercontent.com/17574420/165704630-2cd3a5af-7765-4fe9-b890-db6d0f9abfd9.png)

Is

[2022-04-28 08:09] samet-akcay commented on #290
@innat, we have seen a similar behaviour before, where the issue turned out to be related to torch (CUDNN enabled/disabled on the platform). We'll investigate this.

[2022-04-28 08:40] ZeynepRuveyda commented on #285
[code]

[2022-04-28 08:45] ZeynepRuveyda commented on #285
Yesterday , I got some result for the segmentation and heatmap. But my  pixel_AUROC  and  pixel_F1Score are still 0. Is it problem?
![Screenshot from 2022-04-28 10-45-16](https://user-images.githubusercontent.com/72027409/165714203-0b6b993c-f601-4f62-ad67-210e947f5024.png)

[2022-04-28 12:54] alexriedel1 commented on #285
Are your ground truth masks binary files only containting 0's and 1's ?
`UserWarning: No positive samples in targets, true positive value should be meaningless. Returning zero tensor in true positive score` sounds to me like there is something wrong with your masks...

[2022-04-28 13:51] djdameln commented on #285
That's what I suspect as well. I can replicate the issue by using a value other than 1.0 for the anomalous regions in the GT masks. Could you provide an example of one of the ground truth mask files of your dataset?

[2022-05-02 10:50] #275 closed

[2022-05-03 07:55] ZeynepRuveyda commented on #285
I think my annotations are just for the classification. I double checked it then you are right. It can be change depend on your mask info.

[2022-05-05 03:28] wangk98 opened #294 "Where can I save the segmentation results separately"
sorry  to bother you ! Where can I save the segmentation results separately？Because I want to get the specific coordinates of the defect. And I can't find the presion and recall, I also want to output them.

[2022-05-05 08:45] #285 closed

[2022-05-05 09:00] ZeynepRuveyda opened #295 "Inference for OpenVINO"
Heyy,
I am trying to do inference with OpenVINO.
 ' If the path points to an ONNX graph (.onnx) or OpenVINO IR (.bin or .xml), inference will run in OpenVINO.' according to this explanation ,I changed the path as .onnx. But I got the opset_version error. Normally the default value is 9. But my code advice the value is 11. When I am changing the opset value 9 to 11, It did not support. Do I need to

[2022-05-05 09:29] rumanto00 opened #296 "Gradio Error"
running :
python tools/inference_gradio.py --config ./anomalib/models/patchcore/config.yaml --weight_path ./results/patchcore/mvtec/zipper/weights/model.ckp

error:
Traceback (most recent call last):
  File "tools/inference_gradio.py", line 105, in <module>
    gradio_inferencer = get_inferencer(session_args.config, session_args.weight_path, session_args.meta_data)
  File "tools/inference_gradio.p

[2022-05-05 11:11] ashwinvaidya17 commented on #295
@ZeynepRuveyda Which model are you trying to run and what's the version of OpenVINO on your system?

[2022-05-05 13:32] ZeynepRuveyda commented on #295
Hi @ashwinvaidya17
openvino version : 2021.4.2

[2022-05-06 06:36] Zigars commented on #133
@mjack3 Hello, I'm working on fastflow too. If you have any good reappearance, please tell me. I will great appreciate with you!

[2022-05-06 07:49] ashwinvaidya17 commented on #295
Are you passing the meta_data json file to the inference.py?

[2022-05-07 16:44] mjack3 commented on #133
Hello. I have already developed FastFlow with WResnet50 and ResNet18. We are in process to open the code. :)

[2022-05-09 07:31] ashwinvaidya17 opened #300 "Set dataset from benchmarking"
As pointed out in https://github.com/openvinotoolkit/anomalib/pull/280#discussion_r865991757, it makes sense to set the dataset from `benchmarking_config.yaml` rather than each model section. This will ensure that no dataset is misconfigured in a particular model.

Tasks

- [x] Update documentation
- [x] Add dataset config section to benchmarking
- [x] Add tests

[2022-05-09 08:55] ZeynepRuveyda commented on #295
Hi @ashwinvaidya17 , Apperently not.  We prepare the our dataset like MVTech format ground_truth,test,train. I dont have the .json file in there. Do I need to export my annotations as coco (.json) format? Also, I could not see the samples for openvino inference inside of your anomalib files and documentations. Maybe you can support one sample with MVTech dataset. If there is can you provide me?

T

[2022-05-09 11:16] ashwinvaidya17 commented on #254
- [ ] Add benchmarking example on google colab
- [ ] Add HPO example

[2022-05-09 12:01] ashwinvaidya17 commented on #295
@ZeynepRuveyda
Here are the important sections of the config file I am using to test on MVTec on the `development` branch
[code]

You should see a folder like this in results
![image](https://user-images.githubusercontent.com/17232914/167405165-51c59e78-d49e-4e74-bb43-57986262c3f3.png)

Then, run inference like this
[code]

It produces an output like this
![image](https://user-images.githubusercon

[2022-05-09 12:03] ashwinvaidya17 commented on #295
If you are using custom dataset, refer this section of the README https://github.com/openvinotoolkit/anomalib#custom-dataset

[2022-05-09 12:29] djdameln opened #301 "Refactor torch inference"
Use PyTorch Lightning's Trainer.predict for torch inference instead of the current inferencer.
Use visualizer callback to generate the inference images.

[2022-05-10 08:39] ZeynepRuveyda commented on #295
Thank you @ashwinvaidya17 for the informations. I have achived the result. :)

[2022-05-10 08:48] #295 closed

[2022-05-10 14:44] djdameln opened #302 "Add support for onnx export"
Users might want to be able to export their models in onnx format. While we do export the model in `.onnx` format when OpenVINO export is enabled, there is currenty no way to export just the `.onnx` file, without the Open VINO IR files. To support this, we could add the `onnx` key under optimization section in `config.yaml`, e.g.

[code]
To make it a bit more accurate, we could rename `optimizatio

[2022-05-11 06:34] mouxinyue1 opened #303 "The number of epoch"
Hello, I would like to ask why the epoch is 1 by default? Will adding epoch improve detection performance?

[2022-05-11 07:15] lorenzomammana commented on #286
Adding to the discussion, if you aren't aware patchcore authors updated their paper on arxiv and upload the official implementation of the algorithm, apparently it performs even better than the result reported by you (99.2 compared to 98.0 avg) with the wide resnet 50. If you have time might be worth checking it out!
[https://github.com/amazon-research/patchcore-inspection](https://github.com/amaz

[2022-05-11 07:27] mouxinyue1 opened #304 "Add documentation to add a new model to the repo"
Hello, I would like to ask myself how to add a new model

[2022-05-11 07:38] djdameln commented on #303
Hi, the default number of epochs depends on the type of algorithm. Feature extraction based methods such as Padim and PatchCore require only a single epoch, because the weights of the convolutional backbone are fixed. These methods rely on pre-trained feature extractors to obtain a feature representation for each image, and then use statistical methods to create a normality model on top of the ext

[2022-05-11 07:42] mouxinyue1 commented on #303
Thank you very much for your answer

[2022-05-11 07:44] djdameln commented on #303
No problem! I will be closing this issue now. Feel free to re-open if anything is still unclear

[2022-05-11 07:44] #303 closed

[2022-05-11 11:49] mouxinyue1 opened #305 "predicted heat map"
Hi, I was wondering which line of code indicates the color of the predicted heat map?

[2022-05-11 12:16] shrinand1996 opened #306 "Threshold value for classifying image as anomaly or not. and add a method to increase the accuracy by retraining on the wrong predictions."
**Is your feature request related to a problem? Please describe.**
I tried the library and trained it on the leather dataset. I played around and tried to introduce a threshold value based upon score.
The model failed to create a clear "boundary" for the defective and non defective samples.

**Describe the solution you'd like**
To overcome this problem, it will be better if we can re train the mod

[2022-05-11 19:15] alexriedel1 commented on #305
https://github.com/openvinotoolkit/anomalib/blob/40e0c6357cc8a85b42ccc41b9c72a2d76b3ded57/anomalib/post_processing/post_process.py#L103

[2022-05-12 02:08] mouxinyue1 commented on #305
Thank you very much for your help

[2022-05-12 09:03] alexriedel1 commented on #304
You basically have to factor your model code like one of the existing models https://github.com/openvinotoolkit/anomalib/tree/development/anomalib/models

then you have to add tests and documentation and create a pull request :)

[2022-05-13 02:26] mouxinyue1 opened #309 "The evaluation index"
I want to ask which codes are used to calculate the evaluation indicators

[2022-05-13 06:15] djdameln commented on #309
Hi, evaluation is done using a mixture of standard classes from the TorchMetrics package, and custom metric classes which are also based on TorchMetrics. The metrics can be configured from the config, where a list of metric names can be passed for both image-level and pixel-level evaluation, like so:
[code]
The specified list of metrics is processed in [this function](https://github.com/openvinoto

[2022-05-13 06:36] mouxinyue1 commented on #309
Are the Detection AUROC and Segmentation AUROC in the original text image-level evaluations？

[2022-05-13 06:48] djdameln commented on #309
The AUROC, like most other metrics, can be evaluated either at image-level or at pixel-level, depending on the inputs. If the inputs to the metric class consist of image-level ground truth labels and the predicted image-level anomaly score, the metric will be evaluated at the image level. If the inputs consist of ground truth segmentation masks and the predicted anomaly score maps, the metric will

[2022-05-13 06:50] mouxinyue1 commented on #309
Ok, I see. Thank you very much for your help！

[2022-05-13 06:57] mouxinyue1 opened #310 "add patch-svdd model"
Hello, could you please add the patch-SVDD model？

[2022-05-13 07:09] djdameln commented on #309
You're welcome :)

[2022-05-13 07:09] #309 closed

[2022-05-13 07:41] Nayan-sse-tggs opened #311 "Set different height and weight for custom model"
How to train a custom model with different height and weight? Let's say our input image size height is 1088 and weight is 4096, if I update custom model config file it only takes one parameter as input and send it as same height and weight to network if I am not mistaken. How do I update different sizes in config file for custom model?

If I update my `config.yaml` file given below, if gives TypeE

[2022-05-13 08:17] Drodriguez-9 commented on #311
Hi, I assume you mean _width_ instead of _weight_. In that case try to write the size in a list.
For example, in your case you have to type:
image_size: [1088, 4096]

Hope it works!

[2022-05-13 11:24] djdameln commented on #301
- [ ] Refactor Gradio inference

[2022-05-13 15:57] ashwinvaidya17 commented on #237
I just checked on development. `test.py` works now. I am closing this issue.

[2022-05-13 15:57] #237 closed

[2022-05-15 08:45] mouxinyue1 opened #316 "stfpm model"
hello，I would like to ask why my model is STFPM and MAX_EPOCH  chooses 100, but the epoch will be random during training, sometimes ending in 13 epoch and sometimes 16 epoch？

[2022-05-15 11:51] daMichaelB commented on #236
Meanwhile the code from `fix/sa/configs` is merged. I have a slightly different setup and still does not work.

First I trained PatchCore on a single-GPU machine. There i always ran into Cuda-OutOfMemory as my dataset was to big for the patch-core training step. So i switched to a 8-GPU instance. I changed:

[code]

if i use the settings from `fix/sa/configs` it only uses one gpu and goes into OOO

[2022-05-16 06:34] shakib-root opened #317 "Add support for Inference with Torch Models on CPU-only Machines"
Currently, If we try to do inference on a CPU-only machine it gives:

The concerned method [load_model](https://github.com/openvinotoolkit/anomalib/blob/9b117b00fc20f5639dc43fb830992a7f45acefd2/anomalib/deploy/inferencers/torch.py#L76) can be found at anomalib/deploy/inferencers/torch.py where
`model.load_state_dict(torch.load(path)["state_dict"])` needs to be updated.

I am not quite sure of a go

[2022-05-16 11:25] mouxinyue1 commented on #316
Thank you very much for your help

[2022-05-16 15:17] ING3TP2 opened #320 "Cannot import name ' configure_logger'"
Hello, I am having the error: Cannot import name 'configure_logger' from 'anomalib.utils.loggers' while trying to run the following command :
python tools/train.py --config anomalib/models/padim/config.yaml
error coming from the file below
![image](https://user-images.githubusercontent.com/92035159/168626357-6e143652-606e-4fb8-b052-5f01f5e63b87.png)

[2022-05-16 15:22] ashwinvaidya17 commented on #320
@ING3TP2 Are you on the development branch? How did you install anomalib in your environment?

[2022-05-16 15:34] daMichaelB commented on #296
just a suggestion

the path `/home/rumanto/AI_Development/anomalib/anomalib/models/anomalib/models/patchcore/config.yaml/config.yaml` shows that `config.yaml` is doubled.

maybe try: `--config ./anomalib/models/patchcore/`

[2022-05-16 18:11] samet-akcay commented on #317
Hi @shakib-root, there is currently a PR #298 that replaces the existing `TorchInferencer` with Pytorch Lightning inference, which would automatically handle device related issues.

[2022-05-16 18:14] samet-akcay commented on #294
@wangk98, PR #298 would potentially addresses your issue.

[2022-05-17 01:02] rumanto00 commented on #296
yes. I had try that. it's raise same error (with io.open(os.path.abspath(file_), "r", encoding="utf-8") as f:
FileNotFoundError: [Errno 2] No such file or directory:...)

[2022-05-17 02:40] mouxinyue1 opened #321 "The roc curve"
Hello, I want to know how to draw roc curve

[2022-05-17 08:08] djdameln opened #322 "Refactor NNCF config"
When configuring NNCF, we currently have to add the nncf parameters to the `config.yaml` under `optimization.nncf`.

It would be easier to just pass the file path to a NNCF config json file as a single NNCF parameter. This way, we don't deviate from the original NNCF config format that is described and explained in the NNCF documentation, and at the same time keep our `config.yaml` clean.

[2022-05-18 09:02] AlessandroPolidori opened #323 "PatchCore aggregation function not clear"
Hi everyone, i'm trying to understand how the PatchCore's feature aggregation / patch embedding has been implemented here in anomalib. In particular, i don't understand what is happening here and what the avgPooling is doing on the patches' featuremaps. I hope someone can clarify it to me.

https://github.com/openvinotoolkit/anomalib/blob/17b62f8d97fe407405c871992bd4f1949f2c5cbb/anomalib/models/pa

[2022-05-18 13:13] alexriedel1 commented on #323
You can find the explanation in the paper

https://arxiv.org/pdf/2106.08265.pdf

 esults in one single representation at (h, w) of predefined dimensionality d, which is performed for all pairs (h, w) with h ∈ {1, ..., h∗} and w ∈ {1, ..., w∗} and thus retains feature map resolution.

[2022-05-18 16:53] alexriedel1 commented on #323
Imagine the features on a feature map. If you use a kernel to smooth this map, information from neighbouring features will be shared across the affected features.

Here's a plot of the PatchCore feature map of wide_resnet_50_2 layer 2 and layer 3 before and after average pooling with a 3x3 kernel:
![image](https://user-images.githubusercontent.com/54716527/169097761-84d71d84-edfe-4c3c-92ff-a12dcac

[2022-05-18 18:52] AlessandroPolidori commented on #323
First of all i want to thank you for your clarity and kindness. Now, the thing that seems different to me is the aggregation function. I made two simple drawings depicting (what i think) anomalib's implementation is doing and what it's in the paper. In anomalib it seems to me that the averagePooling is applied on every patch, separately, after you apply tile() and "line up" the patches.

![anomali

[2022-05-18 18:53] AlessandroPolidori commented on #323
@alexriedel1

[2022-05-18 19:20] alexriedel1 commented on #323
I guess you are referring to this line when talking of tiling: https://github.com/openvinotoolkit/anomalib/blob/17b62f8d97fe407405c871992bd4f1949f2c5cbb/anomalib/models/patchcore/torch_model.py#L79-L80

However, this is only applied to easily process large images and is not related to patchcore or any model directly https://github.com/openvinotoolkit/anomalib/blob/17b62f8d97fe407405c871992bd4f1949

[2022-05-18 19:24] #323 closed

[2022-05-19 09:02] bsl546 opened #324 "Issue with patchcore anomaly score for large confidence scores"
**Describe the bug**
When the confidence is very high for images treated by the patchcore model, the anomaly score can be nan.
This is due to the formula:
weights = 1 - (torch.max(torch.exp(confidence)) / torch.sum(torch.exp(confidence)))
in anomaly_map.py, torch.exp() gives nan for values too large.

**Expected behavior**
Two possible solutions:
- Either  a threshold should be set on the tensors,

[2022-05-19 09:04] bsl546 commented on #324
Or one should use softmax instead, that works as well.

[2022-05-19 15:44] djdameln opened #325 "Check if threshold_offset and threshold_steepness parameters are still needed for DFKDE"
These configurable parameters may be obsolete now that we have dedicated normalization callbacks.

[2022-05-19 16:45] ngadhvi opened #326 "Label Prediction with Confidence score"
I have noticed some good improvements in version 0.3 of Anomalib. I wondered if there is any way to get a Label as prediction along with the confidence score in inference as we get in the testing after the training?

P.S. Referring to fitting a PaDiM model and inference from it.

[2022-05-20 11:25] samet-akcay commented on #326
Hi @ngadhvi, there is curently a PR for this. See #298

[2022-05-20 13:10] innat opened #327 "Heatmap visualization results for classification (task)!"
**Is your feature request related to a problem? Please describe.**
If we train the model as a segmentation (with a mask), we can have nice heatmap visualization in the results. But as for classification, we can't. ( Though it's reasonable. )

![165101253-6fb6958c-f9f7-4eb7-aeba-6a448fe0238a](https://user-images.githubusercontent.com/17668390/169534773-5d679334-a7e9-41d6-8d98-0d4e349af7ff.png)

**D

[2022-05-20 13:27] alexriedel1 commented on #327
Why would you need Grad-CAM if you have the heatmap?

+ Grad-CAM or derivatives won't work with simply sticking them to one of the models. You don't predict classes like normal with a forward network pass. In most of the methods implemented in anomalib, features are extracted and processed in order to get a classification (and/or heatmap) of anomaly.

How would you implement a gradient-based visua

[2022-05-20 14:55] innat commented on #327
Heatmap is only generated if I have a ground truth mask, right? Otherwise, if I train a model with `task: classification`, do I still able to get the same heatmap? I'm using an older commit, so not sure if there's anything new that is added. Please let me know.

It's not a proposal to implement grad-cam. The point here is if we can add any mechanism that can produce some kind of visual indicative

[2022-05-20 15:43] samet-akcay commented on #143
@ashwinvaidya17 would you be able to check this out?

[2022-05-20 15:50] samet-akcay commented on #327
Generating a heatmap doesn't depend on the task type but algorithm. For example, cflow, padim, patchcore and stfpm does produce heatmap both for classification and segmentation tasks. We dont show it for classification, but it's possible to visualise if needed.

Dfkde and dfm don't generate a heatmap, mainly because it doesn't have anomaly-map-generator module. It's, however, possible to implement

[2022-05-20 15:50] alexriedel1 commented on #327
Models that are capable of segmentation will always output a heatmap.

Currently, the visualizer callback doesn't add it to the output images, but still it's there (you would have to rewrite parts of the visualizer a bit)
https://github.com/openvinotoolkit/anomalib/blob/17b62f8d97fe407405c871992bd4f1949f2c5cbb/anomalib/utils/callbacks/visualizer_callback.py#L127-L159

If you use the example infere

[2022-05-20 18:10] innat commented on #327
@alexriedel1 Thanks for the pointer. Though the old commit I'm using is different than the above but it's solved overall. :)

[2022-05-20 18:10] innat commented on #327
@samet-akcay

Thanks for the information. I think it should be added.

[2022-05-21 00:00] ngadhvi commented on #326
Thank you for the update @samet-akcay. Looking forward to it.

[2022-05-21 14:45] #327 closed

[2022-05-23 13:16] ZeynepRuveyda opened #329 "ZeroDivisionError: float division by zero"
UserWarning: Total length of `DataLoader` across ranks is zero. Please make sure this was your intention.
  rank_zero_warn(
Traceback (most recent call last):
  File "/home/zeynep/zynp/anomalib/tools/train.py", line 99, in <module>
    train()
  File "/home/zeynep/zynp/anomalib/tools/train.py", line 88, in train
    trainer.fit(model=model, datamodule=datamodule)
  File "/home/zeynep/zynp/env/lib/

[2022-05-23 13:22] ZeynepRuveyda commented on #329
Do I need to use put the image in pairs? (Groundtruth and test images)

[2022-05-23 13:23] ZeynepRuveyda commented on #329
Do I need to use put the image in pairs? (Groundtruth and test images)

[2022-05-23 13:34] ZeynepRuveyda commented on #329
Here is my config file!
dataset:
  name: mvtec #options: [mvtec, btech, folder]
  format: mvtec
  path: ./datasets/MVTec
  category: FL
  task: segmentation
  image_size: 850
  train_batch_size: 32
  test_batch_size: 1
  num_workers: 16
  transform_config:
    train: null
    val: null
  create_validation_set: false
  tiling:
    apply: false
    tile_size: null
    stride: null
    remove_border_

[2022-05-23 14:49] alexriedel1 commented on #329
Looks like there are no images in `./datasets/MVTec/FL`

[2022-05-23 14:55] ZeynepRuveyda commented on #329
Hi @alexriedel1, I have images inside of the FL folder. I check the path that is true.

[2022-05-23 14:56] alexriedel1 commented on #329
Can you please show your complete folder structure?

[2022-05-23 15:01] ZeynepRuveyda commented on #329
![image](https://user-images.githubusercontent.com/72027409/169848783-32114544-be5b-4064-b89a-91f65593c808.png)

[2022-05-23 15:14] samet-akcay commented on #329
@ZeynepRuveyda, I see that you are using MVTec format. The mask images in MVTec has `_mask.png` suffix. In this case your mask images should be like

[code]

Alternatively you could try using the `folder` format instead of using `mvtec`, which offers more flexibility.

[2022-05-23 15:16] alexriedel1 commented on #329
Also be aware that the MVTec Dataloader searches for `.png` and not for `.jpg`

https://github.com/openvinotoolkit/anomalib/blob/17b62f8d97fe407405c871992bd4f1949f2c5cbb/anomalib/data/mvtec.py#L122

[2022-05-24 02:57] luweishuang opened #331 "how to use finetuned backbone model?"
I want to  finetune the backbone model(like resnet18) on my custom dataset first, and then do anomaly detect, how could I implement this function, thanks

[2022-05-24 23:28] mesolmaz commented on #270
I was going to create a new issue, but what I am experiencing is similar to this. During training, the memory is exhausted and crashes. Changing the batch size from 32 to 16 to 8 didn't make a difference and it always happens midway through the training. Here is the Config file and Error message.

**CONFIG:**

    dataset:
      name: folder #options: [mvtec, btech, folder]
      format: folder

[2022-05-25 07:37] #331 closed

[2022-05-25 09:59] samet-akcay commented on #331
Hi @luweishuang, do you have a solution for this? If so, would you be able to share it here for future readers?

[2022-05-26 09:36] samet-akcay commented on #270
@mesolmaz, I think the issue stems from the size of the feature map extracted from your dataset. Your dataset is likely to be large to fit into the memory. One possibility would be to reduce the feature-map extracted from the dataset, but I think it's currently not possible with DFM. I'll double check this with the team.

[2022-05-26 09:39] samet-akcay commented on #329
sounds like this is similar to #143. Thought this issue had been fixed, but looks like we need to double check.

[2022-05-26 19:10] mesolmaz commented on #270
@samet-akcay Thank you! Yes I figured this is the issue. Based on the image size, number of images and PCA component ratio, not every custom dataset is trainable without adjusting the config. Please consider this issue closed.

[2022-05-26 19:40] #270 closed

[2022-05-27 04:35] rumanto00 opened #335 "Inference using NCS2"
how to inference using NCS2 device?
is there any sample code how to do?

[2022-05-30 09:46] ZeynepRuveyda commented on #329
Ok. Thanks for your help.

[2022-05-30 09:46] #329 closed

[2022-05-30 11:11] aytek03 opened #337 "Error of get_configurable_parameter function"
Hi Sir,

I try to run your notebook (https://github.com/openvinotoolkit/anomalib/tree/development/notebooks/001-getting-started)

When I run this code (line 3):

config = get_configurable_parameters(config_path=CONFIG_PATH)
config["dataset"]["path"] = "../../datasets/MVTec"     # or wherever the MVTec dataset is stored.

I got an error:

------------------------------------------------------------

[2022-05-30 11:19] ashwinvaidya17 commented on #320
I would suggest cloning the repo and installing using `pip install -e .` Let me know how that goes.

[2022-05-30 11:57] ING3TP2 commented on #320
![image](https://user-images.githubusercontent.com/92035159/170987372-5c3b9821-aca4-4adc-9003-b0d42c718305.png)
the same error occured after installing it from the windows Terminal command..

[2022-05-30 13:36] ING3TP2 commented on #320
![image](https://user-images.githubusercontent.com/92035159/171000900-de681015-e9de-4fc5-bc16-686cf904cc21.png)
Thank you so much, it has actually worked, but when it finished downloading the dataset and started to train, the PC crashed (I guess because of the large data) especially that I don't use GPU, so I had to shut it down. Actually now I'm willing to train on a custom dataset, and as I read

[2022-05-30 14:41] ashwinvaidya17 commented on #320
Glad to know that it worked! You can either modify the config file in Padim folder or you can pass the path to a new config file using `--config` flag in `train.py`

[2022-05-30 21:45] ING3TP2 commented on #320
Thank you ! I have changed the config file, and I guess I have some issues in the library omegaconf and in _init_.py file in data folder, based on these errors..
![image](https://user-images.githubusercontent.com/92035159/171058319-84ac23dc-fc3d-4793-89ea-27280be60bcd.png)
when I checked _init_.py file in data folder I found problems in these libraries :
![image](https://user-images.githubusercont

[2022-05-31 05:53] samet-akcay commented on #320
@ING3TP2, can you share your config file?

[2022-05-31 06:37] ashwinvaidya17 commented on #320
Ah! The readme needs to be updated. Try using keys `normal_dir`, `abnormal_dir` and `normal_test_dir: None`. Instead of `normal:`,
`abnormal:` in the config.yaml

[2022-05-31 08:24] djdameln opened #339 "Add DRAEM Model"
Add DRAEM model implementation
https://paperswithcode.com/paper/draem-a-discriminatively-trained

[2022-05-31 09:49] ashwinvaidya17 opened #341 "Add Gradio Documentation"
Add gradio inference documentation

- [x] README
- [x] Documentation

[2022-05-31 11:19] ING3TP2 commented on #320
Thank you it was indeed the problem, but I guess some other keys should be changed referring to this error :
![image](https://user-images.githubusercontent.com/92035159/171160829-336d1d56-0b91-4b82-9fef-431b01765a91.png)
![image](https://user-images.githubusercontent.com/92035159/171161264-ba7674ad-a88a-43a5-bd96-9a191a876d8f.png)

[2022-05-31 11:26] ING3TP2 commented on #320
@samet-akcay  I didn't really know how to share the file so here's the changements tht are made
![image](https://user-images.githubusercontent.com/92035159/171162059-85c578cf-b2ee-4aed-96a0-cf0054a10c0f.png)

[2022-06-01 07:37] ashwinvaidya17 commented on #320
@ING3TP2 This PR has been merged to development https://github.com/openvinotoolkit/anomalib/pull/338. Can you confirm if these changes address your problem?

[2022-06-03 10:57] djdameln opened #347 "Add SSPCAB block to DRAEM model"
see https://paperswithcode.com/paper/self-supervised-predictive-convolutional

[2022-06-07 07:01] ashwinvaidya17 opened #348 "Update sphinx document for all the new models"
Since new models are added to Anomalib, this needs to be reflected in the sphinx documentation as well. To do this we have to update a couple of files.

- [ ] models.rst
- [ ] Papers.rst
- [ ] benchmark.md
- [ ] Add metrics to main README

[2022-06-07 07:33] shakib-root opened #349 "Model Loader Callback"
**Is your feature request related to a problem? Please describe.**
  - Currently, the Pytorch Lightning(PL) trainer uses a callback `LoadModelCallback` from `anomalib/utils/callbacks/model_loader.py` where it uses Pytorch's `torch.load` function to load the best weights which may cause device-related issues (trained on GPU, testing/predicting on CPU).

**Describe the solution you'd like**
  - I su

[2022-06-07 08:30] djdameln commented on #349
Thanks for your suggestion! This could indeed be a better way of loading the model weights, though we will have to investigate if this would lead to any unwanted/unexpected behavior. We'll have a look and post any findings here.

[2022-06-07 08:33] samet-akcay commented on #349
Hi @shakib-root, the reason why we used this was because there was a bug in PL model loading in its earlier versions. We were unable to achieve the same performance as training. We could try again now.

[2022-06-07 10:13] #261 closed

[2022-06-07 15:19] djdameln opened #351 "Move loss to lightning module/separate module"
Switch to a new convention for where the loss function is defined.

From the discussion:

The `torch_model` might not be the appropriate place to define the loss function. The torch model class does not contain any training logic, so it never actually uses the loss. In those models that have the loss function as an attribute of the torch model, self.loss is never accessed from within the torch mod

[2022-06-08 10:00] ashwinvaidya17 opened #352 "🚚 Move Perlin Noise to common folder"
Currently perlin noise is part of DRAEM utils. Since it would be useful for other components as well, it should be moved into a common directory. Maybe anomalib/components?

[2022-06-08 11:05] #339 closed

[2022-06-08 11:19] #240 closed

[2022-06-08 11:20] #227 closed

[2022-06-08 11:20] #260 closed

[2022-06-08 11:21] #320 closed

[2022-06-09 07:24] ashwinvaidya17 opened #355 "Move model initialization logging statement to base module."
Just an idea, but maybe we can move this to the base `AnomalyModule` class, something like
[code]

This way we don't need to add this line to every model.
I guess we could address this separately.

_Originally posted by @djdameln in https://github.com/openvinotoolkit/anomalib/pull/343#discussion_r892471740_

[2022-06-09 10:40] shrinand1996 opened #356 "The library not working after changes."
**Describe the bug**
I have used this library in the past and had no issues when training on mvtec dataset. But i tried again after a month, using the same code, and it throws errors. When i hit train, there is an error relating to get_configurable_parameters and omegaconf.errors.ConfigAttributeError: Missing key threshold.
I am using google colab.
**To Reproduce**
Steps to reproduce the behavior:

[2022-06-09 11:27] djdameln commented on #356
Thanks for reporting this. We recently made some [changes](https://github.com/openvinotoolkit/anomalib/pull/328/files) to the way in which the performance metrics and adaptive threshold are configured and initialized. The anomaly score threshold settings have been moved from the `model` section to the `metrics` section of the config. You could have a look at our most recent [default padim config f

[2022-06-09 14:01] #263 closed

[2022-06-10 09:35] shrinand1996 commented on #356
Yes, i figured. So instead i tried it with v 0.3.0 and cloned an old repo. Worked without issues.
Looking forward to the changes and final push!!

[2022-06-10 10:44] shrinand1996 opened #358 "Custom Dataset with different image size (improve results)"
I have made a dataset in the mvtec format for steel.
The  original image size is 4190x3040 px. If i resize the image, i loose features and hence cant detect small defects.
If i train padim/patchcore with 224 image size, the results are poor:
       image_AUROC                  1.0
      image_F1Score         0.4705882668495178
       pixel_AUROC          0.8873115181922913
      pixel_F1Score

[2022-06-10 10:55] ashwinvaidya17 commented on #185
Closing due to inactivity. Open again if you still see this issue.

[2022-06-10 10:55] #185 closed

[2022-06-11 08:50] shrinand1996 commented on #358
Can you provide some details about how to implement tiling? Like what should be the tile size, stride etc? And how to do inference ? Will inference utilize tiling also? And if so,how?
Furthermore, how will it impact the inference speed?

[2022-06-12 04:34] Suzan009 opened #360 "Support TensorFlow 2 / Keras"
**Is your feature request related to a problem? Please describe.**
  - Currently, the anomalib only supports pytorch. But there's a huge community who uses tf2/keras. Adding support to the tf2/keras implementation of the anomaly models can serve greatly and cover more anomalib users.

**Describe the solution you'd like**
  - To reduce the boilerplate code of pure tensorflow and reduce the implemen

[2022-06-13 06:28] #356 closed

[2022-06-13 08:17] #355 closed

[2022-06-13 13:51] #351 closed

[2022-06-13 14:49] samet-akcay opened #366 "`full_state_update` is not set in anomalib (Torchmetrics v0.9)"
**`full_state_update` is not set, which has been introduced in Torchmetrics v0.9**

Torchmetrics v0.9 introduced a new argument class property called `full_state_update` that has
                not been set for this class (AdaptiveThreshold). The property determines if `update` by
                default needs access to the full metric state. If this is not the case, significant speedups can be

[2022-06-14 01:22] Cassie07 opened #367 "The unknown issue about the predicted mask while using PatchCore"
Dear contributors,

Hello! First of all, thanks for developing and maintaining such an awesome anomaly detection library.

***Problem Description***
I am training PatchCore and Padim on my dataset, which is similar to MVTec AD. However, I found that the Padim works well while PatchCore shows an unreasonable segmentation performance. (I will continue checking with my customized data loading functio

[2022-06-14 09:38] shrinand1996 opened #368 "Padim inference on custom dataset throws Value Error"
**Describe the bug**
I trained padim on custom datset for classification purpose. The model trained well but i cannot infer using inference.py.
When i run inference.py, it throws a value error as follows:
ValueError: could not broadcast input array from shape (14,195,3) into shape (14,108,3)

**To Reproduce**
Steps to reproduce the behavior:
1. Train a custom padim classifier on custom dataset.
2.

[2022-06-14 10:13] shrinand1996 opened #369 "Display predicted labels along with score in inference."
**Is your feature request related to a problem? Please describe.**
I recently trained a classification model (padim) and ran inference. It will be nice to add the labels as well during inference as the task is classification and not segmentation.

**Describe the solution you'd like**
Just like the results from training, it will be nice to see labels at the time of inference

**Describe alternative

[2022-06-14 14:41] samet-akcay commented on #133
FastFlow implementation has been updated and merged [here](https://github.com/openvinotoolkit/anomalib/tree/development/anomalib/models/fastflow).

[2022-06-14 14:41] #133 closed

[2022-06-14 14:47] mjack3 commented on #133
Good job. Just one advice. It would be better if you write "original code" instead of "inspired" in the readme. This two words mean different things ;)

[2022-06-14 14:50] samet-akcay commented on #133
Sure, definitely. The original implementation has indeed been credit in multiple modules, though. Please refer to the following, for example:
https://github.com/openvinotoolkit/anomalib/blob/development/anomalib/models/fastflow/torch_model.py#L5
https://github.com/openvinotoolkit/anomalib/blob/development/third-party-programs.txt#L26

I'll also update the description.

[2022-06-14 14:52] samet-akcay commented on #133
`README.md` file has also been updated accordingly.

[2022-06-14 19:09] samet-akcay commented on #369
Duplicate of #326, from which you could perhaps follow the discussion.

[2022-06-14 21:23] igsing opened #371 "KeyError: 'anomaly_maps'"
Training fails with "KeyError: 'anomaly_maps'" for all the classification models (DFM, DFKDE, GANomaly).   The failure is during  testing stage, e.g.:

python tools/train.py --model dfm

...
Testing DataLoader 0:   0%|
...
File "/home/zingman/code/python_local/anomalib/anomalib/utils/callbacks/visualizer_callback.py", line 132, in on_test_batch_end
    outputs["anomaly_maps"],
KeyError: 'anomaly_m

[2022-06-14 21:43] igsing opened #372 "Cuda out of memory: training patchcore on custom dataset"
Training patchcore model (for classification task) quickly fills all GPU memory (32G) and throws an error:

RuntimeError: CUDA out of memory. Tried to allocate 8.29 GiB (GPU 0; 31.75 GiB total capacity; 24.92 GiB already allocated; 2.77 GiB free; 27.75 GiB reserved in total by PyTorch) If reserved memory is >> allocated memory try setting max_split_size_mb to avoid fragmentation.  See documentatio

[2022-06-15 07:55] mfproto opened #373 "Size mismatch when running training for FastFlow"
I get the following error when training FastFlow:

`File "()/anomalib/anomalib/models/components/freia/modules/all_in_one_block.py", line 240, in _affine
    return (x * torch.exp(sub_jac) + a[:, ch:], torch.sum(sub_jac, dim=self.sum_dims))
RuntimeError: The size of tensor a (64) must match the size of tensor b (60) at non-singleton dimension 3`

I am not sure if I did some error in pre-processing

[2022-06-15 10:44] yonafalinie commented on #372
I also encounter the same error on my custom datasets. However, what I did was reducing the image_size to 128, 64 or 32 as well depending the algorithm used.
I guess there are some limitation on the number of training images therefore my best guess is reducing the number of images during training might solve the problem.

[2022-06-15 11:11] djdameln commented on #372
Hi, PatchCore is a memory-intensive algorithm because it stores features extracted from the training set in an internal memory bank. Using a smaller batch size does not solve the problem unfortunately, because the features extracted from each batch still need to be kept in memory.

This is especially a problem for datasets consisting of a large number of images. We are aware of this problem, and i

[2022-06-15 14:14] samet-akcay commented on #372
This is a duplicate of #203. Closing this to could continue our discussion there. Thanks!

[2022-06-15 14:14] #372 closed

[2022-06-15 14:15] samet-akcay commented on #368
Hi @shrinand1996, can you share your config file so we could have a look at the details.

[2022-06-15 14:27] samet-akcay commented on #337
Hi @aytek03, apologies for my late reply.

Can you show me what `CONFIG_PATH` outputs in your notebook?

[2022-06-15 17:51] Cassie07 opened #375 "The unknown issue about the predicted mask while using PatchCore"
Dear contributors,

Hello! First of all, thanks for developing and maintaining such an awesome anomaly detection library.

***Problem Description***
I am training PatchCore and Padim on my dataset, which is similar to MVTec AD. However, I found that the Padim works well while PatchCore shows an unreasonable segmentation performance. (I will continue checking with my customized data loading functio

[2022-06-15 17:51] #367 closed

[2022-06-15 20:57] alexriedel1 opened #376 "Implementing "CFA for Target-Oriented Anomaly Localization""
Hello,
I was just wondering if someone is already working on an anomalib implementation of https://arxiv.org/pdf/2206.04325.pdf
(https://github.com/sungwool/CFA_for_anomaly_localization)

It apparently scores higher than PatchCore on MVTec without any tricks like ensembling very large models.

[2022-06-16 04:34] samet-akcay commented on #376
Hi @alexriedel1, the paper indeed looks promising. No one is working on it at the moment. It would be good to implement it for sure.

[2022-06-16 04:53] samet-akcay commented on #375
Hi @Cassie07, can you share your config file so we could have a look at the details?

[2022-06-16 04:55] samet-akcay commented on #371
Hi @igsing, thanks for reporting this. We'll investigate this and give you an update here

[2022-06-17 18:16] #375 closed

[2022-06-18 11:13] samet-akcay commented on #375
@Cassie07 did you manage to solve the issue in the end? I was not able to reproduce it

[2022-06-20 21:45] baraklior opened #381 "Make model initialization configurable and not hard coded - pretrained=True option"
**My problem**
I work in a production environment with no internet access at runtime and i'm loading weights from a file.
when initializing a FeaturExtractor it in turn loads a model with a hard coded argument `pretrained=True`, so it attempts to download the model weights.
specifically i'm looking at this line but it pops up in a few places:
`self.feature_extractor = FeatureExtractor(backbone=_ba

[2022-06-23 04:01] Cassie07 opened #383 "Adaptive F1 threshold is not in [0, 1]"
**Describe the bug**
Hello! I made a test using PatchCore on the original MVTec dataset without any modification of config or dataset. I print the return of AdaptiveThreshold() because I am interested in viewing the value of the adaptive threshold. From my understanding, this threshold should not be larger than 1. However, the output I got is larger than 1. I am wondering whether I did not find a

[2022-06-23 11:06] samet-akcay opened #384 "Anomalib CLI Improvements - Update `metrics` and create `post_processing` section in the `config` file."
The new Anomalib CLI has `threshold` and `normalization_method` parameters in the `metrics` section. However, this may not be intuitive. Instead, it would be better to create a `post_processing` to store these parameters.

In addition, `image_metric_names` and `pixel_metric_names` are a bit verbose, especially for the API version. Instead, those could be renamed as `image_metrics` and `pixel_metri

[2022-06-23 12:32] samet-akcay commented on #383
Hi @Cassie07, It is the anomaly score that the algorithm calculates. Patchcore doesn't generate scores that fall between [0, 1]. The score may be fairly high depending on the application. Higher scores in this case would suggest a possible anomaly. The best metric, such as F1, is produced by the threshold score found by AdaptiveThreshold.

Let me know if this is any clearer?

[2022-06-23 14:42] Cassie07 commented on #383
@samet-akcay Thanks for the response. Maybe my description is not clear. Actually, I did not focus on the scores generated by Patchcore. My issue is that I want to know the exact threshold score (optimal F1) which AdaptiveThreshold generates. I suppose this threshold should be in [0, 1]. However, I found it is larger than 1.

I print the output of adaptive_threshold and I supposed this value is th

[2022-06-23 15:05] tsmiyamoto opened #385 "PaDiM: model outputs NaN when inferencing images sequencially"
**Describe the bug**
- I'm planning to do inference on webcam input. The inference works well on the first frame, but on the second frame, it doesn't.
- Here're the image outputs and console outputs (`print(predictions)`)

**Code (webcam input)**
[code]

**Code output**
[code]

**Expected behavior**
- A clear and concise description of what you expected to happen.

**Screenshots**
**1st input**
![

[2022-06-24 07:21] samet-akcay commented on #385
wow, that's a pretty nasty bug :D Thanks for reporting it @tsmiyamoto, we'll check it out

[2022-06-24 07:24] tsmiyamoto commented on #385
@samet-akcay
Thank you for your reply!
We'll work on this issue, too.

[2022-06-24 09:37] #21 closed

[2022-06-24 11:36] samet-akcay commented on #337
I'm closing this due to inactivity. If anyone experience this, feel free to re-open it.

[2022-06-24 11:36] #337 closed

[2022-06-25 12:42] VdLMV commented on #385
I had similar problems. Maybe this is of help to you.
Source of problem was 'torch.sqrt(distances)' in AnomalyMapGenerator.compute_distance. With custom dataset and backbone distances sometimes contains small negative numbers, possible due to imperfect pseudo inverse calculation. Solution was to clip distances to zero before sqrt.

[2022-06-27 10:41] #371 closed

[2022-06-28 04:56] samet-akcay commented on #385
@VdLMV, great find! Thanks a lot! Would you like to make changes to become a contributor, or would you prefer us to fix it instead?

[2022-06-28 05:44] innat commented on #290
@samet-akcay the inference is working fine now. I faced it on kaggle environment, but now it's solved. We can close the issue.

[2022-06-28 05:45] samet-akcay commented on #290
That's great! Do you know what the issue was?

[2022-06-28 06:10] innat commented on #290
There was a bug in code in my side, which I fixed in latest (notebook) version.
( But I didn't test with open-vino inference neither on kaggle environment or GCP. )

[2022-06-28 06:13] samet-akcay commented on #290
Thanks for the update

[2022-06-28 06:14] #290 closed

[2022-06-28 07:22] svmaskery commented on #203
Running into the same issue even though the train batch size is 1 and the coreset sampling ratio is 0.01 while using PatchCore.

[2022-06-28 07:38] J-byte-cloud opened #389 "Patchcore encounter an error on custom dataset"
**Describe the bug**
-I meet this bug when I trained patchcore on custom dataset by classification mode, it made code can't run.But if I run the code with mvtec dataset, code can run fluently.
-The bug as follow:   ValueError: Either `preds` and `target` both should have the (same) shape (N, ...), or `target` should be (N, ...) and `preds` should be (N, C, ...).

**To Reproduce**
Steps to reproduc

[2022-06-28 07:47] alexriedel1 commented on #203
train batch size 1 means 100% of the data, try batch size 0.1

[2022-06-28 08:05] svmaskery commented on #203
The default values were 32. So when you say to change the batch size to 0.1, it doesn't make sense. Batch size is usually the number of images that go into the gpu.

[2022-06-28 08:08] alexriedel1 commented on #203
Ah, I'm talking about the hyperparameter limit_train_batches.
This will decrease the number of Training Samples and thus reduce Memory consumption. But anyways I guess 4GB RAM is just a bit too small training patchcore in a reasonable way with lots of data

[2022-06-28 08:58] samet-akcay commented on #389
@J-byte-cloud, can you set `test_batch_size: 32` to `test_batch_size: 1`. Patchcore currently does not support multiple batch size. Let me know how it goes.

[2022-06-28 09:01] VdLMV commented on #385
I will issue a PR later this week.

[2022-06-28 10:26] #389 closed

[2022-06-28 14:45] #258 closed

[2022-06-29 08:47] EudicL opened #391 "where the version 0.4.0 ?"
**Describe the bug**
- A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
- A clear and concise description of what you expected to happen.

**Screenshots**
- If applicable, add screenshots to help explain your problem.

**Hardware and Software Configur

[2022-06-29 12:01] EudicL opened #393 "_src.empty() in function 'cvtColor"
Hi, when i  input the command below :
anomalib fit --config ./configs/model/padim_1.yaml

the erro is :
 image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)
cv2.error: OpenCV(4.6.0) /io/opencv/modules/imgproc/src/color.cpp:182: error: (-215:Assertion failed) !_src.empty() in function 'cvtColor

[2022-06-29 12:04] samet-akcay commented on #393
@EudicL, looks like opencv cannot load the image. You need to ensure that the path to your dataset is correct. If you could share your config, we could help

[2022-06-29 12:06] samet-akcay commented on #391
It has not been released yet. We introduce a new CLI, which is still experimental. Maybe we could update the readme file to make it clearer

[2022-06-29 12:20] EudicL commented on #393
Thanks, i found a broken image in  my datasets

[2022-06-29 12:24] samet-akcay commented on #393
Let us know if you are able to train the model. If yes, we could close the issue.

[2022-06-29 14:28] ZeynepRuveyda opened #394 "When change the image size I got the problem on the inference step"
# Hello, I changed my image size in the config file after that my inference step didn't work. I got this warning. Can you help me ,please?

UserWarning: Torchmetrics v0.9 introduced a new argument class property called `full_state_update` that has
                not been set for this class (MinMax). The property determines if `update` by
                default needs access to the full metric sta

[2022-06-30 14:25] EudicL commented on #393
yes

[2022-07-01 00:55] cyj95 commented on #384
where are metrics calculated? in which python file

[2022-07-01 01:56] cyj95 opened #395 "where are metrics calculated? in which python file"
after       anomalib fit --config ./configs/model/patchcore.yaml
i got
![图片](https://user-images.githubusercontent.com/31176427/176807410-04f72d61-3389-4220-89f6-330816dc5702.png)

in config file,i see
metrics:
  image_metrics:
    - F1Score
    - AUROC
  pixel_metrics:
    - F1Score
    - AUROC

plz help me find
where are metrics calculated? in which python file

[2022-07-01 04:47] samet-akcay commented on #395
@cyj95, when the training is triggered, [`MetricConfigurationCallback`](https://github.com/openvinotoolkit/anomalib/blob/development/anomalib/utils/callbacks/metrics_configuration.py) is initialized. This creates and sets the image and pixel metrics to the anomaly module. Since this is a standard procedure for all the models in this library, we store these attributes in the base [`AnomalyModule`](

[2022-07-01 05:01] #393 closed

[2022-07-01 11:57] #259 closed

[2022-07-01 11:57] #326 closed

[2022-07-04 07:52] cyj95 opened #399 "How to save features extracted by the backbone"
I tried to save feature in ‘’anomalib/models/components/feature_extractors/feature_extractor.py‘’
![图片](https://user-images.githubusercontent.com/31176427/177107447-1f1be39e-8d8f-457b-85f2-2849674b1f1e.png)
but it displays that the feature shape is
![图片](https://user-images.githubusercontent.com/31176427/177107761-36e63818-eeab-4ba8-8af8-42acaad0ff7c.png)

it seems like in this part, feature hasn'

[2022-07-04 08:00] ashwinvaidya17 commented on #399
You should call the print statement after `_ = self.backbone(input_tensor)` line (95). It is because hooks are added to the backbone and only when the forward function of the backbone is called, the features dictionary is populated.

[2022-07-04 08:51] FaDavid98 commented on #281
When I want to test my trained model on an unseen image, how can i get the segmentation result for that image?

[2022-07-04 09:42] FaDavid98 opened #400 "Getting the segmentation results during testing"
I saw that during training the model finds the best threhold, and shows the segmentation results for the testing images. I am wondering, how could I get those segemntation results in the testing phase.
I mean i want to run the inference.py file and get those segmentation result for the used image.
Thanks for your answer.

[2022-07-05 01:44] billyc97 opened #402 "omegaconf.errors.ConfigAttributeError: Missing key log_images_to full_key: logging.log_images_to"
The bug "omegaconf.errors.ConfigAttributeError: Missing key log_images_to full_key: logging.log_images_to" appears when I run the train.py file, also encountered this issue when I run the Colab Notebook that was provided in the Getting Started section. All the files are freshly downloaded without being modified.

Exact procedures to reach here:
1.  setup Anaconda environment on Windows 10
2.  pip

[2022-07-05 05:40] samet-akcay commented on #402
Hi @billyc97, this is a known issue for the pypi version.  To avoid it you could temporarily use the local installation instead.

[code]

We'll fix the PyPI version today so you could try `pip install anomalib` later

[2022-07-05 06:35] jeongHwarr opened #403 "When test_split is applied to a custom dataset, test data contamination occurs"
**Describe the bug**
- When test_split is applied to a custom dataset, test data contamination occurs. (test data(test data is also used for training).

**To Reproduce**
Steps to reproduce the behavior:
1. Use custom dataset
2. Set `split_ratio` to a specific value in config.yaml (without `nomal_test_dir`)
3. See error (test data contamination)

**Expected behavior**
- I hope that the train and te

[2022-07-05 07:47] MacavityT opened #405 "pixel metrics calculation process bugs"
Once I tried to get pixel metrics like "precision" and "recall", so I set the config in .yaml file as following:
[code]
But finally I got just "precision" value while the "f1 score" and "recall" as 0.0000

So I changed the code in anomalib/utils/metrics/collection.py as following:
[code]
Then I got correct results.

[2022-07-05 07:59] ashwinvaidya17 commented on #405
Are you using the latest changes from the development branch? Just adding `Precision` to the config.yaml works when I try it. Here are my changes
![image](https://user-images.githubusercontent.com/17232914/177279414-41da178f-04aa-47a7-a0d4-af4670c9acb2.png)

[2022-07-05 08:28] ashwinvaidya17 commented on #402
@billyc97 can you try installing the latest anomalib `pip install anomalib==0.3.3`?

[2022-07-05 15:53] billyc97 commented on #402
@ashwinvaidya17 It seems that this issue is resolved, thanks!

[2022-07-05 15:54] samet-akcay commented on #402
@billyc97, great! I'm closing the issue then

[2022-07-05 15:54] #402 closed

[2022-07-05 16:04] billyc97 opened #406 "FileNotFoundError: [Errno 2] No such file or directory: 'results/padim/mvtec/bottle/results/padim/mvtec/bottle/weights/model.ckpt'"
Before going into this bug, the sample command under the Inference section of the gave the following sample command:

python tools/inference.py \
    --config anomalib/models/padim/config.yaml \
    --weight_path results/padim/mvtec/bottle/weights/model.ckpt \
    --image_path datasets/MVTec/bottle/test/broken_large/000.png

But there is no such file as inference.py, so I assume it should be tools

[2022-07-06 12:26] simon376 opened #407 "[Fix available] Local Installation fails due to unknown encoding of readme.md"
**Describe the bug**
- When trying to install anomalib locally, as described in the `readme.md`, using `pip install -e .`, the command fails.
- This happens, because in `setup.py`, the content of the readme is read into the `LONG_DESCRIPTION`, without specifying the encoding used.

**To Reproduce**
Steps to reproduce the behavior:
1. run `pip install -e .` from the root directory
2. See error

**E

[2022-07-07 12:41] glucasol opened #409 "aa"
I am trying to do some inferences, but i am getting this error:
"ImportError: cannot import name 'OpenVINOInferencer' from partially initialized module 'anomalib.deploy.inferencers' (most likely due to a circular import) (/home/ga/Documents/anomalib/anomalib/deploy/inferencers/__init__.py)"
when executing inference/openvino.py and inference/gradio_inference.py .

Complete error:
Traceback (most re

[2022-07-07 12:42] #409 closed, assigned to nobody

[2022-07-07 12:44] glucasol opened #410 "Circular Import Issue when Importing OpenVINOInferencer"
I am trying to do some inferences, but i am getting this error:
"ImportError: cannot import name 'OpenVINOInferencer' from partially initialized module 'anomalib.deploy.inferencers' (most likely due to a circular import) (/home/ga/Documents/anomalib/anomalib/deploy/inferencers/init.py)"
when executing inference/openvino.py and inference/gradio_inference.py .

Complete error:
Traceback (most recent

[2022-07-07 12:58] pranjal-joshi-cc opened #411 "[Question] Huge size of PADIM Weights on custom dataset"
While training PADIM for the custom dataset, it provides most accurate result for my dataset as compared to other models but the **size of weights** is one of the big issue.
I am already using following method to reduce the weight size during the training:
[code]
However I am still getting weights in GBs for my configuration as follow:
[code]
Is there any way to further optimize the size of the we

[2022-07-07 18:41] Liamkk commented on #406
Hi，have you solved the problem？

[2022-07-07 19:16] Lucas-Steinmann opened #412 "Make config loading more flexible"
**Is your feature request related to a problem? Please describe.**
My problem is, that I want to allow the user, to load the config, but overwrite some values via command line arguments.
This is currently not possible, without copying some larger chunks of code from [get_configurable_parameters](https://github.com/openvinotoolkit/anomalib/blob/e8af956c85eb3e26dcc45bcb6e5cee27d0f55809/anomalib/conf

[2022-07-07 19:39] samet-akcay commented on #412
@Lucas-Steinmann, to address this, we have recently introduced a new [CLI](https://github.com/openvinotoolkit/anomalib#%EF%B8%8F-anomalib--v040-beta---subject-to-change). It's currently in beta, and unfortunately not yet documented. It's based on [Pytorch Lightning CLI.](https://pytorch-lightning.readthedocs.io/en/stable/common/lightning_cli.html), so referring to its documentation could be a good

[2022-07-07 19:41] Lucas-Steinmann commented on #412
Oh cool, I'll keep an eye on this. Thank you!

[2022-07-07 19:41] #412 closed

[2022-07-07 19:43] samet-akcay commented on #412
As I mentioned, it's still in beta, which would be error-prone, but we want to make it more stable by v.0.4.0 so it would be the default CLI approach.

[2022-07-08 00:22] nguyenanhtuan1008 commented on #400
@FaDavid98 Do you get the solution?

[2022-07-08 00:25] nguyenanhtuan1008 commented on #281
Any update on this issue?

[2022-07-08 02:22] Liamkk commented on #406
--weight_path weights/model.ckpt

[2022-07-08 03:59] pyhow opened #413 "Unable to convert PADIM to ONNX graph"
Good day,

I faced some issues when trying to convert PADIM weights to ONNX format which works well for GANomaly and stfpm models.
Attached is the error displayed:
![padim_onnx](https://user-images.githubusercontent.com/91107801/177913437-cedc87fc-b98b-4305-bf4c-3aa7cdcb81d5.png)

**Hardware and Software Configuration**
- OS: Ubuntu 20.04
- OpenVINO installed in Anaconda

Please let me know what I

[2022-07-08 05:20] samet-akcay commented on #413
Hi @pyhow, can you check your torchvision version? We noticed this issue couple of days ago when we used the most recent torchvision version. Now we have the following in the [base](https://github.com/openvinotoolkit/anomalib/blob/development/requirements/base.txt#L9-L11) requirements?

[code]
Can you double check this and let us know?

[2022-07-08 07:59] pyhow commented on #413
Hi @samet-akcay,

Changing the versions have solved my problem.
Thanks for your help!

[2022-07-08 07:59] #413 closed

[2022-07-08 08:35] ORippler opened #414 "`ImageResult` doesn't scale gt_mask to [0,255] if pred_mask is present"
**Describe the bug**
- A clear and concise description of what the bug is.

if `pred_mask` is present, `ImageResult` doen't scale `gt_mask` from [0,1] to [0, 255], leading to black masks in the generated visualizations

**To Reproduce**
Steps to reproduce the behavior:

Run
[code]
from a clean anomalib repo

**Expected behavior**
- A clear and concise description of what you expected to happen.

b

[2022-07-08 08:36] ORippler opened #415 "`Visualizer` always converts images from RGB to BGR format"
**Describe the bug**
- A clear and concise description of what the bug is.

`Visualizer` class always converts images from RGB to BGR format, despite the fact that both `tensorboard` and `wandb` expect RGB format for the images.

**To Reproduce**
Steps to reproduce the behavior:

Run
[code]
with logging to either tensorboard or wandb enabled, inspect the logged images in either tenosrboard or wand

[2022-07-08 09:06] ORippler commented on #411
If you want to stick to PADIM you can:

* Exchange the underlying feature-extractor (EfficientNets have less parameters than ResNets for example)
* Reduce the number of "layers" where you extract the features from
* Reduce the dimensionality (increase random subsampling rate) of your feature space

If you want to code/implement some stuff, you can:

* "Tie" the covariance matrix across spatial loc

[2022-07-08 10:44] billyc97 commented on #406
@Liamkk

This does temporarily fix the  issue, but I am getting another issue after running the code.

To run the code:

python tools/inference/lightning.py \
    --config anomalib/models/padim/config.yaml \
    --weight_path weights/model.ckpt \
    --image_path datasets/MVTec/bottle/test/broken_large/000.png \
    --save_path test_result

Error code:

/usr/local/lib/python3.7/dist-packages/torch

[2022-07-08 11:13] #407 closed

[2022-07-08 11:14] #414 closed

[2022-07-08 11:14] #415 closed

[2022-07-08 11:14] #410 closed

[2022-07-08 11:43] samet-akcay commented on #406
@billyc97, are you running anomalib on a server. `lightning` script tries to display the output image(s), and this error occurs. If you don't want to show the output images, you could disable it
[code]

By the way we just merged a fix for some of the inference stuff, which also renames `lightning.py` to `lightning_inference.py`. This new inference approach is yet to be stable, and subject to chang

[2022-07-08 11:58] ORippler opened #420 "Add plots and additional metrics"
**Is your feature request related to a problem? Please describe.**
Imo, it would be nice to have:

* Pixel-wise AUPR + PRO until 30% FPR as metrics
* Plots with baselines where applicable for all metrics (ROC-Curve, PR-Curve, PRO-Curve)

**Describe the solution you'd like**
  1. Add/implement appropriate torchmetric classes, and add them to the `AnomlibMetricCollection`
  2. Add callbacks which ac

[2022-07-08 14:56] AlessandroPolidori opened #421 "STFPM loss"
https://github.com/openvinotoolkit/anomalib/blob/64296d21d027fce3e002c1cee0452ff66c5ad71c/anomalib/models/stfpm/lightning_model.py#L75

Hi, i'm not grasping what is this **loss_val**. It seems to me that it's always zero. Could you please explain what is its purpose?

[2022-07-11 06:02] abhinand4as commented on #371
I am getting the same error when I try to train a custom model.

**Error Message:**
2022-07-11 11:24:07,585 - anomalib.utils.loggers - INFO - Loading the experiment logger(s)
2022-07-11 11:24:07,585 - anomalib.utils.callbacks - INFO - Loading the callbacks
2022-07-11 11:24:07,622 - pytorch_lightning.utilities.rank_zero - INFO - GPU available: True, used: True
2022-07-11 11:24:07,622 - pytorch_ligh

[2022-07-11 11:23] #406 closed

[2022-07-11 11:57] samet-akcay commented on #400
Hi @FaDavid98, what sort of result woulld you like to get? A mask, polygons? Any other format?

[2022-07-11 12:06] ashwinvaidya17 commented on #420
@ORippler I think segregating `ImageVisualizerCallback` and `MetricVisualizerCallback` might be a cleaner approach. Let me know what are your thoughts on that.

Also, just to break down your issue here is a list to capture it. Feel free to suggest any modifications.

- [ ] Add AUPR metrics
- [ ] Add PRO metrics
- [ ] Add visualizer for plotting the underlying scores in each metrics

[2022-07-11 13:27] samet-akcay commented on #421
I'll fix it then close it

[2022-07-11 13:34] samet-akcay commented on #411
I'll move this to Discussions. Feel free to continue the discussion from there. Cheers!

[2022-07-11 13:46] ORippler commented on #420
Sure we can split up the Callbacks, but then I suggest inheriting from a `VisualizerCallbackBase`.

[2022-07-11 13:48] samet-akcay commented on #420
Sure, this separation should cause minimal duplication.

[2022-07-11 13:49] samet-akcay commented on #321
Let's carry on the conversation in #420

[2022-07-11 13:49] #321 closed

[2022-07-11 13:52] #385 closed, assigned to nobody

[2022-07-11 13:55] #421 closed

[2022-07-11 13:57] samet-akcay commented on #335
@rumanto00, We apologize for the delay in responding. We somehow missed this. We haven't tested it on NCS2, so we can't say how it would perform there.

[2022-07-11 16:52] samet-akcay commented on #317
@shakib-root, will you be able to check this out our new inferencer. Ideally this issue should be resolved

[2022-07-11 16:54] samet-akcay commented on #317
I'm closing this, but feel free to re-open it if you face an issue. Cheers!

[2022-07-11 16:54] #317 closed

[2022-07-11 16:55] samet-akcay commented on #368
@shrinand1996, can you check this with the new inferencer we recently introduced?

[2022-07-11 16:56] #341 closed

[2022-07-11 17:02] samet-akcay commented on #294
Regarding setting different metrics, you could modify the configuration as follows:
![image](https://user-images.githubusercontent.com/17574420/178318544-fc3f1f9c-f85e-424e-b4fd-0306115bfff9.png)

[2022-07-11 17:02] samet-akcay commented on #400
Duplicate of #294. Let's continue our discussion there.

[2022-07-11 17:02] #400 closed

[2022-07-11 17:04] samet-akcay commented on #294
@wangk98, regarding the segmenttaion results, do you want the segmentation mask to be saved separately? Or would like to have access to the annotations from the inferencer?

[2022-07-12 00:29] nguyenanhtuan1008 commented on #294
@samet-akcay when running python tools/inference/lightning_inference.py we can get the result looks like

[2022-07-12 00:56] nguyenanhtuan1008 opened #430 "Turn off warnings from torchmetrics while running inference.py"
When I run inference I got the warning from **_torchmetrics_** as below. It makes inference get more time to executed.

[code]

How to turn off this warning?

[2022-07-12 02:34] wangk98 commented on #294
yes, I want the segmentation mask to be saved separately. If possible, I would also like to be able to plot the PR curve and AUC curve directly

[2022-07-12 04:29] samet-akcay commented on #381
@baraklior, just to understand the request correctly, you want to add `pre_trained` flag to config files to set it on/off depending on the need, right? For example, something like this for DFKDE:

![config](https://user-images.githubusercontent.com/17574420/178408746-be897290-6d78-4ea9-a5e2-ee4560f08ab1.png)

[2022-07-12 05:33] samet-akcay commented on #430
Duplicate of #366. This started to appear after the recent `torchmetrics` release. We'll update the code base to suppress this.

[2022-07-12 05:33] #430 closed

[2022-07-12 05:43] samet-akcay commented on #394
@ZeynepRuveyda, can you try this with the new lightning inferencer, which seems to be working on my end?

The new lightning inferencer replaces the `TorchInferencer`. With this new approach, if anything works during training, it would work during the inference as well.

[2022-07-12 06:07] nguyenanhtuan1008 opened #432 "Whait is custom config for training custom dataset on patchcore model."
When I use the format dataset below to change the config for the custom dataset in patchcore model as Readme.md
[code]

I got the error:
[code]

Am I doing wrong something? It still works on the MVTec dataset. but for the custom dataset, it didn't work.

[2022-07-12 06:09] samet-akcay commented on #432
Use `test_batch_size: 1`, which should fix it

[2022-07-12 06:10] samet-akcay commented on #432
patchcore implementation currently does not support multiple batch sized inference

[2022-07-12 06:15] nguyenanhtuan1008 commented on #432
@samet-akcay Thank you so much. It works!

[2022-07-12 06:15] #432 closed

[2022-07-12 07:08] #381 closed

[2022-07-12 08:37] alevangel opened #433 "Why there are two configs parameters?"
**Describe the bug**
I see that for each model there are 2 yaml files. One located in `./configs/model/<file.yaml>`, and the other in `./anomalib/models/<model>/<file.yaml>`

**To Reproduce**
The first config file if used generates some errors of missing keys
`!python train.py --model reverse_distillation --config configs/model/reverse_distillation.yaml`

[code]

I'm referring to the develop branc

[2022-07-12 08:46] samet-akcay commented on #433
@alevangel, the ones in `./configs` are for the new CLI, which is in beta at the moment. This is stated at the top of each new config files. For example for reverse distillation;
https://github.com/openvinotoolkit/anomalib/blob/development/configs/model/reverse_distillation.yaml#L3

[2022-07-12 08:46] samet-akcay commented on #433
if you want to use the new config to use reverse distillation you need to run

`anomalib fit --config ./config/model/reverse_distillation.yaml`

[2022-07-12 09:22] samet-akcay commented on #281
There is a duplicate discussion in #294. Let's continue the discussion there. Closing this one.

[2022-07-12 09:22] #281 closed

[2022-07-12 10:25] samet-akcay commented on #294
You could follow PR #429 for metric visualization

[2022-07-12 12:33] udasinnayan opened #436 "Error for multiple gpu training"
In the config file trainer part, if I set `auto_select_gpus: true` and `devices: 2`, I got an error like
`AttributeError: Can't pickle local object 'FeatureExtractor.get_features.<locals>.hook'`, it comes from this line `trainer.fit(model=model, datamodule=datamodule)` in `anomalib/tools/train.py` script but for single GPU it works without an error. Any comments about this error / is it possible t

[2022-07-12 14:40] alevangel commented on #433
@samet-akcay I see. Thank you for the comment!

[2022-07-12 15:19] tsmiyamoto commented on #385
@VdLMV Thank you for fixing it!!!

@samet-akcay Thank you for your reply. This PaDiM repository is really great 👍

[2022-07-12 15:28] ashwinvaidya17 commented on #436
Hi @udasinnayan that's a known issue. This might probably be solved when me move towards torchfx but the only option is to use single GPU for now.

[2022-07-12 17:59] #433 closed

[2022-07-13 05:49] samet-akcay commented on #436
@ashwinvaidya17, I'm wondering if this is the case even when we use `timm`'s feature extractor

[2022-07-13 11:29] #325 closed

[2022-07-13 15:37] samet-akcay opened #438 "Improve Codacy Results."
Codacy shows number of issues. Address the following items to improve the codacy results.

- [ ] Configure pylint for codacy.
- [ ] Configure pydocstyle for codacy.
- [ ] Add markdownlint to the repo (pre-commit)
- [ ] Add shellcheck to the repo (pre-commit)

[2022-07-13 19:02] #420 closed

[2022-07-15 09:06] #352 closed

[2022-07-16 04:24] J-byte-cloud commented on #405
@samet-akcay I also met this problem on my machine. I want to add metrics as  A、P、R to code, but  A、P、R always got value 0.0 or 1.0 in the log. Was this a bug?How can I solve it?

[code]
My machine's setting is Windows 10 home Chinese--AMD Ryzen 5 4600H--anomalib Version0.3.3.

[2022-07-18 06:37] mrljwlm opened #440 "export patchcore to onnx error"
RuntimeError: Exporting the operator cdist to ONNX opset version 11 is not supported

[2022-07-18 09:55] ORippler opened #441 "`Visualizer` with `task=classification` and `mode=simple` fails"
**Describe the bug**
`Visualizer` with `task=classification` and `mode=simple` fails for AD-only methods

**To Reproduce**
Train any AD-only method (e.g. `ganomaly`) with `mode=simpole`.

**Expected behavior**
Visualizer works as expected

**Additional context**
Should be easy to fix by changing

https://github.com/openvinotoolkit/anomalib/blob/development/anomalib/post_processing/visualizer.py#L1

[2022-07-18 14:03] ORippler opened #443 "Add unit-tests for `AUPRO` metric"
**Is your feature request related to a problem? Please describe.**
  - In order to maintain good code health, its important to add tests to it. Currently, the AUPRO metric is not being tested.

**Describe the solution you'd like**
  - Add unit-tests for AUPRO metric

**Additional context**
  - AUPRO was added in #429

[2022-07-19 07:21] Howeng98 opened #445 "Calculate detection AUROC from anomaly map"
Great contribution to the community, appreciate that !!

Is it possible to get the detection performance from the anomaly map (segmentation)? I mean like the way that get the top k highest anomaly score in the anomaly map and calculate the mean of them as the threshold for decide as anomaly or not.

Is there any misunderstanding or something that I miss about this kind of way to calculate detectio

[2022-07-20 07:47] #441 closed, assigned to nobody

[2022-07-21 08:15] alexriedel1 commented on #440
You could replace the `torch.cdist` by a simple implementation of the euclidian distance like this one: https://discuss.pytorch.org/t/understanding-cdist-function/76296/13

[code]
I guess the operators are all supported in onnx.

or maybe even just: https://discuss.pytorch.org/t/efficient-distance-matrix-computation/9065/5

[2022-07-21 11:48] Vvdinosaur opened #447 "visualize error from author"
error exists in anomalib/post_processing/visualizer.py:
--line 55: if self.gt_mask is not None and np.max(self.pred_mask) <= 1.0
I think it should be: if self.gt_mask is not None and np.max(self.gt_mask) <= 1.0

[2022-07-21 11:49] #447 closed

[2022-07-21 13:20] udasinnayan commented on #327
For classification task (with custom dataset where no ground truth mask is provided), patchcore model can generate heatmap (usually get percentage of anomalous image as output) which is easier to identify anomalies where normal patches has different color then anomalies. Is it possible to create bounding box for all the detected anomalies in Classification task?

For visualization in `anomalib/pos

[2022-07-22 07:11] Vvdinosaur opened #448 "PatchCore inference"
when inference, patchcore model need "memory_bank" to compute distance ,which is used in models/patchcore/torch_model.py, line 158:
distances = torch.cdist(embedding, self.memory_bank, p=2.0)
I think I should save it when train,and use it when inference...but how i save it and how to use it?

[2022-07-22 14:04] Better-Than-Never opened #449 "Pretrained weights and pixel-F1 Score not available currently."
First,Thank you guys for this great project!

I'm doing a benchmark related to pixel-level F1 score accross the models, sadly my hardware situation is a little bit on shortage since I'm still in collage.
And I wonder if you could provide the pretrained model of the methods in your projects.
Alternatively, if the pretrained model could not be provided for some reason, is it possible for you guys to

[2022-07-23 09:28] Vvdinosaur opened #450 "CFlow inference error"
It may exists an error in cflow inference:
in models/cflow/anomaly_map.py ,line 59 is :
            test_map.append(
                F.interpolate(
                    test_mask.unsqueeze(1), size=self.image_size, mode="bilinear", align_corners=True
                ).squeeze()
at train steps, the test_mask shape is [batch_size,32,32] (batch_size>1):
1、after F.interpolate() ,it becomes [batch_size,

[2022-07-25 12:23] amal-r-17 opened #452 "Error while trying to do HPO of patchcore"
I am trying to to do hyperparameter optimisation of patchcore model on a custom dataset but structured in the mvtec format. But the optimization is not happening and it is showing me this error.

ERROR Run wsg1bt94 errored: AttributeError("'PatchcoreLightning' object has no attribute 'adaptive_threshold'")

[2022-07-26 10:11] samet-akcay commented on #450
@Vvdinosaur can you also share your config file too?

[2022-07-26 12:36] ashwinvaidya17 opened #454 "Visualization keys missing when using the new CLI"
**Describe the bug**

Using the command `anomalib fit --config configs/model/padim.yaml` throws

`anomalib: error: 'Configuration check failed :: No action for destination key "visualization.log_images_to" to check its value.'`

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout development
2. run  `anomalib fit --config configs/model/padim.yaml`

**Expected behavior**
- Training should

[2022-07-27 10:12] Vvdinosaur commented on #450
@samet-akcay Hi,thanks your reply,this is my config file:
"
dataset:
  name: mvtec #options: [mvtec, btech, folder]
  format: mvtec
  path: /media/ycao/data0/anomalib/mvtec
  category: toothbrush
  task: segmentation
  image_size: 256
  train_batch_size: 16
  test_batch_size: 16
  inference_batch_size: 16
  fiber_batch_size: 64
  num_workers: 0
  transform_config:
    train: null
    val: null
  c

[2022-07-27 10:16] samet-akcay commented on #450
The reason for asking a config file is to reproduce the issue.

Great! We'll test this on our end as well.

[2022-07-27 11:23] davidebaltieri31 opened #457 "question about AdaptiveThreshold, possible bug?"
I'm running anomalib on a custom dataset (around 20k samples) and I've noticed costant crashes after a few epochs/validation steps (DefaultCPUAllocator: can't allocate memory...) almost independently of the modeI I choose.

It seem to be related to AdaptiveThreshold.
In it PrecisionRecallCurve is used, and after every validation step new data is added to it, old data is never deleted.
Why?
Shouldn

[2022-07-28 01:53] ke-dev opened #459 "inference speed"
**Describe the solution you'd like**
  - A clear and concise description of what you want to happen.
HI, developers, when I want to use lightgning_inference to test the inference speed of a single image, I find that it takes a lot of time, is it because of the dataloaders? How should I improve the inference speed, can you give me some advice?
**Additional context**
  - Add any other context or scr

[2022-07-28 03:09] #448 closed

[2022-07-28 12:02] Vvdinosaur commented on #450
@samet-akcay  and i have another one question about CFlow.
for same image, outputs["anomaly_maps"] in test result (run train.py) and  outputs["anomaly_maps"]  in inference result (run lightning_inference.py) are different......why?
i guess....when inference ,cflow model only load  weights of encoder（yes?）,,how about decoder?

[2022-07-29 09:05] J-byte-cloud opened #461 "Error for image_size"
**Describe the bug**
- When I set image_size to 39 in yaml files, ganomaly、fastflow、draem、dfm、cflow, these algorithms will get errors and can't run.

**To Reproduce**
Steps to reproduce the behavior:
1. Set image_size to 39 in dataset of yaml file.
2. Run code
3. See error

**Hardware and Software Configuration**
- OS: Win 10

**Additional context**
- It's worth mentioning that these  errors of al

[2022-07-29 15:22] samet-akcay commented on #459
@ke-dev we have just merged [`TorchInferencer`](https://github.com/openvinotoolkit/anomalib/blob/development/tools/inference/torch_inference.py) back, which performs pure torch inference. You could perhaps check it out?

[2022-07-30 06:29] ke-dev commented on #459
Thank you so much, this is very helpful to me.

[2022-07-30 06:29] #459 closed

[2022-07-31 00:27] nguyenanhtuan1008 opened #463 "train.py got error on metrics AUROC."
When I run train.py on custom metrics
python tools/train.py --config .../config.yaml
I got the error.
[code]
How to fix it?

[2022-07-31 06:20] nguyenanhtuan1008 opened #464 "Is possible to train only normal_dir on custom dataset?"
https://github.com/openvinotoolkit/anomalib#custom-dataset
[code]
If someone gives only normal images, it means I have only normal_dir and would like to do train.py with only normal images. And after training, I will provide this model to them to predict with their dataset. Is it possible to do it?
When I try to set
[code]
then it didn't work.

When I read the notebook for MVTec
https://github.com

[2022-07-31 13:43] clarezei opened #465 "Patchcore: the value of nearest neighbor size"
Thanks to your efforts,
according to paper,
the value of nearest neighbor is set to 3,
but here in the code it is set to 9,
May I ask the reason for that?

[2022-08-01 08:24] #452 closed

[2022-08-02 00:43] wskdhr commented on #448
Hi!,I just got the same issue,
could you please share how you solved this?

[2022-08-02 04:35] samet-akcay commented on #448
Hi, `memory_bank` is part of the `TorchModel` [here](https://github.com/openvinotoolkit/anomalib/blob/main/anomalib/models/patchcore/torch_model.py#L56).

When the model weights are loaded, the memory bank is loaded as well.

[2022-08-02 06:36] ORippler opened #471 "Add support for MVTEC LOCO AD"
**Is your feature request related to a problem? Please describe.**

MVTec AD dataset only consists of low-level, textural/structural anomalies. To test the capability at detecting high-level, semantic/logical anomalies, additional datasets are needed.

**Describe the solution you'd like**

Integrate a default dataloader and evaluation scheme for [MVTEC LOCO AD](https://link.springer.com/article/10

[2022-08-02 06:40] ORippler commented on #463
Did you assign `pixel` metrics in your `config.yml` without providing segmentation masks for your custom problem?

[2022-08-02 06:50] ORippler commented on #440
Just a quick update from my side:

support for `torch.cdist` was added in PyTorch 1.12 by partitioning/refactorign `cdist` via supported ops in onnx (see [this PR](https://github.com/pytorch/pytorch/pull/75278), so export to onnx should work and does work.

However, the exports of all models that use gaussian blur from kornia fails in 1.12 (due to dynamic determination of kernel_size).

Side note

[2022-08-02 06:52] nguyenanhtuan1008 commented on #463
Ah, so I need to provide segmentation masks for it. Thank you for your answer!
Anyway, what is the rule for segmentation masks directory will be?

[2022-08-02 06:57] ORippler opened #472 "Export to onnx fails for some models with Pytorch 1.12"
**Describe the bug**

in Pytorch 1.12, export to onnx fails for all models that rely on [`kornia.filters.gaussianblur2d`](https://github.com/kornia/kornia/blob/c8cd4040a375ec7d9b7bd604634d96721c46c9e0/kornia/filters/gaussian.py#L10).

**To Reproduce**

Steps to reproduce the behavior:

1. install PyTorch 1.12
2. run a model (e.g. `padim`) with export to onnx enabled

**Expected behavior**

Export

[2022-08-02 07:01] ORippler commented on #463
You can just disable the metric/remove it from your config if you don't have segmentation masks.

Regarding the required config keys for datasets, refer the [readme](https://github.com/openvinotoolkit/anomalib#custom-dataset)

[2022-08-02 07:03] nguyenanhtuan1008 commented on #463
OK. I understood. Thank you!

[2022-08-02 07:03] #463 closed

[2022-08-02 07:26] ORippler commented on #457
Since PrecisionRecallCurve works on all data/is computed on the complete data by default in torchmetrics, you will have to hoid all your datapoints in memory. For large datasets, you can look at the [binned PR-Curve](https://torchmetrics.readthedocs.io/en/stable/classification/binned_precision_recall_curve.html?highlight=precisionrecall), implemented for this purpose by torchmetrics.

[2022-08-02 08:59] ke-dev opened #473 "STFPM and CFLOW torch inference error"
**Describe the solution you'd like**
hi developer, when I use CFLOW and STFPM for torch inference, I encountered the following error, but using PatchCore and PaDim can run normally
the command and error 1
`python tools/inference/torch_inference.py \
    --config anomalib/models/stfpm/config.yaml \
    --weights results/stfpm/mvtec/carpet/weights/model.ckpt \
    --input datasets/MVTec/carpet/test/

[2022-08-02 11:59] #473 closed

[2022-08-02 11:59] samet-akcay commented on #473
@ke-dev PR #475 fixes the issue.

[2022-08-02 12:55] ORippler opened #477 "Dockerfile does not contain all tools needed to develop `anomalib`"
**Describe the bug**

1. Dockerfile doesn't build since `./requirements/dev.txt` was deleted/removed.
2. Pre-commit hooks that rely on nodejs npm or ruby fail, since they use the system install
3. Due to removal of black, flake and others, functionality such as format_on_save specified in `.devcontainer.devcontainer.json` no longer works.

**To Reproduce**

1. Build docker container
2. Run the pre

[2022-08-02 23:37] CoolPandaWang commented on #464
plz read notebook carefully

[2022-08-03 11:17] davidebaltieri31 commented on #457
I think my post wasn't clear and I used the term "step" incorrectly.
I understand that PrecisionRecallCurve works on all data, but why it keep data from previous epochs?
I.e. I run training and validation after each epoch:
Epoch 1 -> validation 1 -> epoch 2 -> validation 2 -> etc.
which are I think the default settings in the repo config files, my question is why does AdaptiveThreshold uses Precis

[2022-08-03 11:58] ORippler commented on #457
Ahh I see. At a quick glance it seems as if the `reset` method is missing from AdaptiveThreshold.

Can you try to add:

[code]
to the class and see if that fixes the bug/problem? Class can be found [here](https://github.com/openvinotoolkit/anomalib/blob/main/anomalib/utils/metrics/adaptive_threshold.py#L6-L46). overall class should look as follows:

[code]

[2022-08-03 12:51] ZeynepRuveyda opened #481 "model training with custom dataset"
Hello,
When I am starting the training model with custom dataset , I got this problem. I face this issue first time. Can you help me?

thanks,

(env) (base) zeynep_automi_ai@anomalib:~/zeynep/anomalib$ python tools/train.py --config anomalib/models/padim/config_orange.yaml
/home/zeynep_automi_ai/zeynep/env/lib/python3.9/site-packages/pytorch_lightning/utilities/cli.py:95: LightningDeprecationWarni

[2022-08-03 13:01] ZeynepRuveyda commented on #481
I changed `pytorch-lightning>=1.6.0,<1.7.0` in the base.txt but did not work.It shows same error.

[2022-08-03 13:03] ZeynepRuveyda commented on #481
yess I reinstall it.

[2022-08-03 13:04] ZeynepRuveyda commented on #481
But I am still using Anomalib < v.0.4.0 version commands.

[2022-08-03 13:07] ZeynepRuveyda commented on #481
Is there any changes for omegaconf too?

[2022-08-03 13:14] ashwinvaidya17 commented on #481
@ZeynepRuveyda can you tell which version of anomalib are you using?

[2022-08-03 13:16] davidebaltieri31 commented on #457
Hi,
added the reset code to both, but it's not called. I think there are probably other changes that need to be made, probably in anomaly_module or somewhere else in anomalib?