[2022-08-03 13:17] ZeynepRuveyda commented on #481
I didnt  mention specific version but I am familiar command lines  with Anomalib < v.0.4.0 version

[2022-08-03 13:20] ashwinvaidya17 commented on #481
I think the issue you are facing is because the configuration for logging images has changed in this PR https://github.com/openvinotoolkit/anomalib/pull/390. Since you are using a custom configuration, you will have to update it to something similar

[code]

[2022-08-03 14:02] #481 closed

[2022-08-03 14:05] ZeynepRuveyda commented on #481
thanks @ashwinvaidya17  and @samet-akcay

[2022-08-03 18:31] #477 closed

[2022-08-04 06:18] ORippler commented on #457
Did you install anomalib with the `-e` flag, i.e. via `pip install -e`?

If so, please provide a MWE so that the bug can be localized.

[2022-08-04 13:18] #472 closed

[2022-08-04 17:10] dominikgraf opened #484 "Fastflow lightning CLI method config: No action for destination key OR 'Namespace' object has no attribute 'category'"
**Describe the bug**

I use a custom dataset to train Fastflow with the new Lightning CLI Method. If I define 'category' in the config there is an Error:
[code]
When I comment 'category' out in the config, there is an other AttributeError:
[code]

**To Reproduce**

Steps to reproduce the behavior:

- Create config for Fastflow with custom Dataset:
[code]
- Call `anomalib fit --config anomalib_mode

[2022-08-04 17:41] samet-akcay commented on #484
Thanks for reporting this @dominikgraf. New LightningCLI is still beta, and we expect this sort of issues. We'll try to fix it asap

[2022-08-05 16:06] nguyenanhtuan1008 opened #485 "How to run openvino inferencer?"
I set the config file to:
[code]
and then I got the .json and .onnx model file.
After that, I install the package for openvino by following requirements/openvino.txt file. but when I run the openvino_inference.py I got the error:

[code]
How to fix this issue?

[2022-08-05 16:12] nguyenanhtuan1008 commented on #464
@CoolPandaWang I read it and I know we need normal data + abnormal data. Just a stupid question is:
Do we need some anomaly data to train the model?

[2022-08-08 13:03] DeepSpace98 opened #486 "Can the produced model.onnx use in the c++ inference?"
Great works.Now I want to let the Patchcore's onnx model use in the C++  inference, but I find it is diffcult, can you teach me how to begin it?

[2022-08-09 09:52] ashwinvaidya17 commented on #486
@DeepSpace98 Thanks for your interest but C++ inference is outside the purview of this repository. You can try looking into onnx documentation or you can try adapting `openvino_inference.py` for C++ by using OpenVINO's C++ API. These docs might help https://docs.openvino.ai/latest/openvino_inference_engine_samples_hello_classification_README.html

[2022-08-09 09:52] #486 closed

[2022-08-09 09:54] ashwinvaidya17 commented on #485
@nguyenanhtuan1008 What is your python version?

[2022-08-09 12:04] nguyenanhtuan1008 commented on #485
@ashwinvaidya17 My python version is 3.8.13.

[2022-08-09 12:23] ashwinvaidya17 commented on #485
I am not able to reproduce the issue on my end. There might be an issue with the path/virtual environment. Can you check if `ie_api.so` exists in your python environment at this location `<install-path>/lib/python3.8/site-packages/openvino/inference_engine`?

[2022-08-09 16:51] nguyenanhtuan1008 commented on #485
I'm using anaconda, and I just checked out that there is no ie_api.so in my env path. I see only ie_api.pyd is there.

[2022-08-10 07:15] ashwinvaidya17 commented on #485
@nguyenanhtuan1008 If reinstalling `openvino` from pypi does not work then I would suggest that you download the runtime from this link https://www.intel.com/content/www/us/en/developer/tools/openvino-toolkit/download.html

[2022-08-10 10:11] nguyenanhtuan1008 commented on #485
I back to python 3.7, installed all independency packages along with openvino, and it's working. I think need to update the new list package for installing openvino.
Thank you so much for your support. @ashwinvaidya17

[2022-08-10 10:11] #485 closed

[2022-08-10 11:06] code10086web opened #489 "In the classification task, the predicted results of pixel segmentation are expected to give"
It is hoped that in the classification task, the prediction of pixel segmentation can be given when tested. What should I do?

[2022-08-10 12:32] #454 closed

[2022-08-10 15:18] samet-akcay commented on #489
@code10086web, can you elaborate a bit please?

[2022-08-11 02:15] code10086web commented on #489
For example， In a custom dataset, Since there is no pixel-level labelling, I set the task option to classification task instead of segmentation task. so during the inference phase, I can only get the result of whether the image is anomalous or not, and cannot know the result of where the anomalous area is roughly. But the predicted results of pixel-level are not given.

[2022-08-11 02:31] kx-Z opened #492 "Can I not test during training? I always get stuck after testing. I use CPU for training. OS is windows."

[2022-08-11 02:39] #492 closed

[2022-08-11 04:12] samet-akcay commented on #445
@Howeng98, the way performance is evaluated varies based on each algorithm. For example, here is how the performance of [PatchCore](https://github.com/openvinotoolkit/anomalib/blob/main/anomalib/models/patchcore/anomaly_map.py#L50-L62) is computed. If the model doesn't have a specific method to compute the anomaly score, [AnomalyModule](https://github.com/openvinotoolkit/anomalib/blob/main/anomali

[2022-08-11 04:15] samet-akcay commented on #465
@clarezei, this would be application-dependent, but in our implemenation we tune this based on the mvtec benchmarks. You could potentially use our hyper-parameter search [tool](https://github.com/openvinotoolkit/anomalib/tree/main/tools/hpo).

[2022-08-11 05:38] code10086web commented on #489
Could you give me some tips? Thank you very much.

[2022-08-11 06:17] amal-r1 opened #493 "Anomaly detections of patchcore have poor localisation"
I am training a patchcore model on a custom dataset, and from the results I was able to observe that the localisation were not very good. Instead of pinpoints where the anomaly is, the model is giving a patch of area around it as anomalous. I tried a lot of things, like tuning parameters and improving of the data etc, but still the issue is persisting. The only difference between my data and the o

[2022-08-11 09:00] kx-Z opened #494 "Questions about custom datasets."
I wonder if these algorithms are effective for some large exceptions? The background may also be slightly different, such as damage on different containers. If it is effective, what parameters need to be adjusted?

[2022-08-11 09:23] #461 closed

[2022-08-11 11:30] samet-akcay commented on #461
@J-byte-cloud, did you solve this issue?

[2022-08-11 11:35] samet-akcay commented on #461
Ganomaly expects an input size that is a power of 2. You could therefore use 32x32 or 64x64 images.

DFM, Fastflow, Cflow models use a CNN backbone such as ResNet, which are trained using image sizes of 224 or 256. I'm not sure if a size of 39 would be handled properly by the backbones. Padding could potentially address, but I feel like there would be some issues that silently fail.

[2022-08-12 08:52] beniben0 commented on #385
@tsmiyamoto which version of Python did you use?
Thank you for your reply

[2022-08-12 08:53] beniben0 commented on #385
@tsmiyamoto which version of Python did you use?
Thank you for your reply

[2022-08-12 09:11] tsmiyamoto commented on #385
@beniben0
Thank you for your question.
I was using Python 3.6.9, which is pre installed on Jetson Nano (JetPack 4.6.1).

[2022-08-12 09:29] beniben0 commented on #385
Good to know thanks. I thought anomalib required version 3.8.
I'm struggling with installing anomalib on my Jetson Xavier NX.

[2022-08-13 12:17] J-byte-cloud commented on #461
Thanks,I'll try.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "openvinotoolkit/anomalib"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年8月11日(星期四) 晚上7:35
***@***.***&gt;;
***@***.******@***.***&gt;;

[2022-08-15 03:16] zuowanggithub opened #502 "run a model (e.g. padim) with export to onnx enabled"
How do you convert the algorithm to onnx for model deployment?(e.g. Padim)

[2022-08-15 10:41] dominikgraf commented on #489
@code10086web You need to give a mask for the ground truth as far as I know. You could augment your dataset and create your own anomalous images and save a mask for the augmented area. I hope this is what you meant.

[2022-08-15 15:08] glucasol opened #504 "Anomalib with CUDA"
Is it possible to run anomalib on CUDA? If so, how can I do this?

[2022-08-16 01:59] fujikosu commented on #268
Hi @samet-akcay , thanks for developing this amazing library!

Is any investigation done since then? It'd be great if you could share any info around here if any. I'm running inference over about 18000 images. Although there is still plenty of GPU memory available during inference, due to batch size 1 restriction, inference takes more than 10 hours to finish. So, it'd be great if we could set batc

[2022-08-16 11:09] code10086web commented on #489
Thanks a lot.

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Samet ***@***.***&gt;;
发送时间: 2022年8月15日(星期一) 晚上10:45
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [openvinotoolkit/anomalib] In the classification task, the predicted results of pixel segmentation are expected to give (Issue #489)

@code10086web, here is the link how the visualization images are genera

[2022-08-17 07:12] zuowanggithub opened #505 "onnx"
How do you convert the algorithm to onnx for model deployment?(eg. Padim)

[2022-08-17 10:15] HBing110 opened #506 "train error RuntimeError: PytorchStreamReader failed reading zip archive: failed finding central directory"
2022-08-17 18:04:11,080 - pytorch_lightning.utilities.seed - INFO - Global seed set to 42
2022-08-17 18:04:19,450 - anomalib.data - INFO - Loading the datamodule
2022-08-17 18:05:06,595 - anomalib.models - INFO - Loading the model.
2022-08-17 18:07:20,438 - anomalib.models.components.base.anomaly_module - INFO - Initializing PadimLightning model.
F:\ProgramData\Anaconda3\envs\anoma\lib\site-packag

[2022-08-18 06:40] #445 closed

[2022-08-18 13:13] fujikosu commented on #440
@ORippler Thanks for the info here! I tried to install pytorch 1.12 with anomalib 0.35. But pytorch version was automatically degraded to 1.11. I suspect the reason why is because that newest pytorch version is only compatible with torchvision 0.13 for now according to [this page](https://pypi.org/project/torchvision/).

torch | torchvision | python
-- | -- | --
main / nightly | main / nightly | >

[2022-08-18 14:42] pierrebedu opened #507 "How to get label and score without the image for classification task?"
Hi,

Thanks for that great lib !
The models work fine on my own dataset but i'm struggling to analyse the results.

I only can get the results (anomalous or normal) written on an image located in the "output repo".
This is not what i need.

 I would like a csv (or file of some sort) with the names of the images and the results ( that's useful for inference on a big batch)

Maybe there is a config

[2022-08-18 20:12] ashishbdatta commented on #505
Since applying the OpenVINO optimization will generate an `.onnx` file you could this to your config:

[code]

The `ONNX` file should be saved near your model weights folder.

I am creating a #509 PR to make this export more generic. You could also pull from top of `main` branch once it is merged.

[2022-08-18 20:12] ashishbdatta commented on #502
Since applying the OpenVINO optimization will generate an `.onnx` file you could this to your config:

[code]

The `ONNX` file should be saved near your model weights folder.

I am creating a #509 PR to make this export more generic. You could also pull from top of `main` branch once it is merged.

[2022-08-19 07:34] nguyenanhtuan1008 opened #510 "Can not run training model on GPU"
When I set accelerator: GPU in the config file I got the error.
[code]
How can I use GPU for training and also testing?

[2022-08-19 10:17] nguyenanhtuan1008 commented on #510
Install torch-gpu solved this problem!

[2022-08-19 10:17] #510 closed

[2022-08-22 02:17] code10086web opened #511 "How to get results for all categories (e.g., wood, bottle, leather) at the same time?"

[2022-08-23 09:00] cyj95 commented on #286
In official patchcore work, the performance is   Patchcore(99.1,98.1).
But your work get (98.0,98.0),which is lower than official.
Why is that ?  Is there any problem about the score calculation?

[2022-08-24 08:53] simon376 opened #512 "Allow custom Data Normalization and consider it in Post-processing"
**Is your feature request related to a problem? Please describe.**

By default (without warning the user!), if no `transform_config_{train,val}` is supplied to the datamodule, the code uses ImageNet statistics to normalize the images, which may be a good default for the included datasets, but should print some warning to the developer on custom data.

At the Post-Processing step, e.g. when visuali

[2022-08-24 09:23] 1chimaruGin opened #513 "Patchcore validation and test error!"
**Describe the bug**

- Value Error: No samples to concatenate
How can I fix this?
I trained on my custom dataset. with the following config.
[code]

**Error**

[code]

[2022-08-25 05:54] Junm0ri commented on #513
@1chimaruGin
[code]
In my case, Editing the `metrics` section like above has worked.
(That means, you have to remove sections related to `pixel` when your task is not `segmentation`.)

You can check [this issue](https://github.com/openvinotoolkit/anomalib/issues/463)

[2022-08-25 05:56] 1chimaruGin commented on #513
@Junm0ri Thanks! It's work.😊

[2022-08-25 05:56] #513 closed

[2022-08-25 07:23] samet-akcay commented on #489
Closing this issue, thinking it's resolved now. Feel free to re-open if there are further issues.

[2022-08-25 07:23] #489 closed

[2022-08-25 07:30] samet-akcay commented on #28
This could be closed now that it's been implemented.

[2022-08-25 07:30] #28 closed

[2022-08-25 07:34] samet-akcay commented on #294
Closing this due to inactivity. Fee free to re-open if you still encounter any issues.

[2022-08-25 07:34] #294 closed

[2022-08-25 09:29] alexriedel1 commented on #512
My suggestion to solving this issue is to save the (validation) preprocessing pipeline to the model so it can be loaded from the model file for inferencing.

[2022-08-28 02:27] code10086web opened #518 "As the latest cuda (RTX3090 11.6) is not compatible with anomalib <0.4.0, how can I get a higher version of anomalib?"

[2022-08-28 05:17] samet-akcay commented on #518
Hi @code10086web, can you elaborate? Do you mean, when you install anomalib, you cannot use RTX3090 GPU during training?

anomalib installs the default PyTorch version if you don't manually install PyTorch. Have you tried installing Torch+CUDA11.6 via `pip3 install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cu116`? You could manually install this after installi

[2022-08-28 05:23] code10086web commented on #518
I have tried this, but the message I get is that the anomalib version (0.3.x) is not compatible with torch 1.12.1, so I tried using pip install anomaliib==0.4.x, but it returns that this version is not available.

[2022-08-28 05:27] samet-akcay commented on #518
ah, I see. Yeah, the reason is that Torch v1.12 broke some components in anomalib. We need to address this, but unfortunately had some other priorities.

For now, you could use a previous pytorch version such as 1.11, which should work fine. Meanwhile, we'll try to address this incompatibility.

[2022-08-28 05:28] samet-akcay commented on #518
As shown [here](https://pytorch.org/get-started/previous-versions/), you could try something like

[code]

[2022-08-28 07:50] zuowanggithub opened #519 "c++ onnx"
How to use c++ to load onnx model and get segmentation results?

[2022-08-28 09:29] jpcbertoldo commented on #457
Shouldn't this one be closed?

[2022-08-28 12:04] #505 closed

[2022-08-29 13:09] Luksalos opened #523 "Error(s) in loading state_dict for PatchcoreLightning"
**Describe the bug**

Running  `tools/inference/torch_inference.py` throws:

[code]

**To Reproduce**
1) Using default `patchcore/config.yaml`
2) Train the model: `python tools/train.py --config anomalib/models/patchcore/config.yaml`
3) Use trained model for `torch_inference`:
[code]

**Additional context**

Error is present since commit d6951ebaaf36477bf245b17b5b6a563d35892e81

[2022-08-29 13:23] djdameln commented on #523
@ashwinvaidya17 can you have a look at this? It seems to be related to the normalization redesign

[2022-08-29 13:42] djdameln commented on #504
By default, Anomalib installs a version of PyTorch that includes CUDA support, so if your system is equipped with a compatible GPU, it should automatically run on CUDA. If this is not the case, could you please provide us with more details about your system configuration, and the steps you took to install and run Anomalib?

[2022-08-29 13:45] djdameln commented on #512
Thanks for pointing this out, I do agree with your observations. We will discuss internally what would be the best way to address these points and then assign someone from our team to work on it.

[2022-08-29 14:18] djdameln commented on #457
I believe that the original issue is not yet resolved. While the `reset` method has been added to the `AdaptiveThreshold` metric class, the method is never called. This means that for models that need to be trained for multiple epochs, the data from the previous epochs is never cleared, which in turn may lead to out of memory errors. It could also lead to inaccurate computation of the adaptive thr

[2022-08-29 14:19] djdameln commented on #438
@samet-akcay this has been implemented right? Can we close this issue?

[2022-08-29 14:20] djdameln commented on #368
Closing due to inactivity. Feel free to reopen if the problem persists.

[2022-08-29 14:20] #368 closed

[2022-08-29 14:22] djdameln commented on #347
Done, see https://github.com/openvinotoolkit/anomalib/pull/500

[2022-08-29 14:22] #347 closed

[2022-08-29 14:25] djdameln commented on #502
The most recent up-to-date instructions for exporting a trained model can be found on [this page](https://openvinotoolkit.github.io/anomalib/guides/export.html) in our documentation. I'm closing this issue now, but please feel free to re-open if you have any additional questions.

[2022-08-29 14:25] #502 closed

[2022-08-29 14:49] #438 closed

[2022-08-29 18:39] dominikgraf commented on #484
Hey again, the bug is still present in the current version, so I took a second look.

The training works after I made a small change to anomalib/anomalib/utils/cli/cli.py and my config.
I removed 'category' from the config and removed the _keys_ check in line 146 in cli.py:

Changed from:
`
146             category = config.data.init_args.category if config.data.init_args.keys() else ""
`
to:
`
14

[2022-08-30 06:29] ORippler commented on #440
I just overrode those requirements manually, and this seemed to work out locally (at least for my testings with EfficientNets + onnx export of patchcore). So you could always do that.

[2022-08-30 09:18] djdameln opened #528 "Training is non-deterministic even though seed is fixed"
**Describe the bug**

- Training yields different performance numbers between runs, even when the same seed is used. The problem only seems to occur for models that require multiple training epochs.

**To Reproduce**

Steps to reproduce the behavior:

1. Create an STFPM config file and fix the seed in `project.seed`.
2. Run the training and collect the performance numbers.
3. Run another training

[2022-08-30 14:48] dominikgraf commented on #507
You could write a custom script to only get the prediction score and prediction label for a dataset and an existing model.
Take a look at `anomalib/tools/inference/torch_inference.py` for the basic structure and `anomlib/deploy/inferencers/base_inferencer.py > Inferencer > predict` which returns:

[code]

You could then do something like this:
[code]
Hope that helps.

[2022-08-31 07:05] #457 closed

[2022-08-31 13:00] djdameln commented on #528
This is caused by non-deterministic CUDA operations. When running on GPU make sure that the `trainer.deterministic` parameter in the `config.yaml` is set to `true` when reproducible results are important.

[2022-08-31 13:00] #528 closed

[2022-08-31 16:04] alevangel opened #532 "RuntimeError: Attempting to deserialize object on a CUDA device but torch.cuda.is_available() is False."
**Describe the bug**
Trying to do an inference on CPU, with a model trained on GPU (Colab). But I get this error:
`RuntimeError: Attempting to deserialize object on a CUDA device but torch.cuda.is_available() is False. If you are running on a CPU-only machine, please use torch.load with map_location=torch.device('cpu') to map your storages to the CPU.
`
Where I can safely set the map_location?

**

[2022-08-31 16:18] samet-akcay commented on #532
@alevangel, do you set the device to cpu in your config file?

[2022-09-01 06:31] Vvdinosaur opened #533 "patchcore subsample_embedding is very slow"
Hi,
I have 2000+ images( img_size = 360x640) to train, it is very slow at subsample_embedding stage.
is there any method to accelerate this ?

[2022-09-01 08:29] alevangel commented on #532
is set to 'auto'.

This is the models/patchcore/config.yaml
[code]

[2022-09-01 08:36] alevangel commented on #532
The error rises from this line:
https://github.com/openvinotoolkit/anomalib/blob/bd369190cdb49f22a22ebd058ea4af46f50aee26/anomalib/utils/callbacks/model_loader.py#L38

Where it attemps to load a model from its weights, but they where trained on GPU I guess

[2022-09-01 09:01] alevangel commented on #523
I'm having a simlar issue, here the runtime error:

[code]

And this is the code I'm using:
[code]

With weights trained on Colab, and doing inference on CPU. This is the models/patchcore/config.yaml file, almost standard:

[code]

[2022-09-01 10:59] alexriedel1 commented on #523
@alevangel you might have not installed the same anomalib version on colab and locally where your are running your inference

[2022-09-01 12:43] alevangel commented on #523
@alexriedel1 on Colab I'm doing:
`!git clone https://github.com/openvinotoolkit/anomalib
`

While on local I'm on the last commit of the main branch, SHA:
`bd369190cdb49f22a22ebd058ea4af46f50aee26`

Those versions are not the same?

[2022-09-01 13:23] alevangel commented on #523
@alexriedel1 I'm quite sure that I'm on the same commit on both sides:
`!git checkout bd369190cdb49f22a22ebd058ea4af46f50aee26`

And I'm training on colab with the method:
`!python tools/train.py --model "patchcore"`

[2022-09-01 13:26] alexriedel1 commented on #523
Unfortunately I don't. Can you show the code you are using for loading the trained model?

[2022-09-01 13:32] alevangel commented on #523
This is the full code that I'm using in local:

[code]

Also I had to change this line:
https://github.com/openvinotoolkit/anomalib/blob/bd369190cdb49f22a22ebd058ea4af46f50aee26/anomalib/utils/callbacks/model_loader.py#L38
to:
`pl_module.load_state_dict(torch.load(self.weights_path, map_location=torch.device('cpu')["state_dict"])`

This is also my env:
[code]

[2022-09-01 13:54] alevangel commented on #523
@alexriedel1 actually I think as you that is a version problem, running inferences on Colab seems work:
[code]

But I am pretty sure that is the same commit on both side... where is the trick?! :'(

[2022-09-01 14:04] alexriedel1 commented on #523
Hm. can you please show the output of
[code]
on both colab and your local machine?

[2022-09-01 14:13] alevangel commented on #523
@alexriedel1 on both sides is
`__version__ = "0.3.5"
`

[2022-09-01 14:26] JACKYNIKK opened #534 "Problem with image saving"
Sorry, i would like to save all the input images of my custom dataset on local disk in results folder. But if i select save images =True in config.yaml file only some random of them are saved in results. How must i do to save them all? Sorry for the silly question but has been 3 days trying and i can't find a solution
![immagine](https://user-images.githubusercontent.com/99801808/187938708-c54bc29

[2022-09-01 14:34] alevangel commented on #523
@alexriedel1 oh gosh! It was a messy with the colab versions, I found the problem where was... In the big block of isntalling libraries I also installed anomalib (while also cloning the git), and this created an overlapping in the versions.

Now it works :') Thanks!!

[2022-09-01 14:34] yonafalinie commented on #534
Hi, as in my case I need to do the inference using _lightning_inference.py_ or _torch_inference.py_ in order to save the images.

[2022-09-01 14:37] djdameln commented on #534
Hi, this is certainly not a silly question! The visualizer only saves generates images for the test set, so I'm guessing your folder of test/abnormal images is split between the validation set and the test set. Which dataset format are you using? And would you mind sharing the config file that you are using in your training run?

As suggested by @yonafalinie, an alternative approach would be to ru

[2022-09-02 04:50] samet-akcay commented on #533
@Vvdinosaur, until we optimize the code, you could perhaps reduce the number of layers you are extracting. For example, you could only extract the features from 'layer3'. You could potentially play with `coreset_sampling_ratio` and `num_neighbors` parameters to improve the computation as well.

[2022-09-02 07:00] djdameln commented on #534
Yes, exactly. After a training run, we only visualize results for images in the test set. This is because the images in the validation set are not completely unseen by the model. These images might for example have been used to determine early stopping or to compute the adaptive threshold. As a result, the model might be biased towards these images, and the predictions on the validation set might

[2022-09-02 09:25] #366 closed

[2022-09-02 10:53] JACKYNIKK commented on #534
Thank you so much for this exhaustive explanation. I'm closing the issue since my doubt has been solve. Thank you again

[2022-09-02 10:53] #534 closed

[2022-09-02 15:00] djdameln commented on #464
Hi, thanks for your question and apologies for the late response. Unfortunately we do not currently support training without abnormal examples. The reason for this is that Anomalib always performs a validation stage after each epoch, and a testing stage after training is complete. For this it requires at least a few anomalous images.

While we do see the added value of running Anomalib on datasets

[2022-09-02 15:00] #464 closed

[2022-09-02 15:22] JACKYNIKK opened #536 "Low"
I don't know if it is appropriate to ask questions on how to use the repo in this issues section(i'm new to github). If not please let me know where i can find support on this.

Back to the issue:
I followed the tutorial to use the repo on my custom dataset:
https://github.com/openvinotoolkit/anomalib/tree/development/docs/blog/001-train-custom-dataset

The dataset i use is structured like this:
!

[2022-09-04 09:02] #523 closed

[2022-09-04 10:21] J-byte-cloud opened #539 "About val_ data and test_data"
In the anomalib framework,  what's the difference between val_ data and test_data? I has read the code, val_ data was randomly extracted from test_data ,and the were not related to train_ data, so what were their respective roles?

[2022-09-05 11:43] djdameln commented on #539
Hi, I recently answered a similar question in an issue submitted by another user: https://github.com/openvinotoolkit/anomalib/issues/534#issuecomment-1235141974. Does this comment answer your question as well? If not, please let me know which part is still unclear.

[2022-09-05 13:24] pierrebedu commented on #507
thanks for your answer ! ;)

I am trying to use the pytorch lightning inferencer (in my understanding, the torch inferencer is no longer supported) so i had a hard time implementing that.

I succeed in adding a "save to csv" script in the post_processingvisualizer.py

Thanks again

[2022-09-06 03:51] AndSonder opened #540 "Why the models' AUC is lower than the AUC on the paperwith code website"
Why the models' AUC is lower than the AUC on the paper with code website

paperwithcode url: https://paperswithcode.com/sota/anomaly-detection-on-mvtec-ad

I found that most of the models can't reach the AUC on the paperwithcode website.

[2022-09-06 05:30] samet-akcay commented on #532
@alevangel, thanks for your suggestion. We could maybe add a fix using `map_location=pl_modue.device`, which would ensure that model and device is always consistent.

[2022-09-06 12:21] jpcbertoldo opened #541 "composable config (multiple config files, each with a different section)"
**Disclaimer**: I tried to create a discussion about this to first check if the feature already exists but the "new" button was not working.

**problem**

Consider this scenario: I want to test 2 hyperparameter sets on 2 models on 2 datasets, each experiment with 5 seeds, which gives me 2 x 2 x 2 x 5 = 40 config files -- and I do want to keep files for the sake of keeping it easily reproducible.

[2022-09-06 12:21] astewzxc opened #542 "Apply data augmentation on MVTec"
I tried to apply transforms on MVTec dataset according to [Add transform_config to the main config.yaml file.](https://github.com/openvinotoolkit/anomalib/pull/156)
But I got an error:
RuntimeError: Given groups=1, weight of size [64, 3, 7, 7], expected input[32, 224, 224, 3] to have 3 channels, but got 224 channels instead

I'm not sure if I done right. I created a transform pipeline using [album

[2022-09-06 13:57] djdameln commented on #542
Anomalib models expect their inputs to be of shape [Batch x Channel x Height x Weight]. It seems that one of your transforms has changed the order of the dimensions of the input tensor. Would you mind sharing your transform.json so we could have a closer look?

[2022-09-06 14:50] djdameln commented on #324
Hi, thanks for spotting this and apologies for the late response. I agree that the latter solution, replacing by `1 - torch.max(torch.nn.Softmax()(confidence))`, would be the best way to address this. Would you be interested in submitting a PR for this so you could become a contributor?

[2022-09-06 14:51] jpcbertoldo opened #543 "Backbone/model weights source should be more obvious to figure out."
I saw `torchvision` in the requirements and immediately assumed that the pre-trained model weights would come from there (I didn't know `timm` until very recently).

I saw they are actually coming from `timm` and realized it's not a well documented information.

I have two suggestions:

1) (easy) mention it in the `readme.md` and add it to the docs.

2) (maybe easy?) make the pre-trained weights s

[2022-09-06 14:54] jpcbertoldo commented on #543
I'd be happy to do both but perhaps can the core contributors validate/reject the idea?

[2022-09-06 15:01] samet-akcay commented on #543
@jpcbertoldo, `torchvision` was previously the base package for the CNN backbones and feature extraction. Recently we made this switch to timm as it has a feature extractor, which even works for number of transformers that are used in some of the algorithms in anomalib.

I'm not sure how easy Option-2 would be since `FeatureExtractor` module might need a refactor to handle transformers.
In this ca

[2022-09-06 15:06] djdameln commented on #543
We also use torchvision for its VisionDataset module and transforms.

[2022-09-06 15:08] samet-akcay commented on #543
ah yes, of course.

[2022-09-06 15:20] djdameln commented on #543
I wouldn't be in favor of removing torchvision because it provides several useful features besides pretrained model weights.

Also, If I remember correctly, many timm models actually obtain their pretrained weights directly from torchvision. Therefore I believe that in most cases getting the pretrained weights from torchvision would give us the same weights as when getting the weights from timm. S

[2022-09-06 15:22] samet-akcay commented on #543
My bad, forget about it. I just forgot that we already refactored `FeatureExtractor` to use `timm`'s feature extraction capabilities. We cannot deprecate it. As you said, we just need to document it well.

I also agree with @djdameln. Removing `torchvision` might lead to some issues. Safest option would be to improve the documentation to let the users know that feature extraction is done by timm.

[2022-09-06 15:24] astewzxc commented on #542
`{"__version__": "1.2.1", "transform": {"__class_fullname__": "Compose", "p": 1.0, "transforms": [{"__class_fullname__": "RGBShift", "always_apply": false, "p": 0.5, "r_shift_limit": [-20, 20], "g_shift_limit": [-20, 20], "b_shift_limit": [-20, 20]}], "bbox_params": null, "keypoint_params": null, "additional_targets": {}}}`

These are all contents of the file. I applied only RGBShift, nothing else

[2022-09-06 15:41] jpcbertoldo commented on #543
Ok, so just some documentation update.

[2022-09-06 16:34] djdameln commented on #542
I see. When using a custom transform configuration, the transforms specified in the `.json` file replace the default transforms that are used when no custom configuration is passed. These [default transforms](https://github.com/openvinotoolkit/anomalib/blob/main/anomalib/pre_processing/pre_process.py#L99) consist of `Resize` (resizing to specified image size), `Normalize` (normalizing to ImageNet

[2022-09-06 17:36] jpcbertoldo commented on #543
(asking this here but i will create a proper issue if necessary)

context: `FeatureExtractor`

The `__init__` will call `_map_layer_to_idx()` to get the timm-specific indices of the submodules given by the argument `layers: List[str]`.

[`_map_layer_to_idx`](https://github.com/openvinotoolkit/anomalib/blob/27a31cda23212610478257d7c5db2c5b8b33c439/anomalib/models/components/feature_extractors/featu

[2022-09-08 02:19] J-byte-cloud commented on #539
I have another question.why not use train_data to determine early stopping intead of val_data?I think that can reduce the complexity of data set division. @ @djdameln

[2022-09-08 05:50] astewzxc commented on #542
It works, thanks for the help!

[2022-09-08 06:40] #542 closed

[2022-09-08 07:29] bsl546 commented on #324
Yes sure, I will do it today if possible.

[2022-09-08 11:31] djdameln commented on #539
There are multiple reasons for this. First and most importantly, it is in general bad practice to use the training set for early stopping. Since the model learns directly from the images in the training set, it is likely that the training loss will just keep decreasing as far as the model's capacity allows, which will lead to overfitting.

The second reason is that anomaly models are trained on no

[2022-09-08 11:42] J-byte-cloud commented on #539
Thank you so much for patient explanation.I have got it.

[2022-09-08 11:42] #539 closed

[2022-09-08 15:26] djdameln commented on #518
Closing due to inactivity. Feel free to reopen if the solution suggested above does not work.

[2022-09-08 15:26] #518 closed

[2022-09-09 05:13] sherpan opened #548 "Canvas to Numpy conversion error"
**Describe the bug**

Visualization is failing to convert from canvas/matplotlib to numpy.

**To Reproduce**

Steps to reproduce the behavior:

1. download repo and pip install . anomalib
2. set log_images to True in Visualization config file (pick any model) and run it on the mvtech dataset

or

Check out my [comet project](https://www.comet.com/sherpan/mvtec?shareable=kLHa8CnBSEb80CqXmOMSOhehA)

[2022-09-09 08:10] #324 closed

[2022-09-09 08:20] djdameln commented on #548
I can't reproduce this issue on my system, so it could be specific to apple hardware. Also, the link your provided does not point to your comet project. Could you have a look and provide the right url?

[2022-09-09 09:39] samet-akcay commented on #394
Closing this due to inactivity. Feel free to re-open in case of encountering the same issue again.

[2022-09-09 09:39] #394 closed

[2022-09-09 09:42] #302 closed

[2022-09-09 09:47] #322 closed

[2022-09-09 09:48] samet-akcay commented on #322
Sub-task of https://github.com/openvinotoolkit/anomalib/issues/20

[2022-09-09 11:30] samet-akcay commented on #449
Hi @Better-Than-Never, apologies for our late reply. We'll investigate if we could share the weights. Given that MVTec has 15 categories, number of models that we need to share would be quite huge.

Meanwhile, we will be running the benchmark results and update the readme.

[2022-09-09 11:35] samet-akcay commented on #507
Thanks @dominikgraf for your answer.

@pierrebedu, `torch_inferencer.py` is still supported.

I'm closing this issue, assuming that the issue has been resolved. Feel free to re-open if you still encounter issues.

[2022-09-09 11:35] #507 closed

[2022-09-09 16:37] sherpan commented on #548
Apologies! Updated the link to my comet project!

https://www.comet.com/sherpan/mvtec?shareable=kLHa8CnBSEb80CqXmOMSOhehA

[2022-09-13 08:55] alevangel opened #554 "How to set a threshold at inference time?"
I would like to set a threshold at test/inference time, so that I can tune the sensitivity of the model.

How would be possible to do that?

[2022-09-14 02:28] leibaoer opened #555 "Why is the loss function of fastflow negative, What are the meanings of pixel_F1Score and pixel_AUROC？Thanks"
![image](https://user-images.githubusercontent.com/113488512/190044998-994ee405-d4fc-4180-9eff-e63756b1bc2b.png)

[2022-09-14 10:29] alexriedel1 commented on #554
You can set `model.image_threshold = ... model.pixel_threshold = ... ` before inference

[2022-09-14 11:45] JACKYNIKK commented on #450
Sorry, since i have the same problem. Is there a Fix? Thank you in advance

[2022-09-14 12:03] JACKYNIKK commented on #450
I mean. i trainend my cflow model succesfully. Now i'm running inference but got the same error reported above(size of input doesn't match). Also adding squeeze(1) didn't solve it

[2022-09-14 14:10] #436 closed

[2022-09-14 14:13] ashwinvaidya17 commented on #541
From what I understand you want to perform a grid search on the combination. While multiple seeds is not supported yet, you can still try looking into the benchmarking script https://openvinotoolkit.github.io/anomalib/guides/benchmarking.html. Let me know if this works for you.

[2022-09-14 14:26] ma1rei opened #557 "Using custom performance metrics"
Hello, first: thanks for creating and maintaining this useful and accessible library!

I have an (beginner) issue that is more on my side (it seems like I'm not able to start a topic in the discussions section), but I hope you can help me still. I would like to extract/log other performance measures like confusion matrix values (FP/FN/TP/TN) or MCC. However, I'm unsure about how to go about this.

[2022-09-14 15:44] alevangel commented on #554
@alexriedel1 this is not enough. Since if I set `model.image_threshold.value = ... model.pixel_threshold.value = ...  `, this will be overwritte by the function
`trainer.predict(model=model, dataloaders=[dataloader])`, this function will also overwrite the model itself.

[2022-09-14 16:15] alexriedel1 commented on #554
Can you show me your testing / inferencing script? I'm pretty sure, calling `trainer.predict` does not affect the model

[2022-09-14 16:25] alevangel commented on #554
This is the full implementation of my script

[code]

At the end of this script my `model.image_threshold.value` will be the one tuned at training time.

[2022-09-14 16:55] alexriedel1 commented on #554
I cannot reproduce the issue with a Patchcore Model

[code]
[code]

[2022-09-14 17:54] manuelblancovalentin opened #559 "OOM error with custom dataset - python systematically crashes after a couple of epochs"
**Context**
I am required to train a model to detect anomalies on images coming from a video stream from CCTV cameras. I already built the dataset with the same format as the MVTEC dataset ("good" images in a separated folder, "anomalies" class in a different one, and "ground truth" with their segmented mask in a third one). I created my own custom yaml file which looks like this (I intentionally

[2022-09-14 18:50] alevangel commented on #554
Printing the threshold with    ` print(model.pixel_threshold.value, model.image_threshold.value)
` before and after the predict, what I get is this, I paste also the warnings I get

[code]

[2022-09-15 14:00] alexriedel1 commented on #559
PaDim isn't "trained" but is extracting image features at training time that are stored. If the features of every dataset image have been retrieved, at test time the test set image features are compared against the stored training features.
Thus you don't have to "train" PaDim for more than one epoch (except for maybe you use random image augmentations).

[2022-09-15 14:50] manuelblancovalentin commented on #559
@alexriedel1 Thank you for your reply! I was not aware of this.

In any case, I tried patchcore with wide_resnet_50 and also with resnet18, and still got the same result: the process gets killed before the first epoch even finishes. I tried this in a machine using GPU and another one without GPU (but 96GB of RAM) and still got the same result.

In the server without GPU no warning nor error messag

[2022-09-15 15:41] jpcbertoldo commented on #541
Thanks @ashwinvaidya17, I will check that. (Haven't read yet) Although I think the feature would still be useful for the sake of maintenance of these config files.

[2022-09-16 07:26] alexriedel1 commented on #559
The error is probably GPU OOM in both cases and there's no too much you can do about it besides increasing your GPU VRAM or reducing the training set size. The first is a bit more difficult so you should start with reducing the training set size.
`limit_train_batches: 1.0` in your config file defines the percentage of training data that is used for training (100%). You can decrease the value and s

[2022-09-16 13:43] JACKYNIKK commented on #450
Was a solution found for this? i'm encountering the same problem but putting squeeze(1) as suggested above doesn't work for me. Thank you in advance

[2022-09-16 13:44] JACKYNIKK commented on #450
@samet-akcay was a solution found for this? i'm encountering the same problem but putting squeeze(1) as suggested above doesn't work for me. Thank you in advance.

[2022-09-16 14:46] #532 closed

[2022-09-19 10:58] dominikgraf commented on #484
Thanks for your answer, @samet-akcay . I tried removing / commenting out 'category' as described in the lower part of my report:

- Modify config file by removing / commenting out 'category' and call `anomalib fit --config anomalib_model_config/fastflow_lightning.yaml` again
Output is:
[code]
To me it seems that, the check of 'keys()' is skipped for some reason.
Removing 'category' from my config

[2022-09-19 11:02] ashwinvaidya17 commented on #405
I am closing this as this is not reproducible in the current version on Anomalib.

[2022-09-19 11:02] #405 closed

[2022-09-19 15:25] djdameln commented on #289
This has been solved with the visualizer refactor.

[2022-09-19 15:25] #289 closed

[2022-09-20 01:03] leibaoer commented on #555
hello

[2022-09-20 09:34] aparico opened #568 "ValueError in training CFLOW"
**Describe the bug**

I'm getting this error in training CFLOW on a custom dataset. I tried PatchCore and FastFlow but I don't get the same error.

[code]

**To Reproduce**

Steps to reproduce the behavior:

I ran this command: `python tools/train.py --config anomalib/models/cflow/config.yaml`

But I added AUPRO as a metric in the config and I'm running on a custom dataset

**Hardware and Software

[2022-09-20 10:01] #484 closed

[2022-09-20 19:00] ma1rei commented on #557
I would appreciate some insight here, as it would be a great help. Thank you!

[2022-09-21 07:20] ashwinvaidya17 opened #569 "OpenVINO export error code"
**Describe the bug**

- OpenVINO model export should check for error code for `mo` command. Otherwise export fails with `meta_data.json` not found.

[2022-09-21 12:48] djdameln commented on #557
Importing metrics directly from torchmetrics without any modifications currently only works for metrics that can be constructed without passing any constructor arguments. The `MatthewsCorCoef` metric that you're trying to use requires that the `num_classes` parameter is passed when the metric is constructed. When Anomalib tries to add this metric to the collection in `metric_collection_from_names`

[2022-09-21 20:57] ma1rei commented on #557
This is a great help, thank you!

[2022-09-21 20:57] #557 closed

[2022-09-22 05:31] wooramkang commented on #540
Benchmarks are generally useful but the numbers on papers are not independently meaningful. what makes the numbers meaningful is the comparisons between numbers and their methods. Therefore, if you really duplicate the numbers on experiments of the papers that the model you want to use is relevant, you have to set your experiments up as same as what they set up, eg. Dataset, hyper-params, epoches,

[2022-09-22 07:59] djdameln commented on #540
As @wooramkang  pointed out, it is often difficult to reproduce the exact numbers reported in a paper.

Differences in model and dataset initialization and the random nature of neural network training make it close to impossible to reproduce the exact outcome of an experiment, especially when there may be small implementational differences as well.

In addition, differences in hardware and softwar

[2022-09-22 08:58] ashwinvaidya17 commented on #548
@sherpan I can see two projects (padim and dfm) but I cannot see any errors in the output. Also, the reproduce button shows up disabled on my end.
![image](https://user-images.githubusercontent.com/17232914/191704364-c5682c36-e659-432a-8d4d-e0d3b7d6cd60.png)

[2022-09-22 13:03] ashwinvaidya17 commented on #440
Thanks @alexriedel1 and @ORippler for looking into this error. I am closing this issue as dependency for lightning has been increased to 0.13.0. `onnx` conversion should work fine with those using torch 1.12. But for those using lower version of torch, refer to @alexriedel1 's solution.

[2022-09-22 13:03] #440 closed

[2022-09-22 14:12] #506 closed

[2022-09-22 14:18] ashwinvaidya17 commented on #554
@alevangel The thresholds are overwritten when `on_predict_start` is called from `LoadModelCallback`. One idea would be to manually call `torch.load` and pop `LoadModelCallback` from the callbacks list. Then updating the thresholds will work. This solution might work for your use case for now but we will try to come up with a better design.

Here is a snippet of the change to the `infer` function

[2022-09-23 06:21] #512 closed

[2022-09-23 06:22] #569 closed

[2022-09-23 09:22] alevangel commented on #554
@ashwinvaidya17 Thanks, this will work on avoid threshold overwriting.
Owhever I had to add this to make it work:

[code]

But in this way the heatmap is not very normalized at all, even if the predicted mask is good.

[2022-09-23 11:03] niclastrelle opened #577 "model training on custom dataset"
Hi,

I am trying to train a model, but getting the following error:

[code]

I already tried the fixes in the issue: https://github.com/openvinotoolkit/anomalib/issues/481

Thanks in advance

[2022-09-23 11:30] niclastrelle commented on #577
fixed the issue. As it seems the mask parameter in the config.yaml cannot be commented out but has to be leaved empty to be used in a classification task.

[2022-09-23 11:30] #577 closed

[2022-09-23 14:14] cytotoxicity8 commented on #555
The loss is likelihood as general normalizing flow models. It will be helpful to search concepts of normalizing flow. In addition, fastflow predicts whether the pixel is anomaly. Pixel AUROC means the localization(segmentation) perfomance.

[2022-09-23 14:32] ashwinvaidya17 commented on #555
@leibaoer sorry for the late response. As @cytotoxicity8 mentioned, fastflow computes the loss by maximizing the negative log jacobian. You can see it defined here https://github.com/openvinotoolkit/anomalib/blob/main/anomalib/models/fastflow/loss.py#L27. Section 3.3 of the fastflow paper (https://arxiv.org/pdf/2111.07677.pdf) might make it more clear.

[2022-09-23 16:38] samet-akcay commented on #559
@manuelblancovalentin, as @alexriedel1 pointed out, padim and patchcore are not memory efficient. If you get OOM even in a single epoch, you could try @alexriedel1's suggestion, or alternatively try to train [DRAEM+SSPCAB](https://github.com/openvinotoolkit/anomalib/tree/main/anomalib/models/draem) model. The authors claim sota results [here](https://arxiv.org/pdf/2111.09099v6.pdf) on video anomal

[2022-09-23 16:39] samet-akcay commented on #559
I'll convert this to a discussion, feel free to continue from there.

[2022-09-24 01:37] leibaoer opened #582 "Discussion"
I am a student comes from China,so my English is not very good.I want to ask you another question, and look forward to your reply.My defects can be displayed on the heatmaps, but they can't be circled on the pre mask. What parameters do I need to adjust and turn them up or down? My test results are not very good,like these.
![image](https://user-images.githubusercontent.com/113488512/192074639-7b2

[2022-09-25 04:26] Jia-Baos opened #583 "training error"
**Describe the bug**

-when i using the patchcore to training data(MVTec bottle), there appeared some error,  just like this---Validation: 0it [00:00, ?it/s], the process can't continue

**To Reproduce**

Steps to reproduce the behavior:

nothing

**Expected behavior**

C:\Users\fx50j\.conda\envs\anomalib_env\python.exe D:/PythonProject/anomalib/tools/MyTest.py
************************************

[2022-09-26 05:03] innat opened #584 "Using docker build makes torch cuda is_available to False!"
**Describe the bug**

I've GPU attached in my system. I tried to run [Dockerfile](https://github.com/openvinotoolkit/anomalib/blob/main/Dockerfile), and expected that the image will be built with GPU support. But it isn't.

[code]
[code]
[code]

**To Reproduce**

1. build image: `docker build -t test .`
2. run it: `docker run -it test`

**Expected behaviour**

As it's based on **nvidia-cuda**, I e

[2022-09-26 07:47] aparico commented on #568
I tried with the MVTech dataset and I'm still getting the same error

[2022-09-26 09:12] #533 closed

[2022-09-26 10:55] FaDavid98 commented on #294
For me the tools/inference/lightning_inference.py won't work with cflow model

[2022-09-26 11:01] samet-akcay commented on #294
Could be related to #568. I'll check it out

[2022-09-26 11:01] samet-akcay commented on #584
@ashwinvaidya17, will you be able to have a look at this?

[2022-09-26 12:16] FaDavid98 commented on #294
I am getting this error, while running lightning_inference.pyin superimpose_anomaly_map
    superimposed_map = cv2.addWeighted(anomaly_map, alpha, image, (1 - alpha), gamma)
cv2.error: OpenCV(4.6.0) /io/opencv/modules/core/src/arithm.cpp:647: error: (-209:Sizes of input arguments do not match) The operation is neither 'array op array' (where arrays have the same size and the same number of channel

[2022-09-26 12:42] #286 closed

[2022-09-26 13:52] Jia-Baos commented on #583
Thank you so much, i have adopted your recommendations and changed the model, you're right, it needs to take a long time to validation..............

[2022-09-26 13:58] samet-akcay commented on #583
We have just merged a PR #580, which partially addresses this. See #268 #533.

I'll be converting this to a Q&A in Discussions. Feel free to continue from there. Cheers!

[2022-09-26 14:06] ashwinvaidya17 commented on #584
@innat have you tried passing `--gpus=all` to docker run command? You can read more here: https://openvinotoolkit.github.io/anomalib/guides/developing_on_docker.html#run-the-docker-image?

[2022-09-26 14:20] innat commented on #584
Yes, I tried that already. I tried to run this docker file in GCP ; (Architecture: x86_64, Docker version 20.10.18, build b40c2f6). GPU is attached and necessary drived is installed (auto). Is there anything else need to care manually regarding NVIDIA Container Toolkit? In your env, is it working (`cuda.is_available() -> True ?` inside the docker?)

![image](https://user-images.githubusercontent.c

[2022-09-26 14:29] ashwinvaidya17 commented on #584
That's weird. I just build a new image and it is working. From your screenshot I can see that you passed the gpu flag at the end. Try passing it before the `-it` flag.
![image](https://user-images.githubusercontent.com/17232914/192302675-f8611f29-6698-4065-b137-39629ca75f0f.png)

[2022-09-26 14:43] #584 closed

[2022-09-26 15:46] ashwinvaidya17 commented on #548
@sherpan can you confirm if you still see this error?

[2022-09-26 18:21] samet-akcay commented on #568
@aparico, we have just created a fix for CFlow in PR #589. Can you check if you still have this issue after this fix?

[2022-09-26 18:22] samet-akcay commented on #450
@JACKYNIKK, @Vvdinosaur is right. The solution proposed above fixes the issue. I've created a PR to fix this in #589.

[2022-09-26 18:37] samet-akcay commented on #268
@fujikosu, we have just merged #580, which should address the multiple batch size problem. Let us know if you still encounter any issues. Thanks!

[2022-09-26 23:55] sherpan commented on #548
sorry guys,

that comet project was being overwritten as i was doing the integration.

here is the new [link] (https://www.comet.com/sherpan/debug-anomalib?shareable=hzv6uZxZBsfP2SRzdJjBgMlRz)

[2022-09-27 03:59] aparico commented on #568
@samet-akcay It worked successfully! Thanks!

[2022-09-27 03:59] #568 closed

[2022-09-27 06:16] amal-r1 opened #590 "Is it possible to do batchprocessing on anomalib models, especially patchcore?"
**Describe the bug**

- A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to '...'
1. Click on '....'
1. Scroll down to '....'
1. See error

**Expected behavior**

- A clear and concise description of what you expected to happen.

**Screenshots**

- If applicable, add screenshots to help explain your problem.

**Hardware and Software Con

[2022-09-27 07:29] ashwinvaidya17 commented on #590
@amal-r1 can you clarify what do you mean by batch processing?

[2022-09-27 07:58] amal-r1 commented on #590
I would like to pass multiple images to the model at the same time and get inference from them simultaneously.

[2022-09-27 08:08] ashwinvaidya17 commented on #590
This might address your usecase https://github.com/openvinotoolkit/anomalib/blob/main/tools/inference/lightning_inference.py. You can change the batch size in the Dataloader (line 70).

[2022-09-27 11:43] #450 closed

[2022-09-27 12:30] #348 closed

[2022-09-27 12:44] ashwinvaidya17 commented on #169
@marco-rudolph summing the scores before normalization leads to poor performance (as you also mentioned in the other thread). However, I don't understand relative weighting of individual maps. Do you mean storing the max value from the training set for each pooling layer and use it to normalize each layer before summing it?

[2022-09-27 12:49] samet-akcay commented on #543
Addressed with #576

[2022-09-27 12:49] #543 closed

[2022-09-27 12:50] samet-akcay commented on #304
Addressed with #576.

[2022-09-27 12:50] #304 closed

[2022-09-27 12:50] samet-akcay commented on #257
Addressed with #576.

[2022-09-27 13:29] JACKYNIKK commented on #450
@samet-akcay I'm sorry to bother again since this fix seems to be definitive and the issue is closed.  I saw that the change was just merged and i was waiting for the merge after you proposed the change 3 hours ago to test the inference on my computer again. But i really don't understand why it still gives the same error on my side. i changed anomaly_map.py in cflow with the new version just uploa

[2022-09-27 13:45] samet-akcay commented on #450
Just checked the lightning inference, which seems to be working fine on my end.

Have you tried to train CFlow on MVTec dataset?
Alternatively, are other models working fine on your system?

[2022-09-27 13:54] JACKYNIKK commented on #450
The other models' training and inference (with lightningh) on the same dataset all work for me.
It is just Cflow which throws the same error now as before changing the anomaly_map.py file some hours ago. Evidently i'm doing something wrong if both @Vvdinosaur 's problem and issue #568 were solved with these changes.  I will now try to train Cflow on MVtec as suggested. Thank you for now.

[2022-09-27 14:53] ashwinvaidya17 opened #593 "HPO with Comet backend does not work"
**Describe the bug**

- HPO fails with key error when used with comet.

**To Reproduce**

Steps to reproduce the behavior:

[code]

**Stack Trace**
[code]

- OS: Ubuntu 20.1

**Possible Solution**

1. The replace config method in sweep might be `wandb` specific. We will have to modify it to match `comet` keys.

[2022-09-27 15:56] JACKYNIKK commented on #450
Problem solved. The problem was: i have multiple anomalib installations in different enviroments in this pc. The inference command was calling the anomaly_map.py file in the enviroment i'm working which is not the one i modified (i was confusing the different installations and being new to pycharm and python in general didn't help). Anyway thank you for your patience and time and for this great re

[2022-09-27 16:59] mvidela31 opened #594 "TorchScript Export"
Hi everybody,

I was wondering if it is possible to export Anomalib's Pytorch Lighting models to [TorchScript](https://pytorch.org/docs/stable/jit.html) format. I tried to use the `to_torchscript` method [as suggested in the Pytorch lightning docs](https://pytorch-lightning.readthedocs.io/en/latest/deploy/production_advanced_2.html) on the PatchCore model with no success:
[code]
[code]
It is possi

[2022-09-27 21:47] andreluizbvs commented on #594
From my experience with TorchScript and Anomaly Detection models, it is really not that simple (e.g., just call `torch.jit.save()`). In my case, depending on the cues given by the compiler, I would try to untangle the problematic line of code to get to the core of the issue. Sometimes, by just doing this, the problem would be solve.

So, in your case, I would try to untagle the line `features = di

[2022-09-28 04:26] #254 closed

[2022-09-28 14:03] ashwinvaidya17 commented on #548
@sherpan the reproduce button is disabled for me. Maybe because you are the owner of the project. Can you checkout the latest main branch and let us know. I tried running it on CPU only model and I am able to upload images to comet dashboard. Can you also share your config file. I saw that for padim model, the value of max_epochs is set to 5. Padim model is not trained. We only collect statistics

[2022-09-28 15:19] tominator95 opened #598 "Different inference output of trainer.predict() and model(image)"
I trained a Padim model for anomaly detection and want to use a custom script for inference.
I evaluated two options for inference:
- 1st: using the trainer.predict() funtionality of PyTorch Lightning like in the [docs](https://openvinotoolkit.github.io/anomalib/tutorials/inference.html)
- 2nd: using model(image)

I thought that both options must return the same output but I get different ones.
-

[2022-09-29 08:11] #593 closed

[2022-09-29 10:41] shrinand1996 opened #600 "ONNX inference and TENSORRT optimisation"
I would like to run Padim AD on a jetson nano on a live feed. When i use torch_inference, it works but its too slow (4s per image for prediction).
After analysis, i saw that the GPU was not being used at all.
To give enough initialization time, I even ran the script for 20 times. (it reduced the inference time from 25 sec to 4 sec).
I would like to know how to perform fast inference on jetson nano

[2022-09-29 10:56] ashwinvaidya17 commented on #600
@shrinand1996 Thanks for reporting this bug. The quickest workaround your can use for now is to move the model to GPU after this line https://github.com/openvinotoolkit/anomalib/blob/main/anomalib/deploy/inferencers/torch_inferencer.py#L86 and move the image to gpu before passing it to the model https://github.com/openvinotoolkit/anomalib/blob/main/anomalib/deploy/inferencers/torch_inferencer.py#L

[2022-09-29 10:59] shrinand1996 commented on #600
@ashwinvaidya17 how to do that?

[2022-09-29 11:09] ashwinvaidya17 commented on #600
@shrinand1996 can you try this

[code]

[2022-09-29 11:24] samet-akcay commented on #600
@ashwinvaidya17, maybe we could consider adding `device` to `TorchInferencer`?

[2022-09-30 08:50] #300 closed

[2022-09-30 09:28] shrinand1996 opened #603 "How to install it on Jetson Nano?"
I would like to install it on a jetson nano but I am unable to do so. The installation works fine in a conda environment with some changes but the GPU is not utilized. I figured this was due to the python 3.8 requirement for pytorch.

I can install pytorch 1.9 on python 3.6. Jetson does not support python3.8.

How can i use this library on the jetson?

To use the model and test it out, I need to d

[2022-10-01 12:00] shrinand1996 commented on #600
Thank you for your reply.
I tried this and it run without errors. But, the inference became much slower. If i didnt specify cuda, it was around 3 sec per image. But with cuda, it is taking a whooping 130s.
What could be causing this?

[2022-10-01 15:23] gloomyfish1998 opened #606 "ERROR: No matching distribution found for torchmetrics<=0.9.3,>=0.9.1"
**Hardware and Software Configuration**

- OS: [Windows 10 64bit]
- NVIDIA Driver Version [470.57.02]
- CUDA Version [e.g. 11.0]
- CUDNN Version [e.g. v8.x]
- TensorRT8.4.x
- Pytorch1.7 +cu110
- OpenVINO Version [Optional e.g. v2022.1]
- Python3.6.5

**Additional context**
D:\python\anomalib-0.3.6>pip install -e .
Obtaining file:///D:/python/anomalib-0.3.6
  Installing build dependencies ... done

[2022-10-03 08:18] ashwinvaidya17 commented on #606
@gloomyfish1998 can you upgrade your python version to 3.7? `torchmetrics` 0.9.1 and above require `python>=3.7`. You can have a look here https://pypi.org/project/torchmetrics/0.9.1/

[2022-10-03 08:34] shrinand1996 commented on #600
Pytorch Version: 1.12.0a0+git67ece03
OS: Ubuntu 20.04
Hardware: Jetson Nano
CUDA version: 10.2.300
cuDNN: 8.2.1.32

Code:
import warnings
import skimage
from argparse import ArgumentParser, Namespace
from pathlib import Path

from anomalib.data.utils import (
   generate_output_image_filename,
   get_image_filenames,
   read_image,
)
from anomalib.deploy import TorchInferencer
from anomalib.post_p

[2022-10-03 08:39] shrinand1996 opened #608 "Inference Too slow"
I was testing the padim model with custom dataset and the inference seems very slow even on google colab. It takes around .5 sec per image which doesnt add up.
Given since padim is lightweight and using resnet18 only, the inference should be super fast..

[2022-10-03 08:39] ashwinvaidya17 commented on #600
@shrinand1996 What's your image dimensions?

[2022-10-03 08:41] shrinand1996 commented on #600
I just uploaded the config file as well. The image size is 512

[2022-10-03 09:39] ashwinvaidya17 commented on #92
Closing as the current workaround works and this change is blocked by the downstream tasks.

[2022-10-03 09:39] #92 closed

[2022-10-03 09:47] ashwinvaidya17 opened #609 "Support multi-gpu training"
# Description

- Currently we move metrics and embeddings to cpu to avoid oom issues. But this does not let us use multi-gpus during training.

[2022-10-03 12:27] ashwinvaidya17 commented on #608
Are you using the TPU or GPU instance? Here is my colab notebook and you can see that inference is faster on gpu when using the GPU instance. https://colab.research.google.com/drive/143FEAt86yzmVHT-xzP21PW6FslfAElBs?usp=sharing. Also, I am closing this issue as it seems related to https://github.com/openvinotoolkit/anomalib/issues/600. So let's continue our discussion there.

[2022-10-03 12:27] #608 closed

[2022-10-03 13:38] ashwinvaidya17 opened #610 "Add CS-Flow Model"
### Discussed in https://github.com/openvinotoolkit/anomalib/discussions/575

<div type='discussions-op-text'>

<sup>Originally posted by **djdameln** April 22, 2022</sup>
Add implementation of the CS-Flow algorithm.
See https://paperswithcode.com/paper/fully-convolutional-cross-scale-flows-for</div>

[2022-10-03 13:42] ashwinvaidya17 opened #611 "Dockerize Anomalib CI"
# Description

- Current CI has a lot of commands that are specific to a single machine. Migrate to a docker based runner

## Subtasks

- [x] Create CI setup readme
- [x] Update dockerfile if necessary
- [x] Update github action if necessary
- [x] Install runner on two macines

[2022-10-04 07:49] ashwinvaidya17 commented on #606
I am closing this issue as the minimum python version for Anomalib is 3.7

[2022-10-04 07:49] #606 closed

[2022-10-04 09:00] nguyenanhtuan1008 commented on #288
@samet-akcay so in this situation. Train 1 epoch is the same result compared to multiple epochs?

[2022-10-04 09:05] shrinand1996 commented on #600
Hello, this works on colab but i dont see a major difference in cpu vs gpu computing. Since Padim by nature is big,i guess jetson nano gpu will not be sufficient for it.
But why is padim so slow? Even on a good gpu, 2 fps is quite low.

Which anomaly detection model is best for real time detection? (>25 fps)?

[2022-10-04 10:13] shrinand1996 opened #612 "Cflow too slow"
in the paper, they explain why cflow is faster than other AD methods and is smaller. But, the inference speed is super slow even on a gpu(0.6s per image) and the model size is around 900MB.

I tried to optimise it for openvino but was unable to do so because of an error:
/usr/local/lib/python3.7/dist-packages/anomalib/models/cflow/torch_model.py:110: TracerWarning: Converting a tensor to a Python

[2022-10-04 13:13] shrinand1996 opened #613 "Inference speed is model agnostic"
All models end up with fps of around 2 on a google colab GPU.
Even if algorithms like cflow, fastflow are lightweight, the fps doesnt seem to get effected by the model type.

The issue is same with lightning inference or torchinference

[2022-10-04 13:31] aleperat97 opened #614 "Error with torch.cdist when testing Patchcore model on a custom dataset"
I tried to train and test the Patchcore model with the WOOD Anomaly Detection dataset, which can be found here: [https://euhubs4data.eu/datasets/iti-wood-anomaly-detection-one-class-classification/](url) . The dataset is divided into train, validation, test, and masks folders but I rearranged the files in order to match the dataset structure required by the .yaml file for a custom dataset (i.e., n

[2022-10-05 08:58] samet-akcay opened #615 "Implementing "CFA for Target-Oriented Anomaly Localization""
### Discussed in https://github.com/openvinotoolkit/anomalib/discussions/388

<div type='discussions-op-text'>

<sup>Originally posted by **alexriedel1** June 15, 2022</sup>
Hello,
I was just wondering if someone is already working on an anomalib implementation of https://arxiv.org/pdf/2206.04325.pdf
(https://github.com/sungwool/CFA_for_anomaly_localization)

It apparently scores higher than Patch

[2022-10-05 12:43] samet-akcay commented on #288
@nguyenanhtuan1008, yes. Training single vs multiple epoch would yield the same result for all models that use CNN for feature extraction.

[2022-10-05 17:12] JACKYNIKK opened #617 "Problem with visualizing metrics when doing inference"
**Is your feature request related to a problem? Please describe.**

Good evening, i would like to visualize the metrics during inference as happens when doing training.
In particular when i train a model at the end of the process i'm able to visualize the metrics i put in the config.yaml file on the screen and in case image_AUROC is among them also a nice graph of the AUC is saved with the images

[2022-10-05 17:58] raviy0807 opened #618 "Multi-GPU Code Crash"
**Training pipeline crashed when using 2 gpu V100 GCP machine after 3 epochs without any warning or log**

- My training data consist of 800k image which i try to train Ganomaly and FastFlow. Both of the architecure crashed after 3 epoch on gcp.

After 3 epoch, i received "killed python 2292"

Steps to reproduce the behavior:

1. Create docker Image as per the repo
2. Make 800k image dataset
3. Tr

[2022-10-06 10:48] shrinand1996 opened #620 "throughput fps vs inference fps"
When i run the benchmarking script, there are 2 throughput fps. One is shown as throughput(batch size =32)=2.06 fps and then there is one when bechmarking is complete (around 9 fps).

My question is which one is correct?
When i run inference, it takes around .5 s per image regardless of the model i choose.

How can i make the inference speed reach the speed that the benchmarking script returned?

[2022-10-07 06:44] DietlerS opened #622 "Problem while running inference"
If I run the following inference on my own dataset (which is for testing purposes the same as the classical MVTec AD) command, I get the error:

python tools/inference/lightning_inference.py --config configs\model\padim.yaml --weights results\padim\mvtec\wood\weights\model-v3.ckpt --input datasets\MVTec\wood\test\scratch

  File "\anomalib\tools\inference\lightning_inference.py", line 75, in <modu

[2022-10-07 08:30] JACKYNIKK commented on #617
For example i noticed that tools/test.py almost does what i was hoping for. So i could use it like:
"python tools/test.py --config anomalib/models/patchcore/config_custom.yaml --weight_file results/patchcore/custom_dataset/weights/model.ckpt"
and the results is exactly what i would like to obtain. But this only does the job on some of the images in the folders. For example if i have 1000 images in

[2022-10-11 14:30] #611 closed

[2022-10-11 15:34] Owaiskhan9654 commented on #622
Hey @kusstox
It looks to me like you're trying to run this windows and in your inference command

`python tools/inference/lightning_inference.py --config configs\model\padim.yaml --weights results\padim\mvtec\wood\weights\model-v3.ckpt --input datasets\MVTec\wood\test\scratch`

you are **'\'** with **'/'** . Try correcting these simply and your error might be resolved.
if still getting errors do c

[2022-10-11 19:45] dominikgraf commented on #600
@shrinand1996 FastFlow with ResNet18 backbone is at 30.8 FPS according to their paper. But it is slow as well with the anomalib implementation somehow. I tested it on a 2070 super and a 3060. I try to use it for real time anomaly detection too.

[2022-10-13 10:10] shrinand1996 opened #628 "How to use Intel NCS2 for inference?"
I would like to try the Intel Neural Compute stick2 for inference.
Can i run inference on it without any modifications in the OPENVINO inference?

And can i run it on a raspberry pi 4?

Since this library is under openvinotoolkit, i thought it will be optimised for the NCS2.

Before ordering the NCS2, i thought ill ask first if it will work here or not. And if yes, how will it work?

[2022-10-13 17:29] pmudgal-Intel opened #630 "Training on Custom dataset fails"
**Describe the bug**

- Training PaDiM on custom dataset fails abruptly. Shows no errors but gives "Killed" message.
- Attaching the screenshots with error and config modification.
- Dataset - https://www.kaggle.com/datasets/arunrk7/surface-crack-detection

**Expected behavior**

- A clear and concise description of what you expected to happen.
- Ideally, the training should conclude successfully.

[2022-10-13 17:45] pmudgal-Intel opened #631 "Patchcore & Fastflow onnx/ov export fails"
**Describe the bug**
Training patchcore or fastflow model fails if export is configured as "Openvino"
python tools/train.py --config anomalib/models/patchcore/config.yaml
In anomalib/models/patchcore/config.yaml file, change export option as "openvino"

Screenshot is attached showing the error. Seems like model is getting trained, but fails to export as onnx.
torch version - 1.11.0+cu102

**Screen

[2022-10-14 08:11] samet-akcay commented on #631
@ashwinvaidya17, should we consider replacing `cdist` by default?

[2022-10-14 08:11] ashwinvaidya17 commented on #630
Can you run again with `htop` open on a separate terminal? My suspicion is that the RAM usage is high. Linux kills jobs that take up the whole ram. What does `sudo dmesg` after the job is killed?

[2022-10-14 08:23] ashwinvaidya17 commented on #631
Since this is a recurring question I think it makes sense to replace the function. We can explore the performance difference first.

[2022-10-14 10:05] abelBEDOYA commented on #630
In my case, similarly, the training is killed. It is able to complete only one epoch.
![problem1](https://user-images.githubusercontent.com/89113493/195820224-638305d3-a884-49ff-890e-7a334b4e5df7.png)

Trying `sudo dmesg` , it show up this message:

![problem2](https://user-images.githubusercontent.com/89113493/195820440-3c010f05-3251-41bb-a024-b3af0e524630.png)

I've tried reducing the batch size

[2022-10-14 10:15] ashwinvaidya17 commented on #630
Batch size is not the issue here then. If you look at this line https://github.com/openvinotoolkit/anomalib/blob/c1f51a6ccdb7cb26cd201a846f8049ac11b4e5cc/anomalib/models/padim/lightning_model.py#L78 it stores the embeddings for the entire training data with `append`. You can try playing around with the embedding dimension in the torch model here.https://github.com/openvinotoolkit/anomalib/blob/c1f

[2022-10-17 13:58] #384 closed

[2022-10-17 19:18] samet-akcay opened #635 "Convert `adaptive_threshold` to `Enum` in configs"
Currently the threshold settings are as follows:

[code]

It would be more logical to convert `adaptive` to `method` which would be stored as `Enum`.

[2022-10-17 23:59] ngadhvi commented on #630
@pmudgal-Intel As you know, unlike traditional deep learning model training, the training with Anomalib happens in just one epoch (it's actually, fitting a latent space than training for some models). This will try to fit your whole data set into the memory. So, if your data set size increases by the total RAM you have, the training crashes.
Some suggestions:
1. Terminate all processes that consum

[2022-10-18 08:19] abelBEDOYA commented on #630
Thanks for the info, it is good to know that. Do the other models available in Anomalib work differently? That is, can they carry out an arbitrary number of epochs? (PatchCore, CFlow, GANomaly, ...)

[2022-10-18 13:38] djdameln commented on #548
Closing due to inactivity and non-reproducibility. Feel free to re-open if the problem persists.

[2022-10-18 13:38] #548 closed

[2022-10-18 14:17] #635 closed

[2022-10-18 14:39] callmesora commented on #620
I have a similar question. Trying to infer directly on a webcam so any insights here would be helpful. Thank you for the amazing library btw

[2022-10-18 15:09] ashwinvaidya17 commented on #620
The `throughput (batch size) ...` is computed from the `TimerCallback`. It is calculated based on batch inference called by `trainer.test`. The one computed when benchmarking is complete uses the `MockDataloader` and calling `predict` for each image. Hope this is clear.

As for the difference in throughput from benchmarking, I am still trying to debug the issue. One major factor is that benchmarki

[2022-10-19 03:51] montensorrt opened #638 "onnx Infer problem?"
**Is your feature request related to a problem? Please describe.**
when infer the onnx model,don‘t find meta_data.json file?
if i want infer onnx,must be using openvino libs?
maybe provide some scripts for onnx model infer ,such as using **onnxruntime** infer? or other?

[2022-10-19 04:56] samet-akcay commented on #638
Hi @montensorrt, PR #636 addresses this issue. We hope to be able to merge it by the end of today. Hope that answers your question.

[2022-10-19 07:13] montensorrt commented on #638
it's solved，but have a lit problem,why must to export_mode == "openvino",the meta_data.json file would be created,when I only export_mode == "onnx“，the file wondn't created,maybe ,should adjust the order,
Such as:
    torch.onnx.export(
        model.model,
        torch.zeros((1, 3, height, width)).to(model.device),
        onnx_path,
        opset_version=12,
        input_names=["input"],

[2022-10-19 07:13] #638 closed

[2022-10-19 11:02] yonafalinie commented on #630
Hi, similiar in my case, GANomaly, Reverse Distillation, Fastflow and STFPM works best for me with that large number of images in a dataset, and can run with the default number of epochs given in the config file. I also modify the default resizing option, from 256 to 128 and as low as 64, which may hurt the performance in the end.

[2022-10-19 17:06] pmudgal-Intel commented on #631
Patchcore works fine with torch 1.12, but fastflow still shows same error during export.

[2022-10-19 17:20] ANTZ314 opened #642 "Missing key image_default"
**Describe the bug**

- Runtime error at training ""

**To Reproduce**

Steps to reproduce the behavior:

No changes were made to the provided Colab workbook:

<a href="https://colab.research.google.com/drive/1K4a4z2iZGBNhWdmt9Aqdld7kTAxBfAmi?usp=sharing" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a> by [@bth5](https://github.com/bth

[2022-10-20 05:06] samet-akcay commented on #642
@ANTZ314, this is probably due to one of our recent PRs #637. I'll check the notebooks and fix them if needed.

[2022-10-20 15:55] jpcbertoldo opened #644 "[refactor] `enum.Enum` vs. strings and ints"
*I didn't follow the issue templates because this is a refactor, there is no bug or new feature associated.*

There are many string constants and ints out there, and enums started to be used (for instance in #572).

I think it would be nice to clean up those constants with enums to make the code clearer.

---

Example: the labels normal/anomalous are ints 0/1 respec.

One will find raw 0/1 in the

[2022-10-20 15:58] samet-akcay commented on #644
Thanks @jpcbertoldo, good point!

[2022-10-21 07:56] #617 closed

[2022-10-21 08:06] JACKYNIKK commented on #642
Same happens for me

[2022-10-21 08:54] samet-akcay commented on #642
interesting, we tried to ensure the backward compatibility, but apparently, it is broken. @JACKYNIKK, can you confirm you have this issue in the jupyter notebooks as well?

[2022-10-21 08:58] JACKYNIKK commented on #642
I'm sorry, you mean if the same problem happens if i run the lines in my local jupyter notebook instead of running it online on colab? Or is something else meant?

[2022-10-21 09:00] samet-akcay commented on #642
I meant Jupyter notebook in general, both local or cloud? Or do you also have this issue when you run train.py as well?

[2022-10-21 09:16] JACKYNIKK commented on #642
Im not sure if this is what was meant.
Anyway i tried to create a new enviroment on anaconda on my pc. Then openend a jupyter notebook in this enviroment and cloned the repository with: "!git clone https://github.com/openvinotoolkit/anomalib.git".    After that i ran:
"!pip install anomalib" and got into the right folder with :"cd anomalib".
If i run: "!python tools/train.py --config anomalib/mode

[2022-10-21 10:16] samet-akcay commented on #642
@ANTZ314, @JACKYNIKK, the problem is that the jupyter notebook installs anomalib via pip, which installs v0.3.6 now. You clone the repo via `!git clone https://github.com/openvinotoolkit/anomalib.git`, which clones the latest commit, and causes conflict with the pypi version.

**Solution**
For now, if you clone and install anomalib as the following, the problem would temporarily be resolved.

[cod

[2022-10-21 14:19] ashwinvaidya17 opened #646 "Add Data Module for Video dataset"

[2022-10-21 14:20] ashwinvaidya17 opened #647 "Add Region Based Anomaly Detection With Real-Time Training and Analysis Paper"

[2022-10-21 14:41] ashwinvaidya17 commented on #618
@raviy0807 it might be related to this https://github.com/openvinotoolkit/anomalib/discussions/641

[2022-10-21 14:42] samet-akcay commented on #647
https://breckon.org/toby/publications/papers/adey19anomaly.pdf

[2022-10-24 13:17] jpcbertoldo opened #648 "Add support for Photometric stereo (PS)-AD dataset"
[1] recently published a dataset similar to MVTec-AD with photometric stereo images -- each object has 4 images with exactly the same position  but with different illumination angles (example below).

![image](https://user-images.githubusercontent.com/24547377/197533921-044080d4-4117-4310-91c4-7836b306b2e6.png)

**Describe the solution you'd like**

Create a dataset and datamodule for this dataset

[2022-10-25 04:26] samet-akcay commented on #648
Thanks @jpcbertoldo, looking promising! Moving to feature requests for now.

[2022-10-26 04:05] rumanto00 opened #650 "Grayscale Image Source"
Is possible to use grayscale image on anomalib with RGB Resnet Transfer Learning?
and where the setting on anomalib for 1 channel image?

Thanks

[2022-10-26 16:25] glucasol opened #651 "Saving Heatmap and Segmentation Image in inference mode"
Hi, I would like to know if it is possible to save the heatmap and the segmentation image in separate images in the inference (torch inference or lightning inference)

[2022-10-27 08:48] montensorrt opened #653 "onnx converted to trt problem"
when i converted onnx model to trt, always getting a reshape error，
error are as follows：
10_27_16_38_[TRT: ERR][graphShapeAnalyzer.cpp::nvinfer1::builder::`anonymous-namespace'::ShapeNodeRemover::analyzeShapes::1285] Error Code 4: Miscellaneous (IShuffleLayer Reshape_170: reshape changes volume. Reshaping [14763] to [1].)
10_27_16_38_[TRT: ERR]ModelImporter.cpp:773: While parsing node number 170

[2022-10-28 09:21] samet-akcay commented on #653
@montensorrt, thanks for reporting this. In order for us to be able to reproduce this issue, can you provide your config file, CLI command that you ran etc? It would be easier to identify the issue. Thanks

[2022-10-28 09:37] #651 closed, assigned to djdameln

[2022-10-29 13:05] ANTZ314 opened #656 "Inference Error"
**ImportError**

- Running the Colab workbook: Following step by step,
- After successful compilation of the default (PaDiM) model is trained,
- I'm getting the following error on both "tools/inference/lightning_inference.py" inferencers:

[code]

**To Reproduce**

Follow the Google Colab steps provided, inference throws an error?

<a href="https://colab.research.google.com/drive/1K4a4z2iZGBNhWdmt

[2022-10-29 13:12] ANTZ314 commented on #656
**NOTE**
I've noticed that although command [1] throws an error, it still produces the heatmapped anomaly image in the results direcotory, whereas command [2] does not produce any results. The only difference is the argumnet "--visualization_mode full".

**Command [1]**
[code]

**Command [2]**
[code]

[2022-10-30 07:56] Jonas1302 commented on #650
I haven't tested it but you could try to use a `transform_config` like they did with DRAEM (see its [config.yaml](https://github.com/openvinotoolkit/anomalib/blob/main/anomalib/models/draem/config.yaml#L12) and [transform_config.yaml](https://github.com/openvinotoolkit/anomalib/blob/main/anomalib/models/draem/transform_config.yaml)).
Adding [ToRGB](https://albumentations.ai/docs/api_reference/augm

[2022-10-31 20:26] jpcbertoldo opened #658 "enums are not working well with the cli"
# Describe the bug

The cli is breaking due to something related with `enum.Enum`s.

Ex.: `ThresholdMethod` and `NormalizationMethod`.

I was trying to use the CLI on branch `feature/datamodules` and I could not figure out how to set their respective fields in the `.yaml`.

The classes are like this:

[code]

Somehow the key/value here are being mixed and because they are UPPER/lower case is makin

[2022-10-31 23:16] jpcbertoldo opened #659 "`anomalib.data.folder.Folder` is not properly adapting the `mask_dir` arg"
**Describe the bug**

In `anomalib/data/folder.py`, method `Folder.__init__()`.

There are 4 directory args expected to be relative to the arg `root`. One of them (`mask_dir`) does not get the root properly pre-appended.

![image](https://user-images.githubusercontent.com/24547377/199126975-477a8ed1-4116-4f57-bd80-ba561c2c7d27.png)

Because the function `make_dataset()` will deduce the mask file n

[2022-11-01 01:13] jpcbertoldo opened #662 "padim should allow the user to modify the embedding size"
**Is your feature request related to a problem? Please describe.**

`anomalib/models/padim/torch_model.py` -> `PadimModel`
currently does not allow the user to choose the number of dimensions to be retained from the extracted features

it is hardcoded with the paper's defaults

![image](https://user-images.githubusercontent.com/24547377/199137312-fb4e7b52-98b8-455e-9345-d1527d30196a.png)

**Descri

[2022-11-01 05:50] samet-akcay commented on #650
@rumanto00, I agree with @Jonas1302. You could create your custom transforms and add it to your `config.yaml` file as @Jonas1302 suggested.

For example, here is a code snippet how you could generate those transform configs via albumentations.

[code]

This would save the transforms to `transforms.yaml` file, which would be something like the following:
[code]

`ToRGB` has just been added to `albu

[2022-11-02 01:51] montensorrt commented on #653
@samet-akcay ,yes , i think just need onnx model ,it‘s could be able to reproduce this issue ,i use train.py script,producted onnx model,and Use trt official conversion script to convert onnx model.
config such as:
dataset:
  name: folder #options: [mvtec, btech, folder]
  format: folder
  path: ./dataset/
  normal_dir: normal # name of the folder containing normal images.
  abnormal_dir: abnormal

[2022-11-02 01:54] montensorrt commented on #653
@samet-akcay
I guess whether there are some dynamic parameters in the middle part of the model,
I noticed that the final output is not fixed：
![image](https://user-images.githubusercontent.com/56708677/199376158-a7f73d8e-1eae-4634-bec1-91b0d88820dd.png)

[2022-11-02 01:55] montensorrt commented on #653
@samet-akcay Whether it can be set by parameters or how to make it a fixed parameter

[2022-11-02 02:12] montensorrt commented on #653
@samet-akcay
I guess it's because of inheriting the DynamicBufferModule module, such as:
torch_model.py file, 49 lines such as PatchcoreModel(DynamicBufferModule, nn.Module):

[2022-11-03 11:27] WAKCL opened #670 "Config-Files have wrong structure?"
**Describe the bug**

- It seems like the default config files are completley in the wrong structure. When i use e.g. configs/model/padim.yaml, i get an error for a missing key: "project". After adding project, it tells me its missing project.path. After fixing that, it tells me its missing metrics.threshold. After fixing that, it tells me its missing metrics.threshold.adaptive. And so on.

**To R

[2022-11-03 11:31] WAKCL commented on #670
Here are my installed dependencies and their versions:
[installed_libs.txt](https://github.com/openvinotoolkit/anomalib/files/9927876/installed_libs.txt)

The used config file looks like this:
[code]

[2022-11-03 11:40] samet-akcay commented on #670
Hi @WAKCL, this config file is for the new CLI that we plan on merging. If you want to use `python tools/train.py --config` you need to use the old config format. For padim model, it is located [here](https://github.com/openvinotoolkit/anomalib/blob/main/anomalib/models/padim/config.yaml).

For example,
`python tools/train.py --config anomalib/models/padim/config.yaml`

[2022-11-03 19:45] jpcbertoldo opened #677 "[draft] `AUROC` seems not to respect the device given by the trainer"
**Disclaimer**

It's a draft. I'll come back to write proper details.

**Describe the bug**

I am running my model on a machine with 4 GPUs.
I configed the trainer to use GPU 2.
Someone else is using GPU 0.
I get an error of memory allocation in GPU 0 in the class `AUROC`.

See image below.

Btw, why is the metric being redefined if `torchmetrics` already has it?
Is it because of  `generate_figure

[2022-11-03 20:57] jpcbertoldo commented on #677
`AUROC` in `anomalib/utils/metrics/auroc.py` inherits from `ROC` in `torchmetrics/classification/roc.py`

in `ROC.update()` i found:

![image](https://user-images.githubusercontent.com/24547377/199832498-14dc56d6-a343-4860-8c94-683527a49302.png)

`preds` is just an argument of the function so far

is it supposed to be on `cpu`?

[2022-11-04 07:06] monkeycc opened #678 "urllib.error.URLError: <urlopen error [WinError 10061]，Loading pretrained weights from url Downloading"
`python tools/train.py --model cflow`

[code]

You can't visit github in China

Can. pth customize files ?

[2022-11-04 11:43] monkeycc opened #679 "Custom Dataset Config-Files have wrong structure? omegaconf.errors.ConfigAttributeError: Missing key model,object_type=dict"
**Describe the bug**

- A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:

`cflow Rename AI
`
1.  `python tools/train.py --config  anomalib/models/AI/config.yaml`
2. error
[code]

3. configuration file

[code]

4. data set：

[code]

**Expected behavior**

- A clear and concise description of what you expected to happen.

**Screenshots**

- If a

[2022-11-04 12:12] #679 closed

[2022-11-04 14:32] djdameln opened #680 "Check if mask files exist when creating Folder dataset"
Repeat the changes of https://github.com/openvinotoolkit/anomalib/pull/660 on the [feature branch](https://github.com/openvinotoolkit/anomalib/tree/feature/datamodules) of the datamodules refactor.

[2022-11-04 14:33] djdameln opened #681 "Datamodules Refactor"
Changes to be made to the datamodules [feature branch](https://github.com/openvinotoolkit/anomalib/tree/feature/datamodules) before merging into main.

- [x] Create and implement new design for modules in `anomalib/data`.
- [x] https://github.com/openvinotoolkit/anomalib/issues/646
- [x] Add synthetic validation set functionality.
- [x] Remove `PreProcessor` class and use raw transforms instead.
-

[2022-11-04 18:57] jpcbertoldo opened #685 "unused function `anomalib.utils.metrics.get_metrics()`"
**Describe the bug**

Unless my vscode is not properly working, I think the function `anomalib.utils.metrics.get_metrics()` only exists to be tested :upside_down_face:

![image](https://user-images.githubusercontent.com/24547377/200053961-7cb1a5cd-4ba0-45b1-bee6-67c12f2052d8.png)

Could we get rid of it?

If it's somehow useful for the test itself then it should be defined in the test module IMO.

[2022-11-05 03:33] monkeycc opened #686 "I only have normal pictures Diagram without defects"
I only have normal pictures

Diagram without defects

What should the configuration file do

[code]

Model Type: Classification

What model should I choose

[2022-11-05 07:37] jpcbertoldo commented on #677
I figured out it's a misconfiguration of the machine.

[2022-11-05 07:37] #677 closed

[2022-11-05 07:53] jpcbertoldo opened #687 "impossible to pass args to the metrics"
**Is your feature request related to a problem? Please describe.**

I'd like to pass arguments to the metric classes in the config file.

[`metric_collection_from_names()`](https://github.com/openvinotoolkit/anomalib/blob/3de3eefc58aee6538a7b2a8b23cf62d287164b1b/anomalib/utils/metrics/__init__.py#L43) instantiates the metric modules by receiving a list of names of metrics, which are extracted from

[2022-11-05 17:09] innat commented on #686
You may need some bad samples.

[2022-11-05 20:24] hardikdava opened #690 "What model can be used for realtime inference on edge devices?"
I want to know the possiblity of doing realtime inference on edge devices like jetson devices or myriad-x.

- what model is fast enough to run on edge devices?
- is it possible to replace feature extractor from resnet to some small feature extractor?

It would be great if i get some interesting insights. Thank you.

[2022-11-07 05:35] montensorrt commented on #653
@samet-akcay ，I found and solved this problem,
It is a problem due to padding operation, replace this operation.

[2022-11-07 05:35] #653 closed

[2022-11-07 07:38] aytek03 commented on #679
@monkeycc Have you solved this problem?

[2022-11-07 09:09] toon-vc opened #691 "Training a model with only normal data, gettting "RuntimeError: Found 0 abnormal images""
**Describe the bug**

When training a model with only normal images, getting "RuntimeError: Found 0 abnormal images "

![image](https://user-images.githubusercontent.com/16069303/200269184-0530d9e3-5107-4499-a2a4-85bacccfe6e0.png)

The problem can be fixed by removing the abnormal dir in *make_dataset* in the folder module:
`dirs = {"normal": normal_dir}`
instead of
`dirs = {"normal": normal_dir,

[2022-11-07 09:15] samet-akcay commented on #679
@aytek03, please refer to #671.

[2022-11-07 09:17] samet-akcay commented on #653
@montensorrt, for a future reference, can you elaborate how exactly you fixed the problem? It could be useful for other users. We might also potentially create a PR to fix it.

[2022-11-07 09:21] samet-akcay commented on #691
Duplicate of #277.

@toon-vc, this is something we are currently working on. It will be available [here](https://github.com/openvinotoolkit/anomalib/blob/feature/datamodules/tools/train.py#L66-L70) once we merge this [feature branch](https://github.com/openvinotoolkit/anomalib/tree/feature/datamodules) to main.

[2022-11-07 09:21] #691 closed

[2022-11-07 09:29] samet-akcay commented on #690
@ashwinvaidya17, are you gonna be able to provide some insights here?

[2022-11-07 09:33] samet-akcay commented on #686
@monkeycc, it's unfortunately not possible with the current version. We are currently working on it in [this feature branch](https://github.com/openvinotoolkit/anomalib/tree/feature/datamodules). It may not be super stable, but you might want to try it out if you don't want to wait for it to be merged into the main.

There is already an issue for this here #277, so closing this one. Feel free to c

[2022-11-07 09:33] #686 closed

[2022-11-07 10:36] astewzxc opened #693 "Can this run on Ubuntu?"
Hi, thanks to this great work.
I've run Anomalib on Windows 10 PC, and got good outcome.
However, when I try to run it on Ubuntu, I found the number of model parameters are 24.9M(68.9M on Windows),and got significant lower performance compare to that on Windows.

Ubuntu 20.04
NVIDIA CUDA 11.6.0
PyTorch 1.11.0a0+17540c5c
TensorRT 8.2.3

[2022-11-07 11:57] #659 closed

[2022-11-07 12:48] samet-akcay commented on #693
Hi @astewzxc, can you provide more information to be able to reproduce the issue? For example, your config file, the CLI command you ran etc?

[2022-11-07 15:16] #600 closed

[2022-11-08 12:29] #687 closed

[2022-11-08 13:33] innat commented on #277
@djdameln
In such cases, where all data are good (when task=segmentation, pixel mask all 0), what will be the metrices to evaluate model performance? (Partially [related](https://github.com/openvinotoolkit/anomalib/discussions/689)).

[2022-11-08 14:07] #662 closed

[2022-11-08 14:40] jpcbertoldo opened #699 "Wrong config reading in cflow?"
https://github.com/openvinotoolkit/anomalib/blob/15625d6dd09b5dcf043aa4f4969c1c968173fe6e/anomalib/models/cflow/lightning_model.py#L189

Shouldn't it be `fiber_batch_size=hparams.model.fiber_batch_size` ?

Instead of `fiber_batch_size=hparams.dataset.fiber_batch_size`. All other parameters are from `hparams.model`.

---

There is also this inconsistent `permute_soft=hparams.model.soft_permutation`

[2022-11-08 14:46] jpcbertoldo commented on #699
If that is the case, https://github.com/openvinotoolkit/anomalib/pull/700 fixes it.

[2022-11-08 15:58] astewzxc commented on #693
The other thing I forgot to mentioned is that the version of Amomalib I run on Ubuntu is newer than on Windows.
If I ran the older version(version ran on Windows), an error occured:
omegaconf.errors.ConfigAttributeError: Missing key pre_trained

[2022-11-08 16:05] astewzxc commented on #693
The config file of the older version is below:

dataset:
  name: mvtec #options: [mvtec, btech, folder]
  format: mvtec
  path: ./datasets/MVTec
  task: segmentation
  category: grid
  image_size: 224
  train_batch_size: 32
  test_batch_size: 1
  num_workers: 8
  transform_config:
    train: null
    val: null
  create_validation_set: false
  tiling:
    apply: false
    tile_size: null
    stride

[2022-11-09 12:41] code10086web opened #703 "Patchcore model is less accurate than before in the current code?"
The accuracy of model A is getting worse with each change.

[2022-11-09 16:05] jpcbertoldo opened #704 "Something weird happening with the tox environment and the mvtec path"
**Describe the bug**

While trying to run pytest locally i ran into a problem related to the paths inside mvtec.

**To Reproduce**

I ran pytest using the tox environment locally on the branch main with

[code]

With the env var `ANOMALIB_DATASET_PATH`:

[code]

and got

[code]

in the logs i can see

[code]

and

[code]

**Expected behavior**

It should be properly finding mvtec's dr.

[2022-11-09 16:06] jpcbertoldo commented on #704
Full logs below

[code]

[2022-11-09 22:12] alexriedel1 opened #705 "Patchcore num_neighbors fixed to 1"

[2022-11-09 22:22] #705 closed

[2022-11-10 09:03] astewzxc commented on #693
I found out it might be the version problem. I ran v0.3.2 on Ubuntu and got good results.

[2022-11-10 11:25] wulongjian opened #706 "Can't convert fastflow from .onnx to openvino format."
**Describe the bug**
I use fastflow (ResNet18) to train the mvtec dataset, and I want convert the trained model to the openvino format, but I get errors as follows.
*Exception: Exception occurred during running replacer "REPLACEMENT_ID (<class 'extensions.front.LayerNorm.LayerNorm'>)": The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()*

**My config optimiz

[2022-11-10 13:11] alexriedel1 opened #707 "GCAD (Global Context Anomaly Detection)"
The method and the accompanying dataset can be found here:
https://link.springer.com/content/pdf/10.1007/s11263-022-01578-9.pdf

The method allows to also find "logical" anomalies in an image
![image](https://user-images.githubusercontent.com/54716527/201100447-3388033f-e5f6-4314-a169-37a1d1a42602.png)

[2022-11-12 03:25] Leonardo0325 commented on #653
Hi，Can you explain how to solve this problem，Please show the code, thank you！

[2022-11-15 12:17] Tekno-H commented on #502
Hello,
Great work you have done here.
I am trying to export a trained CFLOW model to onnx format, I don't want to retrain the model.
How can I achieve that ?
The posted link is dead,  and everything on the documentation suggests to re-train the model with the export flag enabled.
Also I want to use a different back-end, MobileNetV3_large for example.
What changes should I do?
I have spent several

[2022-11-16 11:01] spoorgholi74 opened #715 "PatchCore results are much worth than reported"
**Describe the bug**

- A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to the Main directory
- Run python tools/train.py --model patchcore

**Expected behavior**

The image AUCROC to be .98 for the category carpet of the MvTech dataset
but it is very low.
Fastflow work as expected so the problem seems to be patchcore.
**Screenshots**

[2022-11-16 13:11] Tekno-H opened #716 "Use MobileNetV3_Large backbone"
As the title suggests,
I want to replace the Resnet based backbones with the lighter Mobilenet version.
What changes should be made in you repository to support such networks?
I am using the Cflow model.

[2022-11-17 12:47] ashwinvaidya17 opened #717 "Deprecating Timm"
# Description

- Currently we support Timm feature extractor. When it has been ascertained that we can use torchfx in otx, timm needs to be removed from the library. The users can use the torchfx feature extractor with timm models.

- With a single class we can also make a couple of changes
    - [ ] Include feature maps computation in the feature extractor class (`dryrun_find_featuremap_dims`)

[2022-11-18 08:16] rumanto00 opened #718 "Change precision from 32 to 16"
On the config file, there is a precision entry said 32. is this mean FP32?
When I change to 16 (mean FP16) it generates an error as follows:

How to change precision on training & Inference?

Thanks

2022-11-18 15:04:01,672 - anomalib.data - INFO - Loading the datamodule
2022-11-18 15:04:01,673 - anomalib.pre_processing.pre_process - WARNING - Transform configs has not been provided. Images will b

[2022-11-18 15:19] #716 closed

[2022-11-18 15:36] samet-akcay commented on #715
@spoorgholi74, looks like some of the recent changes made in patchcore score computation caused this issue.

[code]

You could use v0.3.6 until we fix the problem.

[2022-11-18 15:37] samet-akcay commented on #707
Thanks @alexriedel1, it's on our todo list. I'll move this to feature requests.

[2022-11-18 20:24] glucasol opened #720 "Export to OPENVINO"
I would like to know if the models exported to Openvino IR are yet optimized. Or if we can improve the performance/speed of the inference using the exported model.

The inference using torch (with .ckpt model) should be slower than the inference using openvino (with .bin model) ?

Thanks!

[2022-11-19 09:15] vnk8071 opened #721 "Add pipeline training and inference Patchcore UI"
I have already build a pipeline for training and inferencing Patchcore model on website. I want to contribute my pipeline for everyone can use it to quickly demo. Where folder can I create pull request in anomalib repo?

My pipeline Github: https://github.com/vnk8071/anomaly-detection-in-industry-manufacturing

With training:
- User can add custom dataset from zip file with MVTec format
- I use de

[2022-11-19 09:17] vnk8071 commented on #721
@ashwinvaidya17 I would like to be assigned and can see my repo.

[2022-11-20 10:42] dangmanhtruong1995 opened #722 "How can I train and test on a dataset with training, validation and testing set in file ?"
Hi, I am trying to train a dataset for anomaly detection. My data file structure is basically same as with Keras's ImageDataGenerator: One train, val and test set, each have folders of each class (here is normal and abnormal). However I have noticed that in the example on the main page in github you had this:

I have noticed that there is only normal_test_dir and not abnormal_test_dir. May I ask h

[2022-11-21 05:47] samet-akcay commented on #722
@dangmanhtruong1995, it is because anomaly tasks do not need `abnormal` images during training, but only `normal` images. In this case, any `abnormal` images will be part of the test directory.

One of the limitations of the `Folder` dataset format is that it is missing `validation` path support. It always creates the validation set by splitting the test set. We could perhaps consider adding optio

[2022-11-21 06:22] hanhan1990 opened #724 "Fastflow onnx export fails"
Fastflow onnx export fails

![1669011725(1)](https://user-images.githubusercontent.com/61170428/202979544-aa26b95a-defe-4400-8ea3-c6b725df90a7.png)

OS: Windows10
-torch: 1.12.0
pytorch-lightning: 1.6.5
-anomalib: 0.3.7
OpenVINO Version [v2021.4.2]
onnx: 1.12.0

[2022-11-21 08:33] ashwinvaidya17 commented on #721
@vnk8071 That's a great pipeline you have build using anomalib! It is nice that you support training as well. One comment is that using only patchcore is a bit limiting. You can have a look at this script https://github.com/openvinotoolkit/anomalib/blob/main/tools/inference/gradio_inference.py. Maybe you can extend your `app.py` to something similar here so that you can support more models. You ca

[2022-11-21 08:43] DeepSpace98 commented on #703
I also find this problem；I use mvtec‘s zipper to test， find that the score like this：
[code]
There is a gap with the benchmark.  Other categories as same as this.

[2022-11-21 08:45] vnk8071 commented on #721
Thank you for the reply. I will refactor the code with more backbones and models like https://github.com/openvinotoolkit/anomalib/blob/main/tools/inference/gradio_inference.py and maybe create folder name example in tools. Because I use Flask API and the app.py link with each part together and really hard to break them. How you feel with my idea? @ashwinvaidya17

[2022-11-21 09:09] ashwinvaidya17 commented on #721
Not sure if I understand what you mean. What does app.py link with?

[2022-11-21 09:14] vnk8071 commented on #721
My app.py link with database when user training (weight of model ) and output of inference. And with Flask, it links with templates and static folder and structure of code when I break down them from one file.

[2022-11-21 09:25] #699 closed

[2022-11-21 09:40] ashwinvaidya17 commented on #721
Ah in that case we can always have a folder named `gradio_inference` with the relevant files and a README to get started.

[2022-11-21 10:10] #685 closed

[2022-11-21 13:55] vnk8071 commented on #721
Oki I will refactor code follow structure of gradio_inference.py and create PR for discuss details.  Thank you for your time answer @ashwinvaidya17

[2022-11-21 13:55] #721 closed

[2022-11-21 14:22] samet-akcay commented on #715
@code10086web and @DeepSpace98, can you confirm if you are able to get higher performance when you checkout v0.3.6?

[2022-11-22 05:19] samet-akcay commented on #724
@hanhan1990 thanks for reporting this. Looks like this is a duplicate of #706. I'm closing this one. You could track the progress from there.

[2022-11-22 05:19] #724 closed

[2022-11-22 05:22] samet-akcay commented on #693
Thanks for the update @astewzxc. I'm moving this to discussions now.

[2022-11-22 05:27] samet-akcay commented on #678
@monkeycc, not sure if I understand the question. Looks like you cannot download the timm weights. Can you somehow manually download the weights?

[2022-11-22 05:28] samet-akcay commented on #678
I'm converting this to a discussion and discuss it there.

[2022-11-22 05:31] samet-akcay commented on #706
@wulongjian, thanks for reporting this. Looks like this has already been reported.

Duplicate of #631

[2022-11-22 05:31] #706 closed

[2022-11-22 06:05] DeepSpace98 commented on #715
Yes，v0.3.6 is great

[2022-11-22 13:45] abdelmageed95 opened #728 "How can I get the segmentation results as a separate image"

[2022-11-23 08:58] MhdKAT commented on #653
Came across the same problem. It would be helpful to explain more how this can be solved! Thank you!

[2022-11-23 21:15] seanko29 opened #730 "RuntimeError: Tensors must be CUDA and dense"
**Describe the bug**

Hello. First of all, thank you for the awesome library.
I am having RuntimeError: Tensors must be CUDA and dense when I use multiple-gpu on DDP.
I change gpu settings in the trainer in config.yaml as stated below.
I am also trying to train the models on custom dataset. I guess this is not the problem that causes runtime error on cuda (not sure...).

I am trying to run on 4 ti

[2022-11-24 11:56] seanko29 commented on #730
Thank you for the answer @ashwinvaidya17 !!
Just a follow up question: Aside from padim, do i have to remove stuffs in the lightningmodule for other models as well? (I guess I have to find those stuffs manually?)

Thank you again :)

[2022-11-24 12:08] seanko29 opened #731 "Changing ratio for create_validation_set"
**Describe the bug**

Good evening. I have a small newbie question when using the library.
Whenever we use custom dataset (or simply mvtec),
`create_validation_set
`
is set True which the test set is divided into 50/50 for validation and test set respectively. Is there any way to change this ratio?
For example, if I have 1,000 test images, I want to use 300 for validation and 700 for test images.

[2022-11-25 14:23] nixczhou commented on #288
hi regarding this, how to do augmentation in patchcore. Seems like patchcore need heavy augmentation right?

[2022-11-25 14:27] nixczhou opened #734 "Patchcore Tiling is False in Config.Yaml"
Hi, I saw the patchcore config.yaml is having tiling=false. If this is false, does this means it will not split the image to patch and directly input whole image for feature extraction? Does this means it is different from paper implementation?

**To Reproduce**

Steps to reproduce the behavior:

1. Go to anomalib/patchcore/config.yaml
2. See the tiling is set to false

**Hardware and Software Con

[2022-11-28 08:39] djdameln commented on #718
Hi, the `precision` argument in the Anomalib config is inherited from the Pytorch Lightning trainer arguments (see PL's [documentation](https://pytorch-lightning.readthedocs.io/en/stable/api/pytorch_lightning.trainer.trainer.Trainer.html) on this topic). Based on a quick search on the PL forums, it seems that changing the precision argument leads to an error when no loss function is defined (https

[2022-11-28 09:13] djdameln commented on #731
Currently, it is not possible to change the val/test split ratio from the default value of 0.5. However, we are currently working on a major [refactor of the datamodules](https://github.com/openvinotoolkit/anomalib/issues/681), so we could consider adding a configurable parameter for your use case. We will investigate the possibility and post any updates here.

[2022-11-28 10:12] seanko29 commented on #731
Thank you for your effort :) !

[2022-11-28 10:13] seanko29 commented on #731
Thank you for your effort 👍

[2022-11-28 13:08] ashwinvaidya17 opened #739 "Expose model optimizer commands for OpenVINO export"
# Description

- Currently we do not expose all the openvino model optimizers parameters to the users when exporting models. This will we useful for the users who want to use the extra features such as FP16.

# Possible solutions

- We can expose all the mo parameters from the sub-parser in the new cli. `anomalib export openvino <mo parameters>`
- We need to add kwargs to the export method to pass

[2022-11-29 10:33] ashwinvaidya17 opened #742 "[Bug]: Docs build fails in CI"
### Describe the bug

Docs build fails in the CI for `tiling.ipynb` notebook.

One reason can be the jupyter installation in the base anaconda environment.

### Dataset

N/A

### Model

N/A

### Steps to reproduce the behavior

NA

### OS information

CI

### Expected behavior

Docs build should pass

### Screenshots

_No response_

### Pip/GitHub

pip

### What version/branch did you use?

main

[2022-11-30 05:45] yesjuhyeong opened #746 "[Bug]: Some data used for both train and test when using folder dataset format with random seed"
### Describe the bug

I'm using Anomalib for anomaly detection.
My custom dataset is very small size and it is not split to train/validation(test).
So, I split data with anomalib/data/utils/split.py "split_normal_images_in_train_set" function.

But, after create self.train_data & self.test_data at anomalib/data/folder.py,
Some data exists in self.train_data and self.test_data.

I think the data us

[2022-11-30 07:38] rumanto00 commented on #718
Hi djdamein,

Thank you for your explanation.
So if we want to reduce precision should be done after training?
is this count as a bug or a future request?

Regards,
Yuliadi

[2022-11-30 12:56] lekshmijk opened #747 "Unsure on how to use on custom dataset"
Hi! I'm kind of a newbie here so I have a small custom dataset which I'd like to use anomalib on..
the structure of the dataset is a bit different from MVTec ( mainly I don't have a folder with the ground truth images):

dataset
|-- battery_cell
|-----|----- test
|-----|--------|------ good
|-----|--------|------ not good
|-----|----- train
|-----|--------|------ good

I'm not sure how to go about

[2022-11-30 13:04] djdameln commented on #718
I can't think of a theoretical motivation why mixed precision would not be available for models that do not report loss, like PatchCore. So I don't see any reason why PL would not support this. I therefore feel that this issue is more on the Pytorch Lightning side than on the Anomalib side.

If you're using Anomalib's [PL inferencer](https://github.com/openvinotoolkit/anomalib/blob/main/tools/infe

[2022-11-30 15:59] rumanto00 commented on #718
Hi djdamein,

Thank You again for your detail and clear explanations. I will try to do MO after training as you mention for intel hardware.

For intel hardware, is new Intel ARC are support by Openvino while doing inference?

Thanks,
Yuliadi.

[2022-11-30 21:36] scalers-ai opened #749 "[Bug]: Anomalib Colab Test.ipynb Notebook does not work (RUNTIME ERROR)"
### Describe the bug

Is this a version compatibility issue?

Anomalib Colab Test.ipynb

<img width="963" alt="image" src="https://user-images.githubusercontent.com/91742529/204906144-fbe35ba5-944a-4baf-9ced-2f000e4d275e.png">

### Dataset

MVTec

### Model

PADiM

### Steps to reproduce the behavior

1. Follow instructions from GitHub here: https://github.com/openvinotoolkit/anomalib
2. Run the e

[2022-11-30 23:30] Anurag-Shah opened #750 "[Bug]: torchmetrics.functional.auc deprecated"
### Describe the bug

Needs to be replaced with torchmetrics.utilities.compute.auc

Affects following files:

- anomalib/utils/metrics/aupr.py
- anomalib/utils/metrics/aupro.py
- anomalib/utils/metrics/auroc.py

### Dataset

N/A

### Model

N/A

### Steps to reproduce the behavior

Just try to run any dataset on a fresh install (in a fresh conda environment).

### OS information

OS information:
-